Repository fantastic-admin/basic: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint . --cache --fix, stylelint src/**/*.{css,scss,vue} --cache --fix --allow-empty-input

`FaCopyright` 组件改用 unocss 实现样式
  src/ui/components/FaCopyright/index.vue
  src/views/login.vue
Due: eslint . --cache --fix, stylelint src/**/*.{css,scss,vue} --cache --fix --allow-empty-input

refactor: `FaCopyright` 组件改用 unocss 实现样式
  src/ui/components/FaCopyright/index.vue
  src/views/login.vue
Due: eslint . --cache --fix, stylelint src/**/*.{css,scss,vue} --cache --fix --allow-empty-input

浏览器不支持 color-mix 时，框架主题不会同步至 element-plus 主题
  src/ui/provider/index.vue
Due: eslint . --cache --fix, stylelint src/**/*.{css,scss,vue} --cache --fix --allow-empty-input

fix: 浏览器不支持 color-mix 时，框架主题不会同步至 element-plus 主题
  src/ui/provider/index.vue
Due: eslint . --cache --fix, stylelint src/**/*.{css,scss,vue} --cache --fix --allow-empty-input

layouts 布局支持 `<Suspense>`
  src/layouts/index.vue
Due: eslint . --cache --fix, stylelint src/**/*.{css,scss,vue} --cache --fix --allow-empty-input

feat: layouts 布局支持 `<Suspense>`
  src/layouts/index.vue
Due: eslint . --cache --fix, stylelint src/**/*.{css,scss,vue} --cache --fix --allow-empty-input

移除 unocss-preset-scrollbar 依赖
  package.json
  pnpm-lock.yaml
  src/router/modules/plugin.example.ts
  uno.config.ts
Due: eslint . --cache --fix

refactor: 移除 unocss-preset-scrollbar 依赖
  package.json
  pnpm-lock.yaml
  uno.config.ts
Due: eslint . --cache --fix

在路由守卫中捕获异常时，添加登出逻辑
  src/router/guards.ts
Due: eslint . --cache --fix

fix: 在路由守卫中捕获异常时，添加登出逻辑
  src/router/guards.ts
Due: eslint . --cache --fix

新增 `FaSlider` 组件
  src/router/modules/component.example.ts
  src/types/components.d.ts
  src/ui/components/FaSlider/index.vue
  src/ui/components/FaSlider/slider/Slider.vue
  src/ui/components/FaSlider/slider/index.ts
  src/views/component_built_in_example/slider.vue
Due: eslint . --cache --fix, stylelint src/**/*.{css,scss,vue} --cache --fix --allow-empty-input

feat: 新增 `FaSlider` 组件
  src/types/components.d.ts
  src/ui/components/FaSlider/index.vue
  src/ui/components/FaSlider/slider/Slider.vue
  src/ui/components/FaSlider/slider/index.ts
Due: eslint . --cache --fix, stylelint src/**/*.{css,scss,vue} --cache --fix --allow-empty-input

修改圆角系数类型为 `number`
  package.json
  pnpm-lock.yaml
  src/layouts/components/AppSetting/index.vue
  src/types/global.d.ts
Due: eslint . --cache --fix, stylelint src/**/*.{css,scss,vue} --cache --fix --allow-empty-input

refactor: 修改圆角系数类型为 `number`
  package.json
  pnpm-lock.yaml
  src/layouts/components/AppSetting/index.vue
  src/types/global.d.ts
Due: eslint . --cache --fix, stylelint src/**/*.{css,scss,vue} --cache --fix --allow-empty-input

增加 cursor 配置
  .cursor/extensions.json
  .cursor/settings.json
Due: none

feat: 增加 cursor 配置
  .cursor/extensions.json
  .cursor/settings.json
Due: none

优化子菜单过渡效果，支持两套实现方案
  src/layouts/components/Menu/sub.vue
Due: eslint . --cache --fix, stylelint src/**/*.{css,scss,vue} --cache --fix --allow-empty-input

perf: 优化子菜单过渡效果，支持两套实现方案
  src/layouts/components/Menu/sub.vue
Due: eslint . --cache --fix, stylelint src/**/*.{css,scss,vue} --cache --fix --allow-empty-input

重写路由 `push/go/replace` 函数，移除 useTabbar 中 `open/go/replace` 函数
  src/router/extensions.ts
  src/router/index.ts
  src/utils/composables/useTabbar.ts
  src/views/tab_example/index.vue
Due: eslint . --cache --fix, stylelint src/**/*.{css,scss,vue} --cache --fix --allow-empty-input

refactor!: 重写路由 `push/go/replace` 函数，移除 useTabbar 中 `open/go/replace` 函数
  src/router/extensions.ts
  src/router/index.ts
  src/utils/composables/useTabbar.ts
Due: eslint . --cache --fix

样式优化
  src/layouts/components/Menu/index.vue
  src/layouts/components/Menu/item.vue
  src/layouts/components/Menu/sub.vue
  src/layouts/components/SubSidebar/index.vue
Due: eslint . --cache --fix, stylelint src/**/*.{css,scss,vue} --cache --fix --allow-empty-input

style: 样式优化
  src/layouts/components/Menu/index.vue
  src/layouts/components/Menu/item.vue
  src/layouts/components/Menu/sub.vue
  src/layouts/components/SubSidebar/index.vue
Due: eslint . --cache --fix, stylelint src/**/*.{css,scss,vue} --cache --fix --allow-empty-input

更新依赖
  package.json
  pnpm-lock.yaml
  uno.config.ts
Due: eslint . --cache --fix

chore: 更新依赖
  package.json
  pnpm-lock.yaml
  uno.config.ts
Due: eslint . --cache --fix

优化icons生成脚本
  scripts/generate.icons.ts
Due: eslint . --cache --fix

refactor: 优化icons生成脚本
  scripts/generate.icons.ts
Due: eslint . --cache --fix

revert: 回滚移除 `<Suspense>`
  src/layouts/index.vue
Due: eslint . --cache --fix, stylelint src/**/*.{css,scss,vue} --cache --fix --allow-empty-input

回滚移除 `<Suspense>`
  src/layouts/index.vue
  src/views/component_built_in_example/button.vue
Due: eslint . --cache --fix, stylelint src/**/*.{css,scss,vue} --cache --fix --allow-empty-input

更新依赖
  package.json
  pnpm-lock.yaml
Due: none

chore: 更新依赖
  package.json
  pnpm-lock.yaml
Due: none

chore: release v5.2.0
  package.json
Due: none

`FileUpload` 组件增加 `onRemove` 事件回调
  src/components/FileUpload/index.vue
Due: eslint . --cache --fix, stylelint src/**/*.{css,scss,vue} --cache --fix --allow-empty-input

feat: `FileUpload` 组件增加 `onRemove` 事件回调
  src/components/FileUpload/index.vue
Due: eslint . --cache --fix, stylelint src/**/*.{css,scss,vue} --cache --fix --allow-empty-input

多个内建组件添加 `defineOptions` 以设置组件名称
  src/ui/components/FaAvatar/index.vue
  src/ui/components/FaSlider/index.vue
Due: eslint . --cache --fix, stylelint src/**/*.{css,scss,vue} --cache --fix --allow-empty-input

chore: 多个内建组件添加 `defineOptions` 以设置组件名称
  src/ui/components/FaAvatar/index.vue
  src/ui/components/FaSlider/index.vue
Due: eslint . --cache --fix, stylelint src/**/*.{css,scss,vue} --cache --fix --allow-empty-input

fix: 修复 `FaDrawer` 和 `FaModal` 组件中遗漏的 props
  src/ui/components/FaDrawer/index.vue
  src/ui/components/FaModal/index.vue
Due: eslint . --cache --fix, stylelint src/**/*.{css,scss,vue} --cache --fix --allow-empty-input

修复 `FaDrawer` 和 `FaModal` 组件中遗漏的 props
  src/ui/components/FaDrawer/index.vue
  src/ui/components/FaModal/index.vue
Due: eslint . --cache --fix, stylelint src/**/*.{css,scss,vue} --cache --fix --allow-empty-input

修复导航logo在禁用主页时依旧显示可点击状态
  src/layouts/components/Logo/index.vue
Due: eslint . --cache --fix, stylelint src/**/*.{css,scss,vue} --cache --fix --allow-empty-input

fix: 修复导航logo在禁用主页时依旧显示可点击状态
  src/layouts/components/Logo/index.vue
Due: eslint . --cache --fix, stylelint src/**/*.{css,scss,vue} --cache --fix --allow-empty-input

移除 vue-office 示例
  package.json
  pnpm-lock.yaml
  src/router/modules/plugin.example.ts
  src/views/plugin_example/file-preview.vue
  src/views/plugin_example/files/test.docx
  src/views/plugin_example/files/test.pdf
  src/views/plugin_example/files/test.xlsx
Due: eslint . --cache --fix, stylelint src/**/*.{css,scss,vue} --cache --fix --allow-empty-input

Path conditions:
  eslint . --cache --fix: any of: *.{ts,tsx,vue}
  stylelint src/**/*.{css,scss,vue} --cache --fix --allow-empty-input: any of: *.{css,scss,vue}
