Repository fantastic-admin/basic: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint . --cache --fix, stylelint src/**/*.{css,scss,vue} --cache --fix --allow-empty-input

.lintstagedrc:

{
  "*.{ts,tsx,vue}": "eslint . --cache --fix",
  "*.{css,scss,vue}": "stylelint src/**/*.{css,scss,vue} --cache --fix --allow-empty-input"
}

优化全局loading
  index.html
  loading.html
  public/loading.css
  src/assets/styles/globals.css
  vite/plugins.ts
Due: eslint . --cache --fix, stylelint src/**/*.{css,scss,vue} --cache --fix --allow-empty-input

refactor: 优化全局loading
  index.html
  loading.html
  public/loading.css
  src/assets/styles/globals.css
  vite/plugins.ts
Due: eslint . --cache --fix, stylelint src/**/*.{css,scss,vue} --cache --fix --allow-empty-input

增加图片裁剪插件示例
  package.json
  pnpm-lock.yaml
  src/router/modules/plugin.example.ts
  src/views/plugin_example/cropper.vue
Due: eslint . --cache --fix, stylelint src/**/*.{css,scss,vue} --cache --fix --allow-empty-input

优化登录相关组件
  src/components/LoginForm/index.vue
  src/components/RegisterForm/index.vue
  src/components/ResetPasswordForm/index.vue
Due: eslint . --cache --fix, stylelint src/**/*.{css,scss,vue} --cache --fix --allow-empty-input

style: 优化登录相关组件
  src/components/LoginForm/index.vue
  src/components/RegisterForm/index.vue
  src/components/ResetPasswordForm/index.vue
Due: eslint . --cache --fix, stylelint src/**/*.{css,scss,vue} --cache --fix --allow-empty-input

refactor: 修改全局loading消失时机
  src/layouts/index.vue
  src/router/index.ts
  src/types/shims.d.ts
  vite/plugins.ts
Due: eslint . --cache --fix, stylelint src/**/*.{css,scss,vue} --cache --fix --allow-empty-input

修改全局loading消失时机
  src/layouts/index.vue
  src/router/index.ts
  src/types/shims.d.ts
  vite/plugins.ts
Due: eslint . --cache --fix, stylelint src/**/*.{css,scss,vue} --cache --fix --allow-empty-input

友链调整
  src/router/modules/ecology.example.ts
Due: eslint . --cache --fix

使用 vite-plugin-vue-app-loading 插件代替框架首屏loading
  package.json
  pnpm-lock.yaml
  src/types/shims.d.ts
  tsconfig.json
  vite/plugins.ts
Due: eslint . --cache --fix

refactor: 使用 vite-plugin-vue-app-loading 插件代替框架首屏loading
  package.json
  pnpm-lock.yaml
  src/types/shims.d.ts
  tsconfig.json
  vite/plugins.ts
Due: eslint . --cache --fix

更新依赖
  package.json
  pnpm-lock.yaml
  tsconfig.json
  vite/plugins.ts
Due: eslint . --cache --fix

chore: 更新依赖
  package.json
  pnpm-lock.yaml
  tsconfig.json
  vite/plugins.ts
Due: eslint . --cache --fix

使用 vite-plugin-archiver 插件代替框架存档功能
  package.json
  pnpm-lock.yaml
  vite/plugins.ts
Due: eslint . --cache --fix

refactor: 使用 vite-plugin-archiver 插件代替框架存档功能
  package.json
  pnpm-lock.yaml
  vite/plugins.ts
Due: eslint . --cache --fix

修复顶部相关布局时，工具栏重复渲染
  src/layouts/components/Topbar/Toolbar/index.vue
Due: eslint . --cache --fix, stylelint src/**/*.{css,scss,vue} --cache --fix --allow-empty-input

fix: 修复顶部相关布局时，工具栏重复渲染
  src/layouts/components/Topbar/Toolbar/index.vue
Due: eslint . --cache --fix, stylelint src/**/*.{css,scss,vue} --cache --fix --allow-empty-input

更新 tsconfig 配置
  .gitignore
  package.json
  src/components/RegisterForm/index.vue
  src/router/guards.ts
  src/store/modules/tabbar.ts
  src/views/feature_example/leavetips.vue
  src/views/feature_example/rules.vue
  src/views/feature_example/scroll.vue
  src/views/personal/edit.password.vue
  src/views/plugin_example/markdown.vue
  tsconfig.app.json
  tsconfig.json
  tsconfig.node.json
  vite.config.ts
  vite/plugins.ts
Due: eslint . --cache --fix, stylelint src/**/*.{css,scss,vue} --cache --fix --allow-empty-input

chore: 更新 tsconfig 配置
  .gitignore
  package.json
  src/components/RegisterForm/index.vue
  src/components/SystemInfo/index.vue
  src/router/guards.ts
  src/store/modules/tabbar.ts
  tsconfig.app.json
  tsconfig.json
  tsconfig.node.json
  vite.config.ts
  vite/plugins.ts
Due: eslint . --cache --fix, stylelint src/**/*.{css,scss,vue} --cache --fix --allow-empty-input

修复顶部相关布局时，移动端下工具栏不显示
  src/layouts/components/Topbar/Toolbar/index.vue
Due: eslint . --cache --fix, stylelint src/**/*.{css,scss,vue} --cache --fix --allow-empty-input

fix: 修复顶部相关布局时，移动端下工具栏不显示
  src/layouts/components/Topbar/Toolbar/index.vue
Due: eslint . --cache --fix, stylelint src/**/*.{css,scss,vue} --cache --fix --allow-empty-input

将 sass 替换为 sass-embedded
  package.json
  pnpm-lock.yaml
  src/types/auto-imports.d.ts
  vite.config.ts
Due: eslint . --cache --fix

refactor: 将 sass 替换为 sass-embedded
  package.json
  pnpm-lock.yaml
  src/types/auto-imports.d.ts
  vite.config.ts
Due: eslint . --cache --fix

导航菜单动画优化
  src/layouts/components/Menu/sub.vue
Due: eslint . --cache --fix, stylelint src/**/*.{css,scss,vue} --cache --fix --allow-empty-input

style: 导航菜单动画优化
  src/layouts/components/Menu/sub.vue
Due: eslint . --cache --fix, stylelint src/**/*.{css,scss,vue} --cache --fix --allow-empty-input

优化导航菜单折叠
  src/layouts/components/Menu/index.vue
  src/layouts/components/Menu/sub.vue
Due: eslint . --cache --fix, stylelint src/**/*.{css,scss,vue} --cache --fix --allow-empty-input

重构鉴权指令、鉴权组件
  src/components/Auth/index.vue
  src/components/AuthAll/index.vue
  src/types/components.d.ts
  src/utils/directive.ts
  src/views/permission_example/index.vue
Due: eslint . --cache --fix, stylelint src/**/*.{css,scss,vue} --cache --fix --allow-empty-input

perf: 优化导航菜单折叠
  src/layouts/components/Menu/index.vue
  src/layouts/components/Menu/sub.vue
Due: eslint . --cache --fix, stylelint src/**/*.{css,scss,vue} --cache --fix --allow-empty-input

chore: 移除演示代码
  src/layouts/components/Topbar/Toolbar/rightSide.vue
Due: eslint . --cache --fix, stylelint src/**/*.{css,scss,vue} --cache --fix --allow-empty-input

refactor!: 重构鉴权指令、鉴权组件
  src/components/Auth/index.vue
  src/components/AuthAll/index.vue
  src/types/components.d.ts
  src/utils/directive.ts
Due: eslint . --cache --fix, stylelint src/**/*.{css,scss,vue} --cache --fix --allow-empty-input

新增友情推荐 unibest
  src/router/modules/ecology.example.ts
Due: eslint . --cache --fix

四周年庆
  src/layouts/components/BuyIt/index.vue
Due: eslint . --cache --fix, stylelint src/**/*.{css,scss,vue} --cache --fix --allow-empty-input

修复vscode无法校验css文件
  .vscode/settings.json
Due: none

fix: 修复vscode无法校验css文件
  .vscode/settings.json
Due: none

更新依赖
  package.json
  pnpm-lock.yaml
  src/components/LoginForm/index.vue
  src/components/RegisterForm/index.vue
  src/components/ResetPasswordForm/index.vue
  src/layouts/components/Header/index.vue
  src/layouts/components/Menu/sub.vue
  src/layouts/components/Search/index.vue
  src/layouts/components/SubSidebar/index.vue
  src/layouts/components/Topbar/Tabbar/index.vue
  src/layouts/ui-kit/HInput.vue
  src/views/component_extend_example/pcas.demo.vue
  src/views/login.vue
  src/views/personal/edit.password.vue
  src/views/plugin_example/count.to.vue
  src/views/plugin_example/cropper.vue
  src/views/plugin_example/echarts.vue
  src/views/plugin_example/esign.vue
  src/views/plugin_example/qrcode.vue
  src/views/plugin_example/vchart.vue
Due: eslint . --cache --fix, stylelint src/**/*.{css,scss,vue} --cache --fix --allow-empty-input

chore: 更新依赖
  package.json
  pnpm-lock.yaml
  src/components/LoginForm/index.vue
  src/components/RegisterForm/index.vue
  src/components/ResetPasswordForm/index.vue
  src/layouts/components/Header/index.vue
  src/layouts/components/Menu/sub.vue
  src/layouts/components/Search/index.vue
  src/layouts/components/SubSidebar/index.vue
  src/layouts/components/Topbar/Tabbar/index.vue
  src/layouts/ui-kit/HInput.vue
  src/views/login.vue
Due: eslint . --cache --fix, stylelint src/**/*.{css,scss,vue} --cache --fix --allow-empty-input

chore: release v4.12.0
  package.json
Due: none

修复文件系统路由模式下主导航高亮效果不更新
  src/store/modules/menu.ts
Due: eslint . --cache --fix

fix: 修复文件系统路由模式下主导航高亮效果不更新
  src/store/modules/menu.ts
Due: eslint . --cache --fix
