Repository fantastic-admin/basic: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint . --cache --fix, stylelint src/**/*.{css,scss,vue} --cache --fix --allow-empty-input

路由 `meta.auth` 保持元信息默认合并行为，路由访问改为通过 `route.matched` 进行逐级鉴权
  src/App.vue
  src/store/modules/route.ts
Due: eslint . --cache --fix, stylelint src/**/*.{css,scss,vue} --cache --fix --allow-empty-input

refactor!: 路由 `meta.auth` 保持元信息默认合并行为，路由访问改为通过 `route.matched` 进行逐级鉴权
  src/App.vue
  src/store/modules/route.ts
Due: eslint . --cache --fix, stylelint src/**/*.{css,scss,vue} --cache --fix --allow-empty-input

fix: 标签栏右键菜单自定义样式没在指定 class 范围内生效
  src/layouts/components/Topbar/Tabbar/index.vue
Due: eslint . --cache --fix, stylelint src/**/*.{css,scss,vue} --cache --fix --allow-empty-input

标签栏右键菜单自定义样式没在指定 class 范围内生效
  src/layouts/components/Topbar/Tabbar/index.vue
Due: eslint . --cache --fix, stylelint src/**/*.{css,scss,vue} --cache --fix --allow-empty-input

明暗图标替换
  src/layouts/components/AppSetting/index.vue
  src/layouts/components/Topbar/Toolbar/ColorScheme/index.vue
Due: eslint . --cache --fix, stylelint src/**/*.{css,scss,vue} --cache --fix --allow-empty-input

refactor: 明暗图标替换
  src/layouts/components/AppSetting/index.vue
  src/layouts/components/Topbar/Toolbar/ColorScheme/index.vue
Due: eslint . --cache --fix, stylelint src/**/*.{css,scss,vue} --cache --fix --allow-empty-input

chore: 主页微调
  src/views/index.vue
Due: eslint . --cache --fix, stylelint src/**/*.{css,scss,vue} --cache --fix --allow-empty-input

更新 any-rule 正则
  src/views/feature_example/rules.vue
Due: eslint . --cache --fix, stylelint src/**/*.{css,scss,vue} --cache --fix --allow-empty-input

标签栏解绑错误快捷键
  src/layouts/components/Topbar/Tabbar/index.vue
Due: eslint . --cache --fix, stylelint src/**/*.{css,scss,vue} --cache --fix --allow-empty-input

fix: 标签栏解绑错误快捷键
  src/layouts/components/Topbar/Tabbar/index.vue
Due: eslint . --cache --fix, stylelint src/**/*.{css,scss,vue} --cache --fix --allow-empty-input

修复类型定义
  src/types/global.d.ts
Due: eslint . --cache --fix

fix: 修复类型定义
  src/types/global.d.ts
Due: eslint . --cache --fix

移除无用代码
  src/views/[...all].vue
Due: eslint . --cache --fix, stylelint src/**/*.{css,scss,vue} --cache --fix --allow-empty-input

更新 github 工作流
  .github/workflows/deploy-example-site.yml
Due: none

chore: 移除无用代码
  src/views/[...all].vue
Due: eslint . --cache --fix, stylelint src/**/*.{css,scss,vue} --cache --fix --allow-empty-input

登录页增加扫码登录参考
  src/views/login.vue
Due: eslint . --cache --fix, stylelint src/**/*.{css,scss,vue} --cache --fix --allow-empty-input

feat: 登录页增加扫码登录参考
  src/views/login.vue
Due: eslint . --cache --fix, stylelint src/**/*.{css,scss,vue} --cache --fix --allow-empty-input

增加 vchart 演示
  package.json
  pnpm-lock.yaml
  src/router/modules/plugin.example.ts
  src/views/plugin_example/echarts.vue
  src/views/plugin_example/vchart.vue
Due: eslint . --cache --fix, stylelint src/**/*.{css,scss,vue} --cache --fix --allow-empty-input

调整标签页操作按钮点击区域
  src/layouts/components/Topbar/Tabbar/index.vue
Due: eslint . --cache --fix, stylelint src/**/*.{css,scss,vue} --cache --fix --allow-empty-input

refactor: 调整标签页操作按钮点击区域
  src/layouts/components/Topbar/Tabbar/index.vue
Due: eslint . --cache --fix, stylelint src/**/*.{css,scss,vue} --cache --fix --allow-empty-input

更新依赖
  .env.development
  package.json
  pnpm-lock.yaml
  src/views/component_extend_example/pagemain.demo.vue
Due: eslint . --cache --fix, stylelint src/**/*.{css,scss,vue} --cache --fix --allow-empty-input

chore: 更新依赖
  package.json
  pnpm-lock.yaml
Due: none

chore: release v4.8.0
  package.json
Due: none

chore: 更换链接
  README.md
  src/utils/system.copyright.ts
  src/views/index.vue
  vite/plugins/app-info.ts
  vite/plugins/banner.ts
Due: eslint . --cache --fix, stylelint src/**/*.{css,scss,vue} --cache --fix --allow-empty-input

更换链接
  .github/workflows/deploy-example-site.yml
  src/layouts/components/BuyIt/index.vue
  src/router/modules/ecology.example.ts
  src/settings.ts
  src/utils/system.copyright.ts
  src/views/component_extend_example/image.preview.demo.vue
  src/views/index.vue
  vite/plugins/app-info.ts
  vite/plugins/banner.ts
Due: eslint . --cache --fix, stylelint src/**/*.{css,scss,vue} --cache --fix --allow-empty-input

增加node版本控制文件
  .node-version
Due: none

chore: 增加node版本控制文件
  .node-version
Due: none

示例代码调整
  src/views/component_built_in_example/index.vue
Due: eslint . --cache --fix, stylelint src/**/*.{css,scss,vue} --cache --fix --allow-empty-input

修复后端返回路由数据中 children 为空数组导致菜单无法正常生成
  src/store/modules/menu.ts
Due: eslint . --cache --fix

fix: 修复后端返回路由数据中 children 为空数组导致菜单无法正常生成
  src/store/modules/menu.ts
Due: eslint . --cache --fix

chore: vite base 使用默认设置
  vite.config.ts
Due: eslint . --cache --fix

更新依赖
  package.json
  pnpm-lock.yaml
  src/types/components.d.ts
Due: eslint . --cache --fix

chore: 更新依赖
  package.json
  pnpm-lock.yaml
  src/types/components.d.ts
Due: eslint . --cache --fix

chore: release v4.8.1
  package.json
Due: none

chore: 更新依赖，修改 unocss 写法
  package.json
  pnpm-lock.yaml
  src/assets/styles/globals.scss
  src/components/NotAllowed/index.vue
  src/components/PageHeader/index.vue
  src/components/PageMain/index.vue
  src/components/SystemInfo/index.vue
  src/layouts/components/AppSetting/index.vue
  src/layouts/components/BackTop/index.vue
  src/layouts/components/Breadcrumb/item.vue
  src/layouts/components/Copyright/index.vue
  src/layouts/components/Header/index.vue
  src/layouts/components/HotkeysIntro/index.vue
  src/layouts/components/MainSidebar/index.vue
  src/layouts/components/Menu/item.vue
  src/layouts/components/Menu/sub.vue
  src/layouts/components/Search/index.vue
  src/layouts/components/SubSidebar/index.vue
  src/layouts/components/Topbar/Tabbar/index.vue
  src/layouts/components/Topbar/Toolbar/NavSearch/index.vue
  src/layouts/components/Topbar/Toolbar/rightSide.vue
  src/layouts/components/views/link.vue
  src/layouts/index.vue
  src/layouts/ui-kit/HButton.vue
  src/layouts/ui-kit/HCheckList.vue
  src/layouts/ui-kit/HDialog.vue
  src/layouts/ui-kit/HDropdownMenu.vue
  src/layouts/ui-kit/HInput.vue
  src/layouts/ui-kit/HKbd.vue
  src/layouts/ui-kit/HSelect.vue
  src/layouts/ui-kit/HSlideover.vue
  src/layouts/ui-kit/HTabList.vue
  src/layouts/ui-kit/HToggle.vue
  src/router/index.ts
  src/views/[...all].vue
Due: eslint . --cache --fix, stylelint src/**/*.{css,scss,vue} --cache --fix --allow-empty-input

更新依赖，修改 unocss 写法
  package.json
  pnpm-lock.yaml
  src/assets/styles/globals.scss
  src/components/NotAllowed/index.vue
  src/components/PageHeader/index.vue
  src/components/PageMain/index.vue
  src/components/SystemInfo/index.vue
  src/layouts/components/AppSetting/index.vue
  src/layouts/components/BackTop/index.vue
  src/layouts/components/Breadcrumb/item.vue
  src/layouts/components/Copyright/index.vue
  src/layouts/components/Header/index.vue
  src/layouts/components/HotkeysIntro/index.vue
  src/layouts/components/MainSidebar/index.vue
  src/layouts/components/Menu/item.vue
  src/layouts/components/Menu/sub.vue
  src/layouts/components/Search/index.vue
  src/layouts/components/SubSidebar/index.vue
  src/layouts/components/Topbar/Tabbar/index.vue
  src/layouts/components/Topbar/Toolbar/NavSearch/index.vue
  src/layouts/components/views/link.vue
  src/layouts/index.vue
  src/layouts/ui-kit/HButton.vue
  src/layouts/ui-kit/HCheckList.vue
  src/layouts/ui-kit/HDialog.vue
  src/layouts/ui-kit/HDropdownMenu.vue
  src/layouts/ui-kit/HInput.vue
  src/layouts/ui-kit/HKbd.vue
  src/layouts/ui-kit/HSelect.vue
  src/layouts/ui-kit/HSlideover.vue
  src/layouts/ui-kit/HTabList.vue
  src/layouts/ui-kit/HToggle.vue
  src/router/index.ts
  src/views/[...all].vue
  src/views/component_built_in_example/index.vue
  src/views/feature_example/rules.vue
  src/views/index.vue
  src/views/plugin_example/currency.input.vue
Due: eslint . --cache --fix, stylelint src/**/*.{css,scss,vue} --cache --fix --allow-empty-input

优化标签栏滚动体验
  src/layouts/components/Topbar/Tabbar/index.vue
Due: eslint . --cache --fix, stylelint src/**/*.{css,scss,vue} --cache --fix --allow-empty-input

perf: 优化标签栏滚动体验
  src/layouts/components/Topbar/Tabbar/index.vue
Due: eslint . --cache --fix, stylelint src/**/*.{css,scss,vue} --cache --fix --allow-empty-input

修改 unocss 写法
  src/layouts/ui-kit/HDropdownMenu.vue
Due: eslint . --cache --fix, stylelint src/**/*.{css,scss,vue} --cache --fix --allow-empty-input

chore: 修改 unocss 写法
  src/layouts/ui-kit/HDropdownMenu.vue
Due: eslint . --cache --fix, stylelint src/**/*.{css,scss,vue} --cache --fix --allow-empty-input

Path conditions:
  eslint . --cache --fix: any of: *.{ts,tsx,vue}
  stylelint src/**/*.{css,scss,vue} --cache --fix --allow-empty-input: any of: *.{css,scss,vue}
