Repository fantastic-admin/basic: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint . --cache --fix, stylelint src/**/*.{css,scss,vue} --cache --fix --allow-empty-input

.lintstagedrc:

{
  "*.{ts,tsx,vue}": "eslint . --cache --fix",
  "*.{css,scss,vue}": "stylelint src/**/*.{css,scss,vue} --cache --fix --allow-empty-input"
}

chore: 更新依赖
  package.json
  pnpm-lock.yaml
Due: none

优惠信息调整
  src/layouts/components/BuyIt/index.vue
Due: eslint . --cache --fix, stylelint src/**/*.{css,scss,vue} --cache --fix --allow-empty-input

导航菜单收起时，无二级的一级导航增加 tooltip 展示
  src/layouts/components/Menu/item.vue
  src/layouts/ui-kit/HTooltip.vue
Due: eslint . --cache --fix, stylelint src/**/*.{css,scss,vue} --cache --fix --allow-empty-input

feat: 导航菜单收起时，无二级的一级导航增加 tooltip 展示
  src/layouts/components/Menu/item.vue
  src/layouts/ui-kit/HTooltip.vue
Due: eslint . --cache --fix, stylelint src/**/*.{css,scss,vue} --cache --fix --allow-empty-input

修复顶部模式下页面载入进度条被遮挡
  src/assets/styles/nprogress.scss
Due: stylelint src/**/*.{css,scss,vue} --cache --fix --allow-empty-input

fix: 修复顶部模式下页面载入进度条被遮挡
  src/assets/styles/nprogress.scss
Due: stylelint src/**/*.{css,scss,vue} --cache --fix --allow-empty-input

明暗模式设置为跟随系统时，支持动态切换
  src/layouts/components/AppSetting/index.vue
  src/layouts/components/Topbar/Toolbar/ColorScheme/index.vue
  src/layouts/ui-kit/HTabList.vue
  src/layouts/ui-kit/HTooltip.vue
  src/store/modules/settings.ts
Due: eslint . --cache --fix, stylelint src/**/*.{css,scss,vue} --cache --fix --allow-empty-input

feat: 明暗模式设置为跟随系统时，支持动态切换
  src/layouts/components/AppSetting/index.vue
  src/layouts/components/Topbar/Toolbar/ColorScheme/index.vue
  src/layouts/ui-kit/HTabList.vue
  src/layouts/ui-kit/HTooltip.vue
  src/store/modules/settings.ts
Due: eslint . --cache --fix, stylelint src/**/*.{css,scss,vue} --cache --fix --allow-empty-input

增加标签页演示页面
  src/router/modules/tab.example.ts
  src/router/routes.ts
  src/views/tab_example/index.vue
Due: eslint . --cache --fix, stylelint src/**/*.{css,scss,vue} --cache --fix --allow-empty-input

代码微调
  src/assets/styles/nprogress.scss
  src/layouts/components/Topbar/Tabbar/index.vue
  src/layouts/components/views/link.vue
  src/layouts/index.vue
  src/utils/composables/useTabbar.ts
Due: eslint . --cache --fix, stylelint src/**/*.{css,scss,vue} --cache --fix --allow-empty-input

refactor: 代码微调
  src/assets/styles/nprogress.scss
  src/layouts/components/Topbar/Tabbar/index.vue
  src/layouts/components/views/link.vue
  src/layouts/index.vue
  src/utils/composables/useTabbar.ts
Due: eslint . --cache --fix, stylelint src/**/*.{css,scss,vue} --cache --fix --allow-empty-input

vite-plugin-vue-devtools 替换 vite-plugin-vue-inspector
  .env.development
  package.json
  pnpm-lock.yaml
  vite/plugins/devtools.ts
  vite/plugins/index.ts
  vite/plugins/inspector.ts
Due: eslint . --cache --fix

feat: vite-plugin-vue-devtools 替换 vite-plugin-vue-inspector
  .env.development
  package.json
  pnpm-lock.yaml
  vite/plugins/devtools.ts
  vite/plugins/index.ts
  vite/plugins/inspector.ts
Due: eslint . --cache --fix

样式调整
  src/layouts/components/Menu/item.vue
Due: eslint . --cache --fix, stylelint src/**/*.{css,scss,vue} --cache --fix --allow-empty-input

chore: 样式调整
  src/layouts/components/Menu/item.vue
Due: eslint . --cache --fix, stylelint src/**/*.{css,scss,vue} --cache --fix --allow-empty-input

readme 中链接修改
  README.md
Due: none

fix: 修复标签栏未开启时调用 useTabbar 内函数报错
  src/utils/composables/useTabbar.ts
Due: eslint . --cache --fix

修复标签栏未开启时调用 useTabbar 内函数报错
  src/utils/composables/useTabbar.ts
Due: eslint . --cache --fix

更新依赖
  .env.development
  package.json
  pnpm-lock.yaml
Due: none

chore: release v4.5.0
  package.json
Due: none

更新依赖
  package.json
  pnpm-lock.yaml
Due: none

修改登录相关数据
  src/mock/user.ts
  src/store/modules/user.ts
Due: eslint . --cache --fix

refactor: 修改登录相关数据
  src/mock/user.ts
  src/store/modules/user.ts
Due: eslint . --cache --fix

增加 vue-currency-input 插件示例
  package.json
  pnpm-lock.yaml
  src/router/modules/plugin.example.ts
  src/views/plugin_example/currency.input.vue
Due: eslint . --cache --fix, stylelint src/**/*.{css,scss,vue} --cache --fix --allow-empty-input

调整友情推荐
  src/router/modules/ecology.example.ts
  src/views/icon_example/iconify.vue
Due: eslint . --cache --fix, stylelint src/**/*.{css,scss,vue} --cache --fix --allow-empty-input

chore: release v4.6.0
  package.json
Due: none

修复类型报错
  src/views/plugin_example/currency.input.vue
Due: eslint . --cache --fix, stylelint src/**/*.{css,scss,vue} --cache --fix --allow-empty-input

chore: release v4.6.1
  package.json
Due: none

用户态改回用 localStorage 存储
  src/store/modules/user.ts
Due: eslint . --cache --fix

revert: 用户态改回用 localStorage 存储
  src/store/modules/user.ts
Due: eslint . --cache --fix

更新 workflows
  .github/workflows/deploy-example-site.yml
Due: none

ci: 更新 workflows
  .github/workflows/release.yml
Due: none

增加最低 node 版本限制
  .npmrc
  package.json
Due: none

build: 增加最低 node 版本限制
  .npmrc
  package.json
Due: none
