Repository fantastic-admin/basic: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint . --cache --fix, stylelint src/**/*.{css,scss,vue} --cache --fix --allow-empty-input

优化页面刷新，刷新时禁用页面切换动画
  src/layouts/components/Topbar/Toolbar/Breadcrumb/index.vue
  src/layouts/index.vue
  src/store/modules/settings.ts
  src/types/global.d.ts
  src/utils/composables/useMainPage.ts
Due: eslint . --cache --fix, stylelint src/**/*.{css,scss,vue} --cache --fix --allow-empty-input

refactor: 优化页面刷新，刷新时禁用页面切换动画
  src/layouts/components/Topbar/Toolbar/Breadcrumb/index.vue
  src/layouts/index.vue
  src/store/modules/settings.ts
  src/types/global.d.ts
  src/utils/composables/useMainPage.ts
Due: eslint . --cache --fix, stylelint src/**/*.{css,scss,vue} --cache --fix --allow-empty-input

feat: 刷新按钮增加按住ctrl使用原生浏览器刷新功能
  src/layouts/components/Topbar/Toolbar/PageReload/index.vue
Due: eslint . --cache --fix, stylelint src/**/*.{css,scss,vue} --cache --fix --allow-empty-input

刷新按钮增加按住ctrl使用原生浏览器刷新功能
  src/layouts/components/Topbar/Toolbar/PageReload/index.vue
Due: eslint . --cache --fix, stylelint src/**/*.{css,scss,vue} --cache --fix --allow-empty-input

快捷键事件绑定/解绑迁移到各自组件中
  src/layouts/components/HotkeysIntro/index.vue
  src/layouts/components/MainSidebar/index.vue
  src/layouts/components/Topbar/Toolbar/PageReload/index.vue
  src/layouts/index.vue
Due: eslint . --cache --fix, stylelint src/**/*.{css,scss,vue} --cache --fix --allow-empty-input

refactor: 快捷键事件绑定/解绑迁移到各自组件中
  src/layouts/components/HotkeysIntro/index.vue
  src/layouts/components/MainSidebar/index.vue
  src/layouts/components/Topbar/Toolbar/PageReload/index.vue
  src/layouts/index.vue
Due: eslint . --cache --fix, stylelint src/**/*.{css,scss,vue} --cache --fix --allow-empty-input

fix: 修复 `useFaModal` 弹窗警告
  src/ui/components/FaModal/index.ts
Due: eslint . --cache --fix

修复 `useFaModal` 弹窗警告
  src/ui/components/FaModal/index.ts
Due: eslint . --cache --fix

更新依赖
  package.json
  pnpm-lock.yaml
  src/layouts/components/Topbar/Toolbar/PageReload/index.vue
  src/types/components.d.ts
Due: eslint . --cache --fix, stylelint src/**/*.{css,scss,vue} --cache --fix --allow-empty-input

chore: 更新依赖
  package.json
  pnpm-lock.yaml
  src/layouts/components/Topbar/Toolbar/PageReload/index.vue
  src/types/components.d.ts
Due: eslint . --cache --fix, stylelint src/**/*.{css,scss,vue} --cache --fix --allow-empty-input

增加 vue devtools 启动编辑器环境变量
  src/types/env.d.ts
  vite/plugins.ts
Due: eslint . --cache --fix

feat: 增加 vue devtools 启动编辑器环境变量
  vite/plugins.ts
Due: eslint . --cache --fix

更新依赖
  package.json
  pnpm-lock.yaml
Due: none

chore: 更新依赖
  package.json
  pnpm-lock.yaml
Due: none

feat: `FaPopover` 组件增加手动控制面板显示
  src/ui/components/FaPopover/index.vue
Due: eslint . --cache --fix, stylelint src/**/*.{css,scss,vue} --cache --fix --allow-empty-input

`FaPopover` 组件增加手动控制面板显示
  src/ui/components/FaPopover/index.vue
  src/views/component_built_in_example/popover.vue
Due: eslint . --cache --fix, stylelint src/**/*.{css,scss,vue} --cache --fix --allow-empty-input

调整动效
  src/layouts/components/SubSidebar/index.vue
  src/layouts/index.vue
  src/ui/components/FaSmartFixedBlock/index.vue
Due: eslint . --cache --fix, stylelint src/**/*.{css,scss,vue} --cache --fix --allow-empty-input

refactor: 调整动效
  src/layouts/components/SubSidebar/index.vue
  src/layouts/index.vue
  src/ui/components/FaSmartFixedBlock/index.vue
Due: eslint . --cache --fix, stylelint src/**/*.{css,scss,vue} --cache --fix --allow-empty-input

chore: release v5.1.0
  package.json
Due: none

vue-office 示例修复
  src/router/modules/plugin.example.ts
Due: eslint . --cache --fix

fix: `FaContextMenu` z-index 被遮挡
  src/ui/components/FaContextMenu/index.vue
Due: eslint . --cache --fix, stylelint src/**/*.{css,scss,vue} --cache --fix --allow-empty-input

`FaContextMenu` z-index 被遮挡
  src/ui/components/FaContextMenu/index.vue
Due: eslint . --cache --fix, stylelint src/**/*.{css,scss,vue} --cache --fix --allow-empty-input

refactor: `FaPageMain` group 作用域
  src/ui/components/FaPageMain/index.vue
Due: eslint . --cache --fix, stylelint src/**/*.{css,scss,vue} --cache --fix --allow-empty-input

`FaPageMain` group 作用域
  src/ui/components/FaPageMain/index.vue
Due: eslint . --cache --fix, stylelint src/**/*.{css,scss,vue} --cache --fix --allow-empty-input

`FaDivider` 增加 class props
  src/ui/components/FaDivider/index.vue
Due: eslint . --cache --fix, stylelint src/**/*.{css,scss,vue} --cache --fix --allow-empty-input

feat: `FaDivider` 增加 class props
  src/ui/components/FaDivider/index.vue
Due: eslint . --cache --fix, stylelint src/**/*.{css,scss,vue} --cache --fix --allow-empty-input

面包屑导航回滚回 computed 模式
  src/layouts/components/Topbar/Toolbar/Breadcrumb/index.vue
Due: eslint . --cache --fix, stylelint src/**/*.{css,scss,vue} --cache --fix --allow-empty-input

revert: 面包屑导航回滚回 computed 模式
  src/layouts/components/Topbar/Toolbar/Breadcrumb/index.vue
Due: eslint . --cache --fix, stylelint src/**/*.{css,scss,vue} --cache --fix --allow-empty-input

refactor: 根据 reka-ui 调整用法
  src/ui/components/FaCheckbox/index.vue
  src/ui/components/FaSelect/index.vue
  src/ui/components/FaSwitch/index.vue
Due: eslint . --cache --fix, stylelint src/**/*.{css,scss,vue} --cache --fix --allow-empty-input

根据 reka-ui 调整用法
  src/ui/components/FaCheckbox/index.vue
  src/ui/components/FaSelect/index.vue
  src/ui/components/FaSwitch/index.vue
Due: eslint . --cache --fix, stylelint src/**/*.{css,scss,vue} --cache --fix --allow-empty-input

优化导航菜单
  src/layouts/components/Menu/item.vue
  src/layouts/components/Menu/sub.vue
Due: eslint . --cache --fix, stylelint src/**/*.{css,scss,vue} --cache --fix --allow-empty-input

perf: 优化导航菜单
  src/layouts/components/Menu/item.vue
  src/layouts/components/Menu/sub.vue
Due: eslint . --cache --fix, stylelint src/**/*.{css,scss,vue} --cache --fix --allow-empty-input

修复 `FaDrawer` 组件 `contentClass` 设置无效
  src/layouts/components/AppSetting/index.vue
  src/ui/components/FaDrawer/index.vue
Due: eslint . --cache --fix, stylelint src/**/*.{css,scss,vue} --cache --fix --allow-empty-input

fix: 修复 `FaDrawer` 组件 `contentClass` 设置无效
  src/layouts/components/AppSetting/index.vue
  src/ui/components/FaDrawer/index.vue
Due: eslint . --cache --fix, stylelint src/**/*.{css,scss,vue} --cache --fix --allow-empty-input

Path conditions:
  eslint . --cache --fix: any of: *.{ts,tsx,vue}
  stylelint src/**/*.{css,scss,vue} --cache --fix --allow-empty-input: any of: *.{css,scss,vue}
