Repository fantastic-admin/basic: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint . --cache --fix, stylelint src/**/*.{css,scss,vue} --cache --fix --allow-empty-input

.lintstagedrc:

{
  "*.{ts,tsx,vue}": "eslint . --cache --fix",
  "*.{css,scss,vue}": "stylelint src/**/*.{css,scss,vue} --cache --fix --allow-empty-input"
}

feat: 新增 fa-crud-page-generator skill 以及示例页面
  .agents/skills/fa-crud-page-generator/SKILL.md
  .agents/skills/fa-crud-page-generator/references/templates.md
  apps/example/src/api/modules/standardModule.fake.ts
  apps/example/src/api/modules/standardModule.ts
  apps/example/src/router/modules/standard.module.example.ts
  apps/example/src/router/routes.ts
  apps/example/src/views/standard_module_example/components/DetailForm/index.vue
  apps/example/src/views/standard_module_example/detail.vue
  apps/example/src/views/standard_module_example/list.vue
  skills/fa-crud-page-generator/SKILL.md
  skills/fa-crud-page-generator/references/templates.md
Due: eslint . --cache --fix, stylelint src/**/*.{css,scss,vue} --cache --fix --allow-empty-input

chore: 更新依赖
  pnpm-lock.yaml
  pnpm-workspace.yaml
Due: none

chore: release v6.0.0-beta.3
  package.json
Due: none

chore: typo
  apps/example/src/router/modules/standard.module.example.ts
Due: eslint . --cache --fix

chore: 主页调整
  .github/workflows/deploy-example.yml
  README.md
  apps/core-ant-design-vue/src/views/index.vue
  apps/core-antdv-next/src/views/index.vue
  apps/core-arco-design-vue/src/views/index.vue
  apps/core-naive-ui/src/views/index.vue
  apps/core-tdesign/src/views/index.vue
  apps/core-vexip-ui/src/views/index.vue
  apps/core/src/views/index.vue
  apps/example/src/views/index.vue
Due: eslint . --cache --fix, stylelint src/**/*.{css,scss,vue} --cache --fix --allow-empty-input

chore: 更新工作区文件夹路径
  fantastic-admin.code-workspace
Due: none

chore: release v6.0.0-beta.4
  package.json
Due: none

refactor: 移除不必要的对话框
  apps/example/src/views/element_plus_example/index.vue
Due: eslint . --cache --fix, stylelint src/**/*.{css,scss,vue} --cache --fix --allow-empty-input

refactor: 删除 design-taste-frontend skill
  .agents/skills/design-taste-frontend/SKILL.md
  .claude/settings.json
  .claude/skills/design-taste-frontend
  skills/design-taste-frontend/SKILL.md
Due: none

chore: release v6.0.0-beta.5
  package.json
Due: none

feat: 增加侧边导航的展开按钮，会在移动端下访问，并且未开启工具栏时显示
  apps/core-ant-design-vue/src/layouts/components/FloatingSidebarMenuButton/index.vue
  apps/core-ant-design-vue/src/layouts/components/Topbar/Toolbar/startSide.vue
  apps/core-ant-design-vue/src/layouts/index.vue
  apps/core-antdv-next/src/layouts/components/FloatingSidebarMenuButton/index.vue
  apps/core-antdv-next/src/layouts/components/Topbar/Toolbar/startSide.vue
  apps/core-antdv-next/src/layouts/index.vue
  apps/core-arco-design-vue/src/layouts/components/FloatingSidebarMenuButton/index.vue
  apps/core-arco-design-vue/src/layouts/components/Topbar/Toolbar/startSide.vue
  apps/core-arco-design-vue/src/layouts/index.vue
  apps/core-naive-ui/src/layouts/components/FloatingSidebarMenuButton/index.vue
  apps/core-naive-ui/src/layouts/components/Topbar/Toolbar/startSide.vue
  apps/core-naive-ui/src/layouts/index.vue
  apps/core-tdesign/src/layouts/components/FloatingSidebarMenuButton/index.vue
  apps/core-tdesign/src/layouts/components/Topbar/Toolbar/startSide.vue
  apps/core-tdesign/src/layouts/index.vue
  apps/core-vexip-ui/src/layouts/components/FloatingSidebarMenuButton/index.vue
  apps/core-vexip-ui/src/layouts/components/Topbar/Toolbar/startSide.vue
  apps/core-vexip-ui/src/layouts/index.vue
  apps/core/src/layouts/components/FloatingSidebarMenuButton/index.vue
  apps/core/src/layouts/components/Topbar/Toolbar/startSide.vue
  apps/core/src/layouts/index.vue
  apps/core/src/types/components.d.ts
  apps/example/src/layouts/components/FloatingSidebarMenuButton/index.vue
  apps/example/src/layouts/components/Topbar/Toolbar/startSide.vue
  apps/example/src/layouts/index.vue
Due: eslint . --cache --fix, stylelint src/**/*.{css,scss,vue} --cache --fix --allow-empty-input

refactor: 更新全局请求响应数据格式的注释，优化错误提示逻辑
  apps/core-ant-design-vue/src/api/index.ts
  apps/core-antdv-next/src/api/index.ts
  apps/core-arco-design-vue/src/api/index.ts
  apps/core-naive-ui/src/api/index.ts
  apps/core-tdesign/src/api/index.ts
  apps/core-vexip-ui/src/api/index.ts
  apps/core/src/api/index.ts
  apps/example/src/api/index.ts
Due: eslint . --cache --fix

chore: 更新依赖
  apps/example/src/views/element_plus_example/components/button.vue
  apps/example/src/views/element_plus_example/components/switch.vue
  apps/example/src/views/plugin_example/splitpanes.vue
  pnpm-lock.yaml
  pnpm-workspace.yaml
Due: eslint . --cache --fix, stylelint src/**/*.{css,scss,vue} --cache --fix --allow-empty-input

feat: 更新图标组件的切换动画，增加轻量缩放和模糊过渡效果
  packages/components/src/icon/README.md
  packages/components/src/icon/index.vue
Due: eslint . --cache --fix, stylelint src/**/*.{css,scss,vue} --cache --fix --allow-empty-input

chore: release v6.0.0
  package.json
Due: none

chore: 更新readme
  README.EN.md
Due: none

feat: 增强 dev 脚本匹配逻辑，支持以 'dev:' 开头的脚本名称
  scripts/cli.ts
Due: eslint . --cache --fix

feat: FaImageUpload / FaFileUpload 增加粘贴上传功能
  packages/components/src/file-upload/README.md
  packages/components/src/file-upload/index.vue
  packages/components/src/image-upload/README.md
  packages/components/src/image-upload/index.vue
Due: eslint . --cache --fix, stylelint src/**/*.{css,scss,vue} --cache --fix --allow-empty-input

feat: FaImageUpload 组件增加入场、出场、排序动画
  apps/example/src/types/components.d.ts
  apps/example/src/views/component_example/image_upload/_demo2.vue
  apps/example/src/views/component_example/image_upload/_demo3.vue
  packages/components/src/image-upload/index.vue
Due: eslint . --cache --fix, stylelint src/**/*.{css,scss,vue} --cache --fix --allow-empty-input

refactor: 迁移 composables 到 @fantastic-admin/composables 子包
  apps/core-ant-design-vue/package.json
  apps/core-ant-design-vue/src/types/auto-imports.d.ts
  apps/core-ant-design-vue/vite/plugins.ts
  apps/core-antdv-next/package.json
  apps/core-antdv-next/src/composables/pagination.ts
  apps/core-antdv-next/src/types/auto-imports.d.ts
  apps/core-antdv-next/vite/plugins.ts
  apps/core-arco-design-vue/package.json
  apps/core-arco-design-vue/src/composables/pagination.ts
  apps/core-arco-design-vue/src/types/auto-imports.d.ts
  apps/core-arco-design-vue/vite/plugins.ts
  apps/core-naive-ui/package.json
  apps/core-naive-ui/src/composables/pagination.ts
  apps/core-naive-ui/src/types/auto-imports.d.ts
  apps/core-naive-ui/vite/plugins.ts
  apps/core-tdesign/package.json
  apps/core-tdesign/src/composables/pagination.ts
  apps/core-tdesign/src/types/auto-imports.d.ts
  apps/core-tdesign/vite/plugins.ts
  apps/core-vexip-ui/package.json
  apps/core-vexip-ui/src/composables/pagination.ts
  apps/core-vexip-ui/src/types/auto-imports.d.ts
  apps/core-vexip-ui/vite/plugins.ts
  apps/core/package.json
  apps/core/src/composables/pagination.ts
  apps/core/src/types/auto-imports.d.ts
  apps/core/vite/plugins.ts
  apps/example/package.json
  apps/example/src/composables/pagination.ts
  apps/example/src/types/auto-imports.d.ts
  apps/example/vite/plugins.ts
  packages/composables/build.config.ts
  packages/composables/index.ts
  packages/composables/package.json
  packages/composables/resolver.ts
  packages/composables/src/pagination.ts
  packages/composables/tsconfig.json
  pnpm-lock.yaml
Due: eslint . --cache --fix

refactor: 修改 @fantastic-admin/components 子包自动导入配置
  apps/core-ant-design-vue/vite/plugins.ts
  apps/core-antdv-next/vite/plugins.ts
  apps/core-arco-design-vue/vite/plugins.ts
  apps/core-naive-ui/vite/plugins.ts
  apps/core-tdesign/vite/plugins.ts
  apps/core-vexip-ui/vite/plugins.ts
  apps/core/vite/plugins.ts
  apps/example/vite/plugins.ts
  packages/components/resolver.ts
Due: eslint . --cache --fix

chore: 更新 README 中 logo 展示
  README.EN.md
  README.md
Due: none

fix: 修复 FaDrawer 和 FaModal 组件开启时警告错误
  packages/components/src/drawer/index.ts
  packages/components/src/drawer/index.vue
  packages/components/src/drawer/sheet/Sheet.vue
  packages/components/src/drawer/sheet/SheetClose.vue
  packages/components/src/drawer/sheet/SheetContent.vue
  packages/components/src/drawer/sheet/SheetDescription.vue
  packages/components/src/drawer/sheet/SheetFooter.vue
  packages/components/src/drawer/sheet/SheetHeader.vue
  packages/components/src/drawer/sheet/SheetOverlay.vue
  packages/components/src/drawer/sheet/SheetTitle.vue
  packages/components/src/drawer/sheet/SheetTrigger.vue
  packages/components/src/drawer/sheet/index.ts
  packages/components/src/modal/dialog/Dialog.vue
  packages/components/src/modal/dialog/DialogClose.vue
  packages/components/src/modal/dialog/DialogContent.vue
  packages/components/src/modal/dialog/DialogDescription.vue
  packages/components/src/modal/dialog/DialogFooter.vue
  packages/components/src/modal/dialog/DialogHeader.vue
  packages/components/src/modal/dialog/DialogOverlay.vue
  packages/components/src/modal/dialog/DialogScrollContent.vue
  packages/components/src/modal/dialog/DialogTitle.vue
  packages/components/src/modal/dialog/DialogTrigger.vue
  packages/components/src/modal/dialog/index.ts
  packages/components/src/modal/index.ts
  packages/components/src/modal/index.vue
  packages/components/src/modal/use-draggable.ts
Due: eslint . --cache --fix, stylelint src/**/*.{css,scss,vue} --cache --fix --allow-empty-input

chore: 添加 Antdv Next 组件库友链
  apps/example/src/router/modules/ecology.example.ts
Due: eslint . --cache --fix

fix: 修复icon生成脚本错误
  apps/core-ant-design-vue/package.json
  apps/core-ant-design-vue/scripts/generate.icons.ts
  apps/core-antdv-next/package.json
  apps/core-antdv-next/scripts/generate.icons.ts
  apps/core-arco-design-vue/package.json
  apps/core-arco-design-vue/scripts/generate.icons.ts
  apps/core-naive-ui/package.json
  apps/core-naive-ui/scripts/generate.icons.ts
  apps/core-tdesign/package.json
  apps/core-tdesign/scripts/generate.icons.ts
  apps/core-vexip-ui/package.json
  apps/core-vexip-ui/scripts/generate.icons.ts
  apps/core/package.json
  apps/core/scripts/generate.icons.ts
  apps/example/package.json
  apps/example/scripts/generate.icons.ts
  pnpm-lock.yaml
  pnpm-workspace.yaml
Due: eslint . --cache --fix

feat: 将生成图标脚本提取到公用子包
  apps/core-ant-design-vue/package.json
  apps/core-ant-design-vue/scripts/generate.icons.ts
  apps/core-ant-design-vue/src/iconify/data.json
  apps/core-antdv-next/package.json
  apps/core-antdv-next/scripts/generate.icons.ts
  apps/core-antdv-next/src/iconify/data.json
  apps/core-arco-design-vue/package.json
  apps/core-arco-design-vue/scripts/generate.icons.ts
  apps/core-arco-design-vue/src/iconify/data.json
  apps/core-naive-ui/package.json
  apps/core-naive-ui/scripts/generate.icons.ts
  apps/core-naive-ui/src/iconify/data.json
  apps/core-tdesign/package.json
  apps/core-tdesign/scripts/generate.icons.ts
  apps/core-tdesign/src/iconify/data.json
  apps/core-vexip-ui/package.json
  apps/core-vexip-ui/scripts/generate.icons.ts
  apps/core-vexip-ui/src/iconify/data.json
  apps/core/package.json
  apps/core/scripts/generate.icons.ts
  apps/core/src/iconify/data.json
  apps/example/package.json
  apps/example/scripts/generate.icons.ts
  apps/example/src/iconify/data.json
  packages/iconify-tools/bin/index.mjs
  packages/iconify-tools/package.json
  packages/iconify-tools/scripts/index.ts
  pnpm-lock.yaml
Due: eslint . --cache --fix

refactor: 重命名组件和版权相关的导入及函数，以统一命名规范
  apps/core-ant-design-vue/vite/plugins.ts
  apps/core-antdv-next/vite/plugins.ts
  apps/core-arco-design-vue/vite/plugins.ts
  apps/core-naive-ui/vite/plugins.ts
  apps/core-tdesign/vite/plugins.ts
  apps/core-vexip-ui/vite/plugins.ts
  apps/core/vite/plugins.ts
  apps/example/vite/plugins.ts
  packages/components/resolver.ts
  packages/composables/resolver.ts
  packages/copyright/index.ts
Due: eslint . --cache --fix

feat: 主题色调整
  packages/themes/index.ts
Due: eslint . --cache --fix

feat: 添加 FaSelect 组件的定位模式支持
  apps/example/src/views/component_example/select/_demo4.vue
  apps/example/src/views/component_example/select/_demo5.vue
  apps/example/src/views/component_example/select/index.vue
  packages/components/src/select/README.md
  packages/components/src/select/index.vue
  packages/components/src/select/select/Select.vue
  packages/components/src/select/select/SelectContent.vue
  packages/components/src/select/select/SelectGroup.vue
  packages/components/src/select/select/SelectItem.vue
  packages/components/src/select/select/SelectItemText.vue
  packages/components/src/select/select/SelectLabel.vue
  packages/components/src/select/select/SelectScrollDownButton.vue
  packages/components/src/select/select/SelectScrollUpButton.vue
  packages/components/src/select/select/SelectSeparator.vue
  packages/components/src/select/select/SelectTrigger.vue
  packages/components/src/select/select/SelectValue.vue
  packages/components/src/select/select/index.ts
Due: eslint . --cache --fix, stylelint src/**/*.{css,scss,vue} --cache --fix --allow-empty-input

style: FaPageMain 组件样式调整
  apps/core-ant-design-vue/src/layouts/components/AppSetting/index.vue
  apps/core-antdv-next/src/layouts/components/AppSetting/index.vue
  apps/core-arco-design-vue/src/layouts/components/AppSetting/index.vue
  apps/core-naive-ui/src/layouts/components/AppSetting/index.vue
  apps/core-tdesign/src/layouts/components/AppSetting/index.vue
  apps/core-vexip-ui/src/layouts/components/AppSetting/index.vue
  apps/core/src/layouts/components/AppSetting/index.vue
  apps/example/src/layouts/components/AppSetting/index.vue
  packages/components/src/page-main/index.vue
Due: eslint . --cache --fix, stylelint src/**/*.{css,scss,vue} --cache --fix --allow-empty-input

style: 调整标准模块列表分割线的边距样式
  apps/example/src/views/standard_module_example/list.vue
  skills/fa-crud-page-generator/references/templates.md
Due: eslint . --cache --fix, stylelint src/**/*.{css,scss,vue} --cache --fix --allow-empty-input

feat: 新增 FaRadioGroup 组件
  apps/example/src/router/modules/component.example.ts
  apps/example/src/types/components.d.ts
  apps/example/src/views/component_example/radio_group/_demo1.vue
  apps/example/src/views/component_example/radio_group/_demo2.vue
  apps/example/src/views/component_example/radio_group/_demo3.vue
  apps/example/src/views/component_example/radio_group/index.vue
  packages/components/global.d.ts
  packages/components/index.ts
  packages/components/resolver.ts
  packages/components/src/radio-group/README.md
  packages/components/src/radio-group/index.vue
  packages/components/src/radio-group/radio-group/RadioGroup.vue
  packages/components/src/radio-group/radio-group/RadioGroupItem.vue
  packages/components/src/radio-group/radio-group/index.ts
Due: eslint . --cache --fix, stylelint src/**/*.{css,scss,vue} --cache --fix --allow-empty-input

style: 组件示例代码格式调整
  apps/example/src/views/component_example/avatar/index.vue
  apps/example/src/views/component_example/button/index.vue
  apps/example/src/views/component_example/button_group/index.vue
  apps/example/src/views/component_example/card/index.vue
  apps/example/src/views/component_example/checkbox/index.vue
  apps/example/src/views/component_example/collapsible/index.vue
  apps/example/src/views/component_example/context_menu/index.vue
  apps/example/src/views/component_example/divider/index.vue
  apps/example/src/views/component_example/drawer/index.vue
  apps/example/src/views/component_example/dropdown/index.vue
  apps/example/src/views/component_example/file_upload/index.vue
  apps/example/src/views/component_example/fixed_bar/index.vue
  apps/example/src/views/component_example/hover_card/index.vue
  apps/example/src/views/component_example/image_preview/index.vue
  apps/example/src/views/component_example/image_upload/index.vue
  apps/example/src/views/component_example/input/index.vue
  apps/example/src/views/component_example/input_otp/index.vue
  apps/example/src/views/component_example/kbd/index.vue
  apps/example/src/views/component_example/modal/index.vue
  apps/example/src/views/component_example/number_field/index.vue
  apps/example/src/views/component_example/page_header/index.vue
  apps/example/src/views/component_example/page_main/index.vue
  apps/example/src/views/component_example/pagination/index.vue
  apps/example/src/views/component_example/password_strength/index.vue
  apps/example/src/views/component_example/popover/index.vue
  apps/example/src/views/component_example/progress/index.vue
  apps/example/src/views/component_example/scroll_area/index.vue
  apps/example/src/views/component_example/search_bar/index.vue
  apps/example/src/views/component_example/select/index.vue
  apps/example/src/views/component_example/slider/index.vue
  apps/example/src/views/component_example/switch/index.vue
  apps/example/src/views/component_example/tabs/index.vue
  apps/example/src/views/component_example/textarea/index.vue
  apps/example/src/views/component_example/toast/index.vue
  apps/example/src/views/component_example/tooltip/index.vue
  apps/example/src/views/component_example/trend/index.vue
Due: eslint . --cache --fix, stylelint src/**/*.{css,scss,vue} --cache --fix --allow-empty-input

docs: 统一组件文档格式
  packages/components/src/avatar/README.md
  packages/components/src/button/README.md
  packages/components/src/card/README.md
  packages/components/src/checkbox/README.md
  packages/components/src/collapsible/README.md
  packages/components/src/context-menu/README.md
  packages/components/src/divider/README.md
  packages/components/src/drawer/README.md
  packages/components/src/dropdown/README.md
  packages/components/src/file-upload/README.md
  packages/components/src/hover-card/README.md
  packages/components/src/icon/README.md
  packages/components/src/image-preview/README.md
  packages/components/src/image-upload/README.md
  packages/components/src/input-otp/README.md
  packages/components/src/input/README.md
  packages/components/src/kbd-group/README.md
  packages/components/src/kbd/README.md
  packages/components/src/label/README.md
  packages/components/src/modal/README.md
  packages/components/src/page-header/README.md
  packages/components/src/page-main/README.md
  packages/components/src/pagination/README.md
  packages/components/src/password-strength/README.md
  packages/components/src/popover/README.md
  packages/components/src/progress/README.md
  packages/components/src/radio-group/README.md
  packages/components/src/scroll-area/README.md
  packages/components/src/search-bar/README.md
  packages/components/src/select/README.md
  packages/components/src/switch/README.md
  packages/components/src/tabs/README.md
  packages/components/src/textarea/README.md
  packages/components/src/toast/README.md
  packages/components/src/tooltip/README.md
  packages/components/src/trend/README.md
Due: none

refactor!: 移除 FaRadioGroup 组件的 orientation 属性
  packages/components/src/radio-group/README.md
  packages/components/src/radio-group/index.vue
Due: eslint . --cache --fix, stylelint src/**/*.{css,scss,vue} --cache --fix --allow-empty-input

feat: 新增 FaCheckboxGrou 组件，并重构 FaCheckbox API
  apps/example/src/router/modules/component.example.ts
  apps/example/src/types/components.d.ts
  apps/example/src/views/component_example/checkbox/_demo1.vue
  apps/example/src/views/component_example/checkbox/_demo2.vue
  apps/example/src/views/component_example/checkbox/index.vue
  apps/example/src/views/component_example/checkbox_group/_demo1.vue
  apps/example/src/views/component_example/checkbox_group/_demo2.vue
  apps/example/src/views/component_example/checkbox_group/_demo3.vue
  apps/example/src/views/component_example/checkbox_group/_demo4.vue
  apps/example/src/views/component_example/checkbox_group/index.vue
  apps/example/src/views/component_example/radio_group/_demo1.vue
  apps/example/src/views/component_example/radio_group/_demo3.vue
  packages/components/global.d.ts
  packages/components/index.ts
  packages/components/resolver.ts
  packages/components/src/checkbox-group/README.md
  packages/components/src/checkbox-group/index.vue
  packages/components/src/checkbox/README.md
  packages/components/src/checkbox/checkbox/Checkbox.vue
  packages/components/src/checkbox/checkbox/index.ts
  packages/components/src/checkbox/index.vue
Due: eslint . --cache --fix, stylelint src/**/*.{css,scss,vue} --cache --fix --allow-empty-input
