Repository fantastic-admin/basic: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --cache --fix, stylelint --cache --fix --allow-empty-input

chore: 给 eslint 和 stylelint 命令增加 --cache 设置
  .gitignore
  .lintstagedrc
  package.json
Due: none

将 element plus 反馈组件改为手动引入
  package.json
  src/api/index.ts
  src/auto-imports.d.ts
  src/components/FileUpload/index.vue
  src/components/ImageUpload/index.vue
  src/components/ImagesUpload/index.vue
  src/components/SystemInfo/index.vue
  src/layouts/components/AppSetting/index.vue
  src/layouts/components/BuyIt/index.vue
  src/views/component_extend_example/pcas.demo.vue
  src/views/component_extend_example/upload.demo.vue
  src/views/login.vue
  src/views/mock_example/index.vue
  src/views/permission_example/index.vue
  src/views/personal/edit.password.vue
  src/views/personal/setting.vue
  vite.config.ts
  vite/plugins/auto-import.ts
Due: eslint --cache --fix, stylelint --cache --fix --allow-empty-input

refactor: 将 element plus 反馈组件改为手动引入
  src/api/index.ts
  src/auto-imports.d.ts
  src/components/FileUpload/index.vue
  src/components/ImageUpload/index.vue
  src/components/ImagesUpload/index.vue
  src/layouts/components/AppSetting/index.vue
  src/views/login.vue
  src/views/personal/edit.password.vue
  src/views/personal/setting.vue
  vite.config.ts
  vite/plugins/auto-import.ts
Due: eslint --cache --fix, stylelint --cache --fix --allow-empty-input

调整 github action 构建
  .github/workflows/deploy-example-site.yml
Due: none

useCurrentInstance() 重命名为 useGlobalProperties()
  plop-templates/component/index.hbs
  plop-templates/page/index.hbs
  src/auto-imports.d.ts
  src/utils/composables/useGlobalProperties.ts
Due: eslint --cache --fix

refactor!: useCurrentInstance() 重命名为 useGlobalProperties()
  plop-templates/component/index.hbs
  plop-templates/page/index.hbs
  src/auto-imports.d.ts
  src/utils/composables/useGlobalProperties.ts
Due: eslint --cache --fix

优化配置项合并
  src/global.d.ts
  src/layouts/components/AppSetting/index.vue
  src/store/modules/settings.ts
Due: eslint --cache --fix, stylelint --cache --fix --allow-empty-input

refactor: 优化配置项合并
  src/global.d.ts
  src/layouts/components/AppSetting/index.vue
  src/store/modules/settings.ts
Due: eslint --cache --fix, stylelint --cache --fix --allow-empty-input

移除 vite-plugin-restart
  package.json
  pnpm-lock.yaml
  vite/plugins/index.ts
  vite/plugins/restart.ts
Due: none

chore: 移除 vite-plugin-restart
  package.json
  pnpm-lock.yaml
  vite/plugins/index.ts
  vite/plugins/restart.ts
Due: none

调整 copyright 信息和展示逻辑
  vite/plugins/html.ts
Due: none

chore: 调整 copyright 信息和展示逻辑
  vite/plugins/html.ts
Due: none

更新依赖
  package.json
  pnpm-lock.yaml
  src/auto-imports.d.ts
  src/views/[...all].vue
  src/views/keep_alive_example/page.vue
Due: eslint --cache --fix, stylelint --cache --fix --allow-empty-input

chore: 更新依赖
  package.json
  pnpm-lock.yaml
  src/auto-imports.d.ts
  src/views/[...all].vue
Due: eslint --cache --fix, stylelint --cache --fix --allow-empty-input

更新依赖
  package.json
  pnpm-lock.yaml
  src/auto-imports.d.ts
Due: eslint --cache --fix

chore: 更新依赖
  package.json
  pnpm-lock.yaml
  src/auto-imports.d.ts
Due: eslint --cache --fix

chore: release v2.1.0
  package.json
Due: none

logo 支持非正方形图片
  src/layouts/components/Logo/index.vue
Due: eslint --cache --fix, stylelint --cache --fix --allow-empty-input

feat: logo 支持非正方形图片
  src/layouts/components/Logo/index.vue
Due: eslint --cache --fix, stylelint --cache --fix --allow-empty-input

更新依赖
  package.json
  pnpm-lock.yaml
Due: none

chore: 更新依赖
  package.json
  pnpm-lock.yaml
Due: none

husky 替换为 simple-git-hooks
  .husky/pre-commit
  package.json
  pnpm-lock.yaml
Due: none

chore: husky 替换为 simple-git-hooks
  .husky/pre-commit
  package.json
  pnpm-lock.yaml
Due: none

ci: 优化 release 发布工作流
  .github/workflows/release.yml
Due: none

chore: release v2.1.1
  package.json
Due: none

ci: 优化 release 产物
  .github/workflows/release.yml
Due: none

chore: release v2.1.3
  package.json
Due: none

优化 PageHeader 组件在移动端下的展示
  src/components/PageHeader/index.vue
  src/views/index.vue
Due: eslint --cache --fix, stylelint --cache --fix --allow-empty-input

refactor: 优化 PageHeader 组件在移动端下的展示
  src/components/PageHeader/index.vue
  src/views/index.vue
Due: eslint --cache --fix, stylelint --cache --fix --allow-empty-input

refactor!: 控制台修改为主页，路由调整为根路由
  src/global.d.ts
  src/layouts/components/AppSetting/index.vue
  src/layouts/components/Logo/index.vue
  src/layouts/components/Tools/index.vue
  src/layouts/components/Topbar/index.vue
  src/router/index.ts
  src/router/routes.ts
  src/settings.default.ts
  src/views/index.vue
Due: eslint --cache --fix, stylelint --cache --fix --allow-empty-input

fix: 修复文件系统路由下，次导航无法按层级依次展开
  src/layouts/components/SidebarItem/index.vue
  src/menu/modules/multilevel.menu.example.ts
Due: eslint --cache --fix, stylelint --cache --fix --allow-empty-input

控制台修改为主页，路由调整为根路由
  src/global.d.ts
  src/layouts/components/AppSetting/index.vue
  src/layouts/components/Logo/index.vue
  src/layouts/components/Tools/index.vue
  src/layouts/components/Topbar/index.vue
  src/router/index.ts
  src/router/routes.ts
  src/settings.default.ts
  src/views/index.vue
Due: eslint --cache --fix, stylelint --cache --fix --allow-empty-input

修复文件系统路由下，次导航无法按层级依次展开
  src/layouts/components/SidebarItem/index.vue
  src/menu/modules/multilevel.menu.example.ts
Due: eslint --cache --fix, stylelint --cache --fix --allow-empty-input

chore: release v2.2.0
  package.json
Due: none

Path conditions:
  eslint --cache --fix: (any of: src/**/*.{js,jsx,ts,tsx}) or (any of: src/**/*.vue)
  stylelint --cache --fix --allow-empty-input: (any of: src/**/*.{css,scss}) or (any of: src/**/*.vue)
