Repository fantastic-admin/basic: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint . --cache --fix, stylelint src/**/*.{css,scss,vue} --cache --fix --allow-empty-input

.lintstagedrc:

{
  "*.{ts,tsx,vue}": "eslint . --cache --fix",
  "*.{css,scss,vue}": "stylelint src/**/*.{css,scss,vue} --cache --fix --allow-empty-input"
}

更新依赖
  eslint.config.js
  package.json
  pnpm-lock.yaml
  src/views/keep_alive_example/page.vue
  src/views/login.vue
  src/views/personal/edit.password.vue
Due: eslint . --cache --fix, stylelint src/**/*.{css,scss,vue} --cache --fix --allow-empty-input

chore: 更新依赖
  eslint.config.js
  package.json
  pnpm-lock.yaml
  src/views/login.vue
Due: eslint . --cache --fix, stylelint src/**/*.{css,scss,vue} --cache --fix --allow-empty-input

refactor: 导航菜单尺寸调整
  src/assets/styles/globals.scss
  src/layouts/components/Header/index.vue
  src/layouts/components/MainSidebar/index.vue
  src/layouts/components/Menu/index.vue
  src/layouts/components/Menu/item.vue
  src/layouts/components/Menu/sub.vue
  src/layouts/components/SubSidebar/index.vue
Due: eslint . --cache --fix, stylelint src/**/*.{css,scss,vue} --cache --fix --allow-empty-input

导航菜单尺寸调整
  src/assets/styles/globals.scss
  src/layouts/components/Header/index.vue
  src/layouts/components/MainSidebar/index.vue
  src/layouts/components/Menu/index.vue
  src/layouts/components/Menu/item.vue
  src/layouts/components/Menu/sub.vue
  src/layouts/components/SubSidebar/index.vue
Due: eslint . --cache --fix, stylelint src/**/*.{css,scss,vue} --cache --fix --allow-empty-input

代码微调
  vite/plugins.ts
Due: eslint . --cache --fix

微软 Microsoft 拼写错误
  index.html
Due: none

微软 Microsoft 拼写错误 (#41)
  index.html
Due: none

typo
  index.html
Due: none

FileUpload 组件文件列表增加下载功能
  src/components/FileUpload/index.vue
Due: eslint . --cache --fix, stylelint src/**/*.{css,scss,vue} --cache --fix --allow-empty-input

feat: FileUpload 组件文件列表增加下载功能
  src/components/FileUpload/index.vue
Due: eslint . --cache --fix, stylelint src/**/*.{css,scss,vue} --cache --fix --allow-empty-input

手动登出时不带上重定向地址
  src/layouts/components/Topbar/Toolbar/rightSide.vue
  src/store/modules/user.ts
Due: eslint . --cache --fix, stylelint src/**/*.{css,scss,vue} --cache --fix --allow-empty-input

refactor: 手动登出时不带上重定向地址
  src/layouts/components/Topbar/Toolbar/rightSide.vue
  src/store/modules/user.ts
Due: eslint . --cache --fix, stylelint src/**/*.{css,scss,vue} --cache --fix --allow-empty-input

更新依赖
  package.json
  pnpm-lock.yaml
Due: none

chore: 更新依赖
  package.json
  pnpm-lock.yaml
Due: none

chore: release v4.10.0
  package.json
Due: none

示例调整
  src/views/component_extend_example/upload.demo.vue
Due: eslint . --cache --fix, stylelint src/**/*.{css,scss,vue} --cache --fix --allow-empty-input

扩充 unocss 自定义 shortcuts
  uno.config.ts
Due: eslint . --cache --fix

feat: 扩充 unocss 自定义 shortcuts
  uno.config.ts
Due: eslint . --cache --fix

refactor!: 重构登录页面
  src/components/LoginForm/index.vue
  src/components/RegisterForm/index.vue
  src/components/ResetPasswordForm/index.vue
  src/layouts/ui-kit/HTabList.vue
  src/types/components.d.ts
  src/views/login.vue
Due: eslint . --cache --fix, stylelint src/**/*.{css,scss,vue} --cache --fix --allow-empty-input

重构登录页面
  src/components/LoginForm/index.vue
  src/components/RegisterForm/index.vue
  src/components/ResetPasswordForm/index.vue
  src/layouts/ui-kit/HTabList.vue
  src/types/components.d.ts
  src/views/login.vue
Due: eslint . --cache --fix, stylelint src/**/*.{css,scss,vue} --cache --fix --allow-empty-input

修复带参路由无法记录到标签栏中
  src/store/modules/tabbar.ts
  src/types/global.d.ts
Due: eslint . --cache --fix

fix: 修复带参路由无法记录到标签栏中
  src/store/modules/tabbar.ts
  src/types/global.d.ts
Due: eslint . --cache --fix

SvgIcon 组件支持传入本地图片，网络图片增加载入和失败状态
  package.json
  pnpm-lock.yaml
  src/components/SvgIcon/index.vue
  src/router/modules/icon.example.ts
  src/views/icon_example/image.vue
Due: eslint . --cache --fix, stylelint src/**/*.{css,scss,vue} --cache --fix --allow-empty-input

feat: SvgIcon 组件支持传入本地图片，网络图片增加载入和失败状态
  package.json
  pnpm-lock.yaml
  src/components/SvgIcon/index.vue
Due: eslint . --cache --fix, stylelint src/**/*.{css,scss,vue} --cache --fix --allow-empty-input

增加文件预览示例
  package.json
  pnpm-lock.yaml
  src/router/modules/plugin.example.ts
  src/views/plugin_example/file-preview.vue
Due: eslint . --cache --fix, stylelint src/**/*.{css,scss,vue} --cache --fix --allow-empty-input

chore: 更换域名
  README.md
  src/mock/user.ts
  src/utils/system.copyright.ts
  src/views/index.vue
  vite/plugins.ts
Due: eslint . --cache --fix, stylelint src/**/*.{css,scss,vue} --cache --fix --allow-empty-input

更换域名
  src/layouts/components/BuyIt/index.vue
  src/mock/user.ts
  src/router/modules/ecology.example.ts
  src/settings.ts
  src/utils/system.copyright.ts
  src/views/component_extend_example/image.preview.demo.vue
  src/views/component_extend_example/upload.demo.vue
  src/views/index.vue
  vite/plugins.ts
Due: eslint . --cache --fix, stylelint src/**/*.{css,scss,vue} --cache --fix --allow-empty-input

文件预览示例调整
  src/views/plugin_example/file-preview.vue
  src/views/plugin_example/files/test.docx
  src/views/plugin_example/files/test.pdf
  src/views/plugin_example/files/test.xlsx
Due: eslint . --cache --fix, stylelint src/**/*.{css,scss,vue} --cache --fix --allow-empty-input

修改百度统计代码
  src/utils/baidu.ts
Due: eslint . --cache --fix

feat: 引入 postcss-nested
  package.json
  plop-templates/component/index.hbs
  plop-templates/page/index.hbs
  pnpm-lock.yaml
  postcss.config.js
  src/assets/styles/globals.css
  src/assets/styles/nprogress.css
  src/components/FileUpload/index.vue
  src/components/FixedActionBar/index.vue
  src/components/ImagePreview/index.vue
  src/components/ImageUpload/index.vue
  src/components/ImagesUpload/index.vue
  src/components/LoginForm/index.vue
  src/components/RegisterForm/index.vue
  src/components/ResetPasswordForm/index.vue
  src/layouts/components/AppSetting/index.vue
  src/layouts/components/Breadcrumb/index.vue
  src/layouts/components/Copyright/index.vue
  src/layouts/components/Header/index.vue
  src/layouts/components/MainSidebar/index.vue
  src/layouts/components/SubSidebar/index.vue
  src/layouts/components/Topbar/Tabbar/index.vue
  src/layouts/components/Topbar/Toolbar/Breadcrumb/index.vue
  src/layouts/components/Topbar/Toolbar/index.vue
  src/layouts/components/Topbar/index.vue
  src/layouts/components/views/link.vue
  src/layouts/index.vue
  src/main.ts
  src/router/index.ts
  src/views/index.vue
  src/views/login.vue
Due: eslint . --cache --fix, stylelint src/**/*.{css,scss,vue} --cache --fix --allow-empty-input

布局相关css变量移入到布局组件中维护
  src/App.vue
  src/layouts/index.vue
Due: eslint . --cache --fix, stylelint src/**/*.{css,scss,vue} --cache --fix --allow-empty-input

refactor: 布局相关css变量移入到布局组件中维护
  src/App.vue
  src/layouts/index.vue
Due: eslint . --cache --fix, stylelint src/**/*.{css,scss,vue} --cache --fix --allow-empty-input

路由导航守卫移入到单独文件维护
  src/router/guards.ts
  src/router/index.ts
Due: eslint . --cache --fix

refactor: 路由导航守卫移入到单独文件维护
  src/router/guards.ts
  src/router/index.ts
Due: eslint . --cache --fix

移除 unocss 自定义 shortcuts
  uno.config.ts
Due: eslint . --cache --fix

revert: 移除 unocss 自定义 shortcuts
  uno.config.ts
Due: eslint . --cache --fix

更新依赖
  package.json
  pnpm-lock.yaml
  src/assets/styles/resources/utils.scss
  src/layouts/components/Header/index.vue
  src/layouts/components/MainSidebar/index.vue
  src/layouts/components/SubSidebar/index.vue
  src/layouts/components/Topbar/Tabbar/index.vue
  uno.config.ts
Due: eslint . --cache --fix, stylelint src/**/*.{css,scss,vue} --cache --fix --allow-empty-input

chore: 更新依赖
  package.json
  pnpm-lock.yaml
  src/assets/styles/resources/utils.scss
  src/layouts/components/Header/index.vue
  src/layouts/components/MainSidebar/index.vue
  src/layouts/components/SubSidebar/index.vue
  src/layouts/components/Topbar/Tabbar/index.vue
  uno.config.ts
Due: eslint . --cache --fix, stylelint src/**/*.{css,scss,vue} --cache --fix --allow-empty-input

chore: release v4.11.0
  package.json
Due: none
