Repository fantastic-admin/basic: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint . --cache --fix, stylelint src/**/*.{css,scss,vue} --cache --fix --allow-empty-input

feat: 更新 FaDrawer 和 FaModal 组件，强制关闭自带遮罩
  packages/components/src/drawer/index.vue
  packages/components/src/drawer/sheet/SheetContent.vue
  packages/components/src/modal/dialog/DialogContent.vue
  packages/components/src/modal/index.vue
Due: eslint . --cache --fix, stylelint src/**/*.{css,scss,vue} --cache --fix --allow-empty-input

feat: 扩展 FaInput 组件的 type 属性
  packages/components/src/input/index.vue
Due: eslint . --cache --fix, stylelint src/**/*.{css,scss,vue} --cache --fix --allow-empty-input

chore: 更新依赖
  apps/core-ant-design-vue/src/types/components.d.ts
  apps/core-ant-design-vue/vite/plugins.ts
  apps/core-antdv-next/src/types/components.d.ts
  apps/core-antdv-next/vite/plugins.ts
  apps/core-arco-design-vue/src/types/components.d.ts
  apps/core-arco-design-vue/vite/plugins.ts
  apps/core-naive-ui/src/types/components.d.ts
  apps/core-naive-ui/vite/plugins.ts
  apps/core-tdesign/src/types/components.d.ts
  apps/core-tdesign/vite/plugins.ts
  apps/core-vexip-ui/src/types/components.d.ts
  apps/core-vexip-ui/vite/plugins.ts
  apps/core/src/types/components.d.ts
  apps/core/vite/plugins.ts
  apps/example/vite/plugins.ts
  package.json
  packages/components/src/icon/README.md
  pnpm-lock.yaml
  pnpm-workspace.yaml
Due: eslint . --cache --fix

fix: 修复登录页“记住我”无法勾选
  apps/core-ant-design-vue/src/components/AppAccountForm/login.vue
  apps/core-antdv-next/src/components/AppAccountForm/login.vue
  apps/core-arco-design-vue/src/components/AppAccountForm/login.vue
  apps/core-naive-ui/src/components/AppAccountForm/login.vue
  apps/core-tdesign/src/components/AppAccountForm/login.vue
  apps/core-vexip-ui/src/components/AppAccountForm/login.vue
  apps/core/src/components/AppAccountForm/login.vue
  apps/example/src/components/AppAccountForm/login.vue
Due: eslint . --cache --fix, stylelint src/**/*.{css,scss,vue} --cache --fix --allow-empty-input

refactor!: 因上游 vite-plugin-fake-server 插件问题，暂时移动 fake 文件目录
  apps/core-ant-design-vue/src/api/fake_modules/app.fake.ts
  apps/core-ant-design-vue/vite/plugins.ts
  apps/core-antdv-next/src/api/fake_modules/app.fake.ts
  apps/core-antdv-next/vite/plugins.ts
  apps/core-arco-design-vue/src/api/fake_modules/app.fake.ts
  apps/core-arco-design-vue/vite/plugins.ts
  apps/core-naive-ui/src/api/fake_modules/app.fake.ts
  apps/core-naive-ui/vite/plugins.ts
  apps/core-tdesign/src/api/fake_modules/app.fake.ts
  apps/core-tdesign/vite/plugins.ts
  apps/core-vexip-ui/src/api/fake_modules/app.fake.ts
  apps/core-vexip-ui/vite/plugins.ts
  apps/core/src/api/fake_modules/app.fake.ts
  apps/core/vite/plugins.ts
  apps/example/src/api/fake_modules/app.fake.ts
  apps/example/src/api/fake_modules/standardModule.fake.ts
  apps/example/src/api/fake_modules/upload.fake.ts
  apps/example/vite/plugins.ts
Due: eslint . --cache --fix

chore: 更新依赖
  pnpm-lock.yaml
  pnpm-workspace.yaml
Due: none

chore: release v6.1.0
  package.json
Due: none

chore: readme
  README.md
Due: none

refactor!: 上游 vite-plugin-fake-server 插件问题修复，代码回滚
  apps/core-ant-design-vue/src/api/modules/app.fake.ts
  apps/core-ant-design-vue/vite/plugins.ts
  apps/core-antdv-next/src/api/modules/app.fake.ts
  apps/core-antdv-next/vite/plugins.ts
  apps/core-arco-design-vue/src/api/modules/app.fake.ts
  apps/core-arco-design-vue/vite/plugins.ts
  apps/core-naive-ui/src/api/modules/app.fake.ts
  apps/core-naive-ui/vite/plugins.ts
  apps/core-tdesign/src/api/modules/app.fake.ts
  apps/core-tdesign/vite/plugins.ts
  apps/core-vexip-ui/src/api/modules/app.fake.ts
  apps/core-vexip-ui/vite/plugins.ts
  apps/core/src/api/modules/app.fake.ts
  apps/core/vite/plugins.ts
  apps/example/src/api/modules/app.fake.ts
  apps/example/src/api/modules/standardModule.fake.ts
  apps/example/src/api/modules/upload.fake.ts
  apps/example/vite/plugins.ts
  pnpm-lock.yaml
  pnpm-workspace.yaml
Due: eslint . --cache --fix

refactor: 更新 CheckboxGroupOption 和 RadioGroupOption 接口，支持泛型扩展
  apps/example/src/views/component_example/checkbox_group/_demo3.vue
  apps/example/src/views/component_example/radio_group/_demo3.vue
  packages/components/src/checkbox-group/README.md
  packages/components/src/checkbox-group/index.vue
  packages/components/src/radio-group/README.md
  packages/components/src/radio-group/index.vue
Due: eslint . --cache --fix, stylelint src/**/*.{css,scss,vue} --cache --fix --allow-empty-input

feat(FaImageUpload): 增加文件夹上传和自定义上传请求功能
  apps/example/src/views/component_example/image_upload/_demo3.vue
  apps/example/src/views/component_example/image_upload/_demo4.vue
  apps/example/src/views/component_example/image_upload/_demo5.vue
  apps/example/src/views/component_example/image_upload/index.vue
  packages/components/index.ts
  packages/components/src/image-upload/README.md
  packages/components/src/image-upload/index.vue
Due: eslint . --cache --fix, stylelint src/**/*.{css,scss,vue} --cache --fix --allow-empty-input

feat(FaFileUpload): 增加文件夹上传和自定义上传请求功能
  apps/example/src/views/component_example/file_upload/_demo2.vue
  apps/example/src/views/component_example/file_upload/_demo4.vue
  apps/example/src/views/component_example/file_upload/_demo5.vue
  apps/example/src/views/component_example/file_upload/index.vue
  packages/components/index.ts
  packages/components/src/file-upload/README.md
  packages/components/src/file-upload/index.vue
Due: eslint . --cache --fix, stylelint src/**/*.{css,scss,vue} --cache --fix --allow-empty-input

feat(alert): 添加 FaAlert 组件
  apps/core-ant-design-vue/src/types/components.d.ts
  apps/core-antdv-next/src/types/components.d.ts
  apps/core-arco-design-vue/src/types/components.d.ts
  apps/core-naive-ui/src/types/components.d.ts
  apps/core-tdesign/src/types/components.d.ts
  apps/core-vexip-ui/src/types/components.d.ts
  apps/core/src/types/components.d.ts
  apps/example/src/router/modules/component.example.ts
  apps/example/src/types/components.d.ts
  apps/example/src/views/component_example/alert/_demo1.vue
  apps/example/src/views/component_example/alert/_demo2.vue
  apps/example/src/views/component_example/alert/_demo3.vue
  apps/example/src/views/component_example/alert/index.vue
  packages/components/global.d.ts
  packages/components/index.ts
  packages/components/resolver.ts
  packages/components/src/alert/README.md
  packages/components/src/alert/alert/Alert.vue
  packages/components/src/alert/alert/AlertDescription.vue
  packages/components/src/alert/alert/AlertTitle.vue
  packages/components/src/alert/alert/index.ts
  packages/components/src/alert/index.vue
Due: eslint . --cache --fix, stylelint src/**/*.{css,scss,vue} --cache --fix --allow-empty-input

refactor: 子包里使用 createRequire 动态获取 PACKAGE_NAME
  packages/components/resolver.ts
  packages/components/tsconfig.json
  packages/composables/package.json
  packages/composables/resolver.ts
  packages/composables/tsconfig.json
Due: eslint . --cache --fix

style: 统一表单样式
  apps/core-ant-design-vue/src/components/AppAccountForm/edit-password.vue
  apps/core-ant-design-vue/src/components/AppAccountForm/login.vue
  apps/core-ant-design-vue/src/components/AppAccountForm/register.vue
  apps/core-ant-design-vue/src/components/AppAccountForm/reset-password.vue
  apps/core-antdv-next/src/components/AppAccountForm/edit-password.vue
  apps/core-antdv-next/src/components/AppAccountForm/login.vue
  apps/core-antdv-next/src/components/AppAccountForm/register.vue
  apps/core-antdv-next/src/components/AppAccountForm/reset-password.vue
  apps/core-arco-design-vue/src/components/AppAccountForm/edit-password.vue
  apps/core-arco-design-vue/src/components/AppAccountForm/login.vue
  apps/core-arco-design-vue/src/components/AppAccountForm/register.vue
  apps/core-arco-design-vue/src/components/AppAccountForm/reset-password.vue
  apps/core-naive-ui/src/components/AppAccountForm/edit-password.vue
  apps/core-naive-ui/src/components/AppAccountForm/login.vue
  apps/core-naive-ui/src/components/AppAccountForm/register.vue
  apps/core-naive-ui/src/components/AppAccountForm/reset-password.vue
  apps/core-tdesign/src/components/AppAccountForm/edit-password.vue
  apps/core-tdesign/src/components/AppAccountForm/login.vue
  apps/core-tdesign/src/components/AppAccountForm/register.vue
  apps/core-tdesign/src/components/AppAccountForm/reset-password.vue
  apps/core-vexip-ui/src/components/AppAccountForm/edit-password.vue
  apps/core-vexip-ui/src/components/AppAccountForm/login.vue
  apps/core-vexip-ui/src/components/AppAccountForm/register.vue
  apps/core-vexip-ui/src/components/AppAccountForm/reset-password.vue
  apps/core/src/components/AppAccountForm/edit-password.vue
  apps/core/src/components/AppAccountForm/login.vue
  apps/core/src/components/AppAccountForm/register.vue
  apps/core/src/components/AppAccountForm/reset-password.vue
  apps/example/src/components/AppAccountForm/edit-password.vue
  apps/example/src/components/AppAccountForm/login.vue
  apps/example/src/components/AppAccountForm/register.vue
  apps/example/src/components/AppAccountForm/reset-password.vue
Due: eslint . --cache --fix, stylelint src/**/*.{css,scss,vue} --cache --fix --allow-empty-input

chore: 移除多余代码
  apps/core-ant-design-vue/src/store/modules/app/account.ts
  apps/core-antdv-next/src/store/modules/app/account.ts
  apps/core-arco-design-vue/src/store/modules/app/account.ts
  apps/core-naive-ui/src/store/modules/app/account.ts
  apps/core-tdesign/src/store/modules/app/account.ts
  apps/core-vexip-ui/src/store/modules/app/account.ts
  apps/core/src/store/modules/app/account.ts
  apps/example/src/store/modules/app/account.ts
Due: eslint . --cache --fix

feat(antdv-next): 添加 AApp 组件
  apps/core-antdv-next/src/ui/provider/index.vue
Due: eslint . --cache --fix, stylelint src/**/*.{css,scss,vue} --cache --fix --allow-empty-input

fix: 修复 Drawer 和 Modal 组件的 isClosed 状态初始化逻辑
  packages/components/src/basic/drawer/index.vue
  packages/components/src/basic/modal/index.vue
Due: eslint . --cache --fix, stylelint src/**/*.{css,scss,vue} --cache --fix --allow-empty-input

chore: 更新依赖
  package.json
  pnpm-lock.yaml
  pnpm-workspace.yaml
Due: none

revert!: 回滚 vite-plugin-fake-server 插件配置
  apps/core-ant-design-vue/src/api/fake_modules/app.fake.ts
  apps/core-ant-design-vue/vite/plugins.ts
  apps/core-antdv-next/src/api/fake_modules/app.fake.ts
  apps/core-antdv-next/vite/plugins.ts
  apps/core-arco-design-vue/src/api/fake_modules/app.fake.ts
  apps/core-arco-design-vue/vite/plugins.ts
  apps/core-naive-ui/src/api/fake_modules/app.fake.ts
  apps/core-naive-ui/vite/plugins.ts
  apps/core-tdesign/src/api/fake_modules/app.fake.ts
  apps/core-tdesign/vite/plugins.ts
  apps/core-vexip-ui/src/api/fake_modules/app.fake.ts
  apps/core-vexip-ui/vite/plugins.ts
  apps/core/src/api/fake_modules/app.fake.ts
  apps/core/vite/plugins.ts
  apps/example/src/api/fake_modules/app.fake.ts
  apps/example/src/api/fake_modules/standardModule.fake.ts
  apps/example/src/api/fake_modules/upload.fake.ts
  apps/example/vite/plugins.ts
Due: eslint . --cache --fix

feat(tag): 新增标签组件及示例
  apps/example/src/router/modules/component.example.ts
  apps/example/src/views/component_example/tag.vue
  packages/components/src/basic/tag/README.md
  packages/components/src/basic/tag/_examples/_basic.vue
  packages/components/src/basic/tag/_examples/_closable.vue
  packages/components/src/basic/tag/_examples/_icon.vue
  packages/components/src/basic/tag/_examples/index.ts
  packages/components/src/basic/tag/index.vue
  packages/components/src/basic/tag/tag/Tag.vue
  packages/components/src/basic/tag/tag/index.ts
  packages/components/src/examples.ts
  packages/components/src/index.ts
Due: eslint . --cache --fix, stylelint src/**/*.{css,scss,vue} --cache --fix --allow-empty-input

feat(badge): 新增徽章组件及示例
  apps/example/src/router/modules/component.example.ts
  apps/example/src/views/component_example/badge.vue
  packages/components/src/basic/badge/README.md
  packages/components/src/basic/badge/_examples/_basic.vue
  packages/components/src/basic/badge/_examples/index.ts
  packages/components/src/basic/badge/badge/Badge.vue
  packages/components/src/basic/badge/badge/index.ts
  packages/components/src/basic/badge/index.vue
  packages/components/src/examples.ts
  packages/components/src/index.ts
Due: eslint . --cache --fix, stylelint src/**/*.{css,scss,vue} --cache --fix --allow-empty-input

feat: 内建组件内的固定中文文案，改为可替换
  packages/components/src/basic/file-upload/README.md
  packages/components/src/basic/file-upload/index.vue
  packages/components/src/basic/pagination/README.md
  packages/components/src/basic/pagination/index.vue
Due: eslint . --cache --fix, stylelint src/**/*.{css,scss,vue} --cache --fix --allow-empty-input

chore: 将 lucide-vue-next 替换为 @lucide/vue，并更新相关依赖
  apps/core-ant-design-vue/package.json
  apps/core-antdv-next/package.json
  apps/core-arco-design-vue/package.json
  apps/core-naive-ui/package.json
  apps/core-tdesign/package.json
  apps/core-vexip-ui/package.json
  apps/core/package.json
  apps/example/package.json
  packages/components/package.json
  packages/components/src/basic/checkbox/checkbox/Checkbox.vue
  packages/components/src/basic/context-menu/context-menu/ContextMenuCheckboxItem.vue
  packages/components/src/basic/context-menu/context-menu/ContextMenuRadioItem.vue
  packages/components/src/basic/context-menu/context-menu/ContextMenuSubTrigger.vue
  packages/components/src/basic/drawer/sheet/SheetContent.vue
  packages/components/src/basic/dropdown/dropdown-menu/DropdownMenuCheckboxItem.vue
  packages/components/src/basic/dropdown/dropdown-menu/DropdownMenuRadioItem.vue
  packages/components/src/basic/dropdown/dropdown-menu/DropdownMenuSubTrigger.vue
  packages/components/src/basic/image-preview/dialog/DialogContent.vue
  packages/components/src/basic/image-preview/dialog/DialogScrollContent.vue
  packages/components/src/basic/input-otp/input-otp/InputOTPSeparator.vue
  packages/components/src/basic/modal/dialog/DialogContent.vue
  packages/components/src/basic/modal/dialog/DialogScrollContent.vue
  packages/components/src/basic/number-field/number-field/NumberFieldDecrement.vue
  packages/components/src/basic/number-field/number-field/NumberFieldIncrement.vue
  packages/components/src/basic/pagination/pagination/PaginationEllipsis.vue
  packages/components/src/basic/pagination/pagination/PaginationFirst.vue
  packages/components/src/basic/pagination/pagination/PaginationLast.vue
  packages/components/src/basic/pagination/pagination/PaginationNext.vue
  packages/components/src/basic/pagination/pagination/PaginationPrevious.vue
  packages/components/src/basic/radio-group/radio-group/RadioGroupItem.vue
  packages/components/src/basic/select/select/SelectItem.vue
  packages/components/src/basic/select/select/SelectScrollDownButton.vue
  packages/components/src/basic/select/select/SelectScrollUpButton.vue
  packages/components/src/basic/select/select/SelectTrigger.vue
  packages/components/src/basic/toast/sonner/Sonner.vue
  pnpm-lock.yaml
  pnpm-workspace.yaml
Due: eslint . --cache --fix, stylelint src/**/*.{css,scss,vue} --cache --fix --allow-empty-input

style: 统一命名约定
  packages/components/src/basic/tag/tag/Tag.vue
Due: eslint . --cache --fix, stylelint src/**/*.{css,scss,vue} --cache --fix --allow-empty-input

feat(skill): 更新 fa-crud-page-generator
  skills/fa-crud-page-generator/SKILL.md
  skills/fa-crud-page-generator/references/templates.md
Due: none

refactor: 重构标准模块列表
  apps/example/src/views/standard_module_example/list.vue
Due: eslint . --cache --fix, stylelint src/**/*.{css,scss,vue} --cache --fix --allow-empty-input

feat(descriptions): 新增 FaDescriptions 组件及示例
  apps/core-ant-design-vue/src/types/components.d.ts
  apps/core-antdv-next/src/types/components.d.ts
  apps/core-arco-design-vue/src/types/components.d.ts
  apps/core-naive-ui/src/types/components.d.ts
  apps/core-tdesign/src/types/components.d.ts
  apps/core-vexip-ui/src/types/components.d.ts
  apps/example/src/router/modules/component.example.ts
  apps/example/src/types/components.d.ts
  apps/example/src/views/component_example/descriptions.vue
  packages/components/resolver.ts
  packages/components/src/basic/descriptions/README.md
  packages/components/src/basic/descriptions/_examples/_basic.vue
  packages/components/src/basic/descriptions/_examples/_border.vue
  packages/components/src/basic/descriptions/_examples/_slot.vue
  packages/components/src/basic/descriptions/_examples/_vertical.vue
  packages/components/src/basic/descriptions/_examples/index.ts
  packages/components/src/basic/descriptions/index.vue
  packages/components/src/examples.ts
  packages/components/src/index.ts
Due: eslint . --cache --fix, stylelint src/**/*.{css,scss,vue} --cache --fix --allow-empty-input

docs: readme
  README.md
Due: none

chore: 更新主页 One-step Console 介绍
  apps/core-ant-design-vue/src/views/index.vue
  apps/core-antdv-next/src/views/index.vue
  apps/core-arco-design-vue/src/views/index.vue
  apps/core-naive-ui/src/views/index.vue
  apps/core-tdesign/src/views/index.vue
  apps/core-vexip-ui/src/views/index.vue
  apps/core/src/views/index.vue
  apps/example/src/views/index.vue
Due: eslint . --cache --fix, stylelint src/**/*.{css,scss,vue} --cache --fix --allow-empty-input

refactor: 修改 Router 接口为 _RouterClassic 以支持扩展语法
  apps/core-ant-design-vue/src/router/extensions.ts
  apps/core-antdv-next/src/router/extensions.ts
  apps/core-arco-design-vue/src/router/extensions.ts
  apps/core-naive-ui/src/router/extensions.ts
  apps/core-tdesign/src/router/extensions.ts
  apps/core-vexip-ui/src/router/extensions.ts
  apps/core/src/router/extensions.ts
  apps/core/src/types/components.d.ts
  apps/example/src/router/extensions.ts
Due: eslint . --cache --fix

refactor: 更新页面重载逻辑以支持 Ctrl/⌘ 键
  apps/core-ant-design-vue/src/layouts/components/Topbar/Toolbar/PageReload/index.vue
  apps/core-antdv-next/src/layouts/components/Topbar/Toolbar/PageReload/index.vue
  apps/core-arco-design-vue/src/layouts/components/Topbar/Toolbar/PageReload/index.vue
  apps/core-naive-ui/src/layouts/components/Topbar/Toolbar/PageReload/index.vue
  apps/core-tdesign/src/layouts/components/Topbar/Toolbar/PageReload/index.vue
  apps/core-vexip-ui/src/layouts/components/Topbar/Toolbar/PageReload/index.vue
  apps/core/src/layouts/components/Topbar/Toolbar/PageReload/index.vue
  apps/example/src/layouts/components/Topbar/Toolbar/PageReload/index.vue
Due: eslint . --cache --fix, stylelint src/**/*.{css,scss,vue} --cache --fix --allow-empty-input

chore: 移除/更换部分三方插件示例
  apps/example/package.json
  apps/example/src/router/modules/plugin.example.ts
  apps/example/src/types/shims.d.ts
  apps/example/src/views/plugin_example/esign.vue
  apps/example/src/views/plugin_example/g2plot.vue
  apps/example/src/views/plugin_example/markdown.vue
  pnpm-lock.yaml
  pnpm-workspace.yaml
Due: eslint . --cache --fix, stylelint src/**/*.{css,scss,vue} --cache --fix --allow-empty-input

chore: release v6.2.0
  package.json
Due: none

Path conditions:
  eslint . --cache --fix: any of: *.{ts,tsx,vue}
  stylelint src/**/*.{css,scss,vue} --cache --fix --allow-empty-input: any of: *.{css,scss,vue}
