Repository fantastic-admin/basic: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint . --cache --fix, stylelint src/**/*.{css,scss,vue} --cache --fix --allow-empty-input

refactor: 重构 `useFaModal` 和 `useFaDrawer`
  src/ui/components/FaDrawer/index.ts
  src/ui/components/FaModal/index.ts
Due: eslint . --cache --fix

`FaModal` 和 `FaDrawer` 组件添加 zIndex 属性
  src/ui/components/FaDrawer/index.ts
  src/ui/components/FaDrawer/index.vue
  src/ui/components/FaDrawer/sheet/SheetContent.vue
  src/ui/components/FaDrawer/sheet/index.ts
  src/ui/components/FaModal/dialog/DialogContent.vue
  src/ui/components/FaModal/dialog/DialogTitle.vue
  src/ui/components/FaModal/index.ts
  src/ui/components/FaModal/index.vue
Due: eslint . --cache --fix, stylelint src/**/*.{css,scss,vue} --cache --fix --allow-empty-input

feat: `FaModal` 和 `FaDrawer` 组件添加 zIndex 属性
  src/ui/components/FaDrawer/index.ts
  src/ui/components/FaDrawer/index.vue
  src/ui/components/FaDrawer/sheet/SheetContent.vue
  src/ui/components/FaDrawer/sheet/index.ts
  src/ui/components/FaModal/dialog/DialogContent.vue
  src/ui/components/FaModal/dialog/DialogTitle.vue
  src/ui/components/FaModal/index.ts
  src/ui/components/FaModal/index.vue
Due: eslint . --cache --fix, stylelint src/**/*.{css,scss,vue} --cache --fix --allow-empty-input

修复 `FaDrawer` and `FaModal` 组件在头部不显示时的警告
  src/ui/components/FaDrawer/index.vue
  src/ui/components/FaModal/index.vue
Due: eslint . --cache --fix, stylelint src/**/*.{css,scss,vue} --cache --fix --allow-empty-input

fix: 修复 `FaDrawer` and `FaModal` 组件在头部不显示时的警告
  src/ui/components/FaDrawer/index.vue
  src/ui/components/FaModal/index.vue
Due: eslint . --cache --fix, stylelint src/**/*.{css,scss,vue} --cache --fix --allow-empty-input

优化菜单项初始化逻辑
  src/layouts/components/Menu/index.vue
Due: eslint . --cache --fix, stylelint src/**/*.{css,scss,vue} --cache --fix --allow-empty-input

refactor: 优化菜单项初始化逻辑
  src/layouts/components/Menu/index.vue
Due: eslint . --cache --fix, stylelint src/**/*.{css,scss,vue} --cache --fix --allow-empty-input

优化次导航第一层最深路径解析逻辑
  src/store/modules/menu.ts
Due: eslint . --cache --fix

refactor: 优化次导航第一层最深路径解析逻辑
  src/store/modules/menu.ts
Due: eslint . --cache --fix

添加单选按钮组示例
  src/views/component_built_in_example/button.vue
Due: eslint . --cache --fix, stylelint src/**/*.{css,scss,vue} --cache --fix --allow-empty-input

调整 `FaDrawer` 和 `FaModal` 组件的底部样式，增加内边距
  src/ui/components/FaDrawer/index.vue
  src/ui/components/FaModal/index.vue
Due: eslint . --cache --fix, stylelint src/**/*.{css,scss,vue} --cache --fix --allow-empty-input

style: 调整 `FaDrawer` 和 `FaModal` 组件的底部样式，增加内边距
  src/ui/components/FaDrawer/index.vue
  src/ui/components/FaModal/index.vue
Due: eslint . --cache --fix, stylelint src/**/*.{css,scss,vue} --cache --fix --allow-empty-input

`FaSlider` 组件增加 `tooltip` 属性
  src/ui/components/FaSlider/index.vue
  src/ui/components/FaSlider/slider/Slider.vue
Due: eslint . --cache --fix, stylelint src/**/*.{css,scss,vue} --cache --fix --allow-empty-input

feat: `FaSlider` 组件增加 `tooltip` 属性
  src/ui/components/FaSlider/index.vue
  src/ui/components/FaSlider/slider/Slider.vue
Due: eslint . --cache --fix, stylelint src/**/*.{css,scss,vue} --cache --fix --allow-empty-input

feat: 增加 `FaTextarea` 组件
  src/types/components.d.ts
  src/ui/components/FaTextarea/index.vue
  src/ui/components/FaTextarea/textarea/Textarea.vue
  src/ui/components/FaTextarea/textarea/index.ts
Due: eslint . --cache --fix, stylelint src/**/*.{css,scss,vue} --cache --fix --allow-empty-input

增加 `FaTextarea` 组件
  src/router/modules/component.example.ts
  src/types/components.d.ts
  src/ui/components/FaTextarea/index.vue
  src/ui/components/FaTextarea/textarea/Textarea.vue
  src/ui/components/FaTextarea/textarea/index.ts
  src/views/component_built_in_example/textarea.vue
Due: eslint . --cache --fix, stylelint src/**/*.{css,scss,vue} --cache --fix --allow-empty-input

docs: 更新
  README.md
Due: none

确保 router.close 方法在 router.push 后处理 tabbar 状态
  src/router/extensions.ts
Due: eslint . --cache --fix

fix: 确保 router.close 方法在 router.push 后处理 tabbar 状态
  src/router/extensions.ts
Due: eslint . --cache --fix

`useFaModal` 和 `useFaDrawer` 页面卸载时自动清理
  src/ui/components/FaDrawer/index.ts
  src/ui/components/FaModal/index.ts
Due: eslint . --cache --fix

feat: `useFaModal` 和 `useFaDrawer` 页面卸载时自动清理
  src/ui/components/FaDrawer/index.ts
  src/ui/components/FaModal/index.ts
Due: eslint . --cache --fix

优化响应拦截器逻辑
  src/api/index.ts
Due: eslint . --cache --fix

refactor: 优化响应拦截器逻辑
  src/api/index.ts
Due: eslint . --cache --fix

更新依赖
  package.json
  pnpm-lock.yaml
  src/types/auto-imports.d.ts
Due: eslint . --cache --fix

chore: 更新依赖
  package.json
  pnpm-lock.yaml
  src/types/auto-imports.d.ts
Due: eslint . --cache --fix

chore: release v5.6.0
  package.json
Due: none

优化请求错误处理逻辑
  src/api/index.ts
Due: eslint . --cache --fix

refactor: 优化请求错误处理逻辑
  src/api/index.ts
Due: eslint . --cache --fix

`FaSelect` 组件支持更多类型
  src/ui/components/FaSelect/index.vue
Due: eslint . --cache --fix, stylelint src/**/*.{css,scss,vue} --cache --fix --allow-empty-input

feat: `FaSelect` 组件支持更多类型
  src/ui/components/FaSelect/index.vue
Due: eslint . --cache --fix, stylelint src/**/*.{css,scss,vue} --cache --fix --allow-empty-input

优化标签页快捷键跳转逻辑
  src/layouts/components/Topbar/Tabbar/index.vue
Due: eslint . --cache --fix, stylelint src/**/*.{css,scss,vue} --cache --fix --allow-empty-input

refactor: 优化标签页快捷键跳转逻辑
  src/layouts/components/Topbar/Tabbar/index.vue
Due: eslint . --cache --fix, stylelint src/**/*.{css,scss,vue} --cache --fix --allow-empty-input

修复 `FaPinInput` 组件输入bug
  src/ui/components/FaPinInput/index.vue
  src/ui/components/FaPinInput/pin-input/PinInputGroup.vue
  src/ui/components/FaPinInput/pin-input/PinInputSeparator.vue
  src/ui/components/FaPinInput/pin-input/PinInputSlot.vue
  src/ui/components/FaPinInput/pin-input/index.ts
Due: eslint . --cache --fix, stylelint src/**/*.{css,scss,vue} --cache --fix --allow-empty-input

fix: 修复 `FaPinInput` 组件输入bug
  src/ui/components/FaPinInput/index.vue
  src/ui/components/FaPinInput/pin-input/PinInputGroup.vue
  src/ui/components/FaPinInput/pin-input/PinInputSeparator.vue
  src/ui/components/FaPinInput/pin-input/PinInputSlot.vue
  src/ui/components/FaPinInput/pin-input/index.ts
Due: eslint . --cache --fix, stylelint src/**/*.{css,scss,vue} --cache --fix --allow-empty-input

更新依赖
  package.json
  pnpm-lock.yaml
  src/components/AccountForm/RegisterForm.vue
  tsconfig.app.json
Due: eslint . --cache --fix, stylelint src/**/*.{css,scss,vue} --cache --fix --allow-empty-input

chore: 更新依赖
  package.json
  pnpm-lock.yaml
  src/components/AccountForm/RegisterForm.vue
  tsconfig.app.json
Due: eslint . --cache --fix, stylelint src/**/*.{css,scss,vue} --cache --fix --allow-empty-input

修复 `FaFileUpload` 和 `FaImageUpload` 在表单中点击可能会触发表单提交
  src/ui/components/FaFileUpload/index.vue
  src/ui/components/FaImageUpload/index.vue
Due: eslint . --cache --fix, stylelint src/**/*.{css,scss,vue} --cache --fix --allow-empty-input

fix: 修复 `FaFileUpload` 和 `FaImageUpload` 在表单中点击可能会触发表单提交
  src/ui/components/FaFileUpload/index.vue
  src/ui/components/FaImageUpload/index.vue
Due: eslint . --cache --fix, stylelint src/**/*.{css,scss,vue} --cache --fix --allow-empty-input

`FaCheckbox` 支持半选状态
  src/ui/components/FaCheckbox/checkbox/Checkbox.vue
  src/ui/components/FaCheckbox/index.vue
  src/views/component_built_in_example/checkbox.vue
Due: eslint . --cache --fix, stylelint src/**/*.{css,scss,vue} --cache --fix --allow-empty-input

feat: `FaCheckbox` 支持半选状态
  src/ui/components/FaCheckbox/checkbox/Checkbox.vue
  src/ui/components/FaCheckbox/index.vue
Due: eslint . --cache --fix, stylelint src/**/*.{css,scss,vue} --cache --fix --allow-empty-input

Path conditions:
  eslint . --cache --fix: any of: *.{ts,tsx,vue}
  stylelint src/**/*.{css,scss,vue} --cache --fix --allow-empty-input: any of: *.{css,scss,vue}
