Repository fantastic-admin/basic: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint . --cache --fix, stylelint src/**/*.{css,scss,vue} --cache --fix --allow-empty-input

refactor: 调整 HDialog / HSlideover 组件 overlay 属性默认为 false
  src/layouts/ui-kit/HDialog.vue
  src/layouts/ui-kit/HSlideover.vue
Due: eslint . --cache --fix, stylelint src/**/*.{css,scss,vue} --cache --fix --allow-empty-input

生态增加 Vexip UI 链接
  src/router/modules/ecology.example.ts
Due: eslint . --cache --fix

增加 Vexip UI 示例链接
  src/layouts/components/BuyIt/index.vue
Due: eslint . --cache --fix, stylelint src/**/*.{css,scss,vue} --cache --fix --allow-empty-input

更新依赖
  package.json
  pnpm-lock.yaml
Due: none

chore: 更新依赖
  package.json
  pnpm-lock.yaml
Due: none

合作伙伴增加 form-create
  src/router/modules/ecology.example.ts
Due: eslint . --cache --fix

修复 vue-esign 插件示例未显示
  src/views/plugin_example/esign.vue
Due: eslint . --cache --fix, stylelint src/**/*.{css,scss,vue} --cache --fix --allow-empty-input

chore: release v4.0.2
  package.json
Due: none

chore: 系统信息里增加版本号显示
  src/components/SystemInfo/index.vue
  src/types/shims.d.ts
  vite.config.ts
Due: eslint . --cache --fix, stylelint src/**/*.{css,scss,vue} --cache --fix --allow-empty-input

修复文件系统路由下，导航栏无法展开多级和一级导航无法点击
  src/layouts/components/Menu/index.vue
  src/layouts/components/Menu/sub.vue
Due: eslint . --cache --fix, stylelint src/**/*.{css,scss,vue} --cache --fix --allow-empty-input

fix: 修复文件系统路由下，导航栏无法展开多级和一级导航无法点击
  src/layouts/components/Menu/index.vue
  src/layouts/components/Menu/sub.vue
Due: eslint . --cache --fix, stylelint src/**/*.{css,scss,vue} --cache --fix --allow-empty-input

fix: 搜索界面弹出时动画失效
  src/layouts/components/Search/index.vue
Due: eslint . --cache --fix, stylelint src/**/*.{css,scss,vue} --cache --fix --allow-empty-input

搜索界面弹出时动画失效
  src/layouts/components/Search/index.vue
  src/router/modules/jsx.example.ts
Due: eslint . --cache --fix, stylelint src/**/*.{css,scss,vue} --cache --fix --allow-empty-input

chore: 增加 github stars 曲线图
  README.md
Due: none

chore: release v4.0.3
  package.json
Due: none

调整导航顶部模式下展示样式
  src/App.vue
  src/assets/styles/globals.scss
  src/layouts/components/Header/index.vue
  src/layouts/components/MainSidebar/index.vue
  src/layouts/components/Menu/item.vue
  src/layouts/components/SubSidebar/index.vue
  src/layouts/components/Topbar/Toolbar/index.vue
Due: eslint . --cache --fix, stylelint src/**/*.{css,scss,vue} --cache --fix --allow-empty-input

refactor: 调整导航顶部模式下展示样式
  src/App.vue
  src/assets/styles/globals.scss
  src/layouts/components/Header/index.vue
  src/layouts/components/MainSidebar/index.vue
  src/layouts/components/Menu/item.vue
  src/layouts/components/SubSidebar/index.vue
  src/layouts/components/Topbar/Toolbar/index.vue
Due: eslint . --cache --fix, stylelint src/**/*.{css,scss,vue} --cache --fix --allow-empty-input

修复次导航第一个导航无子级路由时不显示
  src/layouts/components/Search/index.vue
  src/layouts/components/SubSidebar/index.vue
  src/layouts/components/Topbar/Toolbar/index.vue
Due: eslint . --cache --fix, stylelint src/**/*.{css,scss,vue} --cache --fix --allow-empty-input

fix: 修复次导航第一个导航无子级路由时不显示
  src/layouts/components/Search/index.vue
  src/layouts/components/SubSidebar/index.vue
  src/layouts/components/Topbar/Toolbar/index.vue
Due: eslint . --cache --fix, stylelint src/**/*.{css,scss,vue} --cache --fix --allow-empty-input

导航title类型补充
  src/layouts/components/Header/index.vue
  src/layouts/components/MainSidebar/index.vue
  src/layouts/components/Menu/item.vue
  src/layouts/components/Search/index.vue
  src/types/global.d.ts
Due: eslint . --cache --fix, stylelint src/**/*.{css,scss,vue} --cache --fix --allow-empty-input

refactor: 导航title类型补充
  src/layouts/components/Header/index.vue
  src/layouts/components/MainSidebar/index.vue
  src/layouts/components/Menu/item.vue
  src/layouts/components/Search/index.vue
  src/types/global.d.ts
Due: eslint . --cache --fix, stylelint src/**/*.{css,scss,vue} --cache --fix --allow-empty-input

refactor: 登录页logo图替换为img标签
  src/views/login.vue
Due: eslint . --cache --fix, stylelint src/**/*.{css,scss,vue} --cache --fix --allow-empty-input

登录页logo图替换为img标签
  src/views/login.vue
Due: eslint . --cache --fix, stylelint src/**/*.{css,scss,vue} --cache --fix --allow-empty-input

eslint 规则替换
  eslint.config.js
Due: none

chore: eslint 规则替换
  eslint.config.js
Due: none

更新依赖
  .vscode/extensions.json
  package.json
  pnpm-lock.yaml
  src/types/auto-imports.d.ts
Due: eslint . --cache --fix

chore: 更新依赖
  .vscode/extensions.json
  package.json
  pnpm-lock.yaml
  src/types/auto-imports.d.ts
Due: eslint . --cache --fix

chore: 调整 release actions
  .github/workflows/release.yml
Due: none

修改 SearchBar 组件示例
  src/layouts/components/Topbar/Toolbar/index.vue
  src/views/component_extend_example/searchbar.demo.vue
Due: eslint . --cache --fix, stylelint src/**/*.{css,scss,vue} --cache --fix --allow-empty-input

更新依赖，eslint 增加 unocss 配置
  eslint.config.js
  package.json
  pnpm-lock.yaml
  src/components/FixedActionBar/index.vue
  src/components/NotAllowed/index.vue
  src/components/PageHeader/index.vue
  src/components/PageMain/index.vue
  src/components/SearchBar/index.vue
  src/components/SvgIcon/index.vue
  src/components/SystemInfo/index.vue
  src/layouts/components/AppSetting/index.vue
  src/layouts/components/BackTop/index.vue
  src/layouts/components/BuyIt/index.vue
  src/layouts/components/Header/index.vue
  src/layouts/components/HotkeysIntro/index.vue
  src/layouts/components/Logo/index.vue
  src/layouts/components/MainSidebar/index.vue
  src/layouts/components/Menu/item.vue
  src/layouts/components/Search/index.vue
  src/layouts/components/Tools/index.vue
  src/layouts/components/Topbar/Toolbar/index.vue
  src/layouts/components/views/link.vue
  src/layouts/ui-kit/HCheckList.vue
  src/layouts/ui-kit/HDialog.vue
  src/layouts/ui-kit/HDropdownMenu.vue
  src/layouts/ui-kit/HInput.vue
  src/layouts/ui-kit/HKbd.vue
  src/layouts/ui-kit/HSelect.vue
  src/layouts/ui-kit/HSlideover.vue
  src/layouts/ui-kit/HTabList.vue
  src/layouts/ui-kit/HToggle.vue
  src/views/[...all].vue
  src/views/component_basic_example/components/slider.vue
  src/views/component_built_in_example/index.vue
  src/views/feature_example/table.autoheight.vue
  src/views/index.vue
  src/views/plugin_example/vxe-table.vue
Due: eslint . --cache --fix, stylelint src/**/*.{css,scss,vue} --cache --fix --allow-empty-input

更新依赖，eslint 增加 unocss 配置
  eslint.config.js
  package.json
  pnpm-lock.yaml
  src/components/FixedActionBar/index.vue
  src/components/NotAllowed/index.vue
  src/components/PageHeader/index.vue
  src/components/PageMain/index.vue
  src/components/SearchBar/index.vue
  src/components/SvgIcon/index.vue
  src/components/SystemInfo/index.vue
  src/layouts/components/AppSetting/index.vue
  src/layouts/components/BackTop/index.vue
  src/layouts/components/Header/index.vue
  src/layouts/components/HotkeysIntro/index.vue
  src/layouts/components/Logo/index.vue
  src/layouts/components/MainSidebar/index.vue
  src/layouts/components/Menu/item.vue
  src/layouts/components/Search/index.vue
  src/layouts/components/Tools/index.vue
  src/layouts/components/Topbar/Toolbar/index.vue
  src/layouts/components/views/link.vue
  src/layouts/ui-kit/HCheckList.vue
  src/layouts/ui-kit/HDialog.vue
  src/layouts/ui-kit/HDropdownMenu.vue
  src/layouts/ui-kit/HInput.vue
  src/layouts/ui-kit/HKbd.vue
  src/layouts/ui-kit/HSelect.vue
  src/layouts/ui-kit/HSlideover.vue
  src/layouts/ui-kit/HTabList.vue
  src/layouts/ui-kit/HToggle.vue
  src/views/[...all].vue
  src/views/index.vue
Due: eslint . --cache --fix, stylelint src/**/*.{css,scss,vue} --cache --fix --allow-empty-input

fix: 修复次导航的显隐逻辑
  src/App.vue
  src/layouts/components/SubSidebar/index.vue
  src/layouts/components/Topbar/Toolbar/index.vue
Due: eslint . --cache --fix, stylelint src/**/*.{css,scss,vue} --cache --fix --allow-empty-input

修复次导航的显隐逻辑
  src/App.vue
  src/layouts/components/SubSidebar/index.vue
  src/layouts/components/Topbar/Toolbar/index.vue
Due: eslint . --cache --fix, stylelint src/**/*.{css,scss,vue} --cache --fix --allow-empty-input

更新依赖
  package.json
  pnpm-lock.yaml
  src/layouts/ui-kit/HKbd.vue
  src/views/index.vue
Due: eslint . --cache --fix, stylelint src/**/*.{css,scss,vue} --cache --fix --allow-empty-input

Path conditions:
  eslint . --cache --fix: any of: *.{ts,tsx,vue}
  stylelint src/**/*.{css,scss,vue} --cache --fix --allow-empty-input: any of: *.{css,scss,vue}
