Repository fantastic-admin/basic: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --cache --fix, stylelint --cache --fix --allow-empty-input

chore: release v3.2.1
  package.json
Due: none

补充 process 引入
  scripts/prepare.js
  vite.config.ts
  vite/plugins/svg-icon.ts
Due: none

更新依赖
  package.json
  pnpm-lock.yaml
Due: none

chore: 补充 process 引入
  scripts/prepare.js
  vite.config.ts
  vite/plugins/svg-icon.ts
Due: none

chore: 更新依赖
  package.json
  pnpm-lock.yaml
Due: none

chore: release v3.2.2
  package.json
Due: none

build: 开发环境默认关闭本地代理
  .env.development
Due: none

开发环境默认关闭本地代理
  .env.development
Due: none

修复后端返回路由 component 字段为空导致link导航失效
  src/store/modules/route.ts
Due: eslint --cache --fix

修复 403/404 页面图标尺寸
  src/components/NotAllowed/index.vue
  src/views/[...all].vue
Due: eslint --cache --fix, stylelint --cache --fix --allow-empty-input

fix: 修复 403/404 页面图标尺寸
  src/components/NotAllowed/index.vue
  src/views/[...all].vue
Due: eslint --cache --fix, stylelint --cache --fix --allow-empty-input

chore: release v3.2.3
  package.json
Due: none

修复搜索结果列表图标展示过大
  src/layouts/components/Search/index.vue
Due: eslint --cache --fix, stylelint --cache --fix --allow-empty-input

fix: 修复搜索结果列表图标展示过大
  src/layouts/components/Search/index.vue
Due: eslint --cache --fix, stylelint --cache --fix --allow-empty-input

chore: release v3.2.4
  package.json
Due: none

chore: release v4.0.0
  package.json
Due: none

修复火狐下样式兼容性问题
  src/layouts/components/AppSetting/index.vue
  src/layouts/ui-kit/HTabList.vue
Due: eslint --cache --fix, stylelint --cache --fix --allow-empty-input

fix: 修复火狐下样式兼容性问题
  src/layouts/components/AppSetting/index.vue
  src/layouts/ui-kit/HTabList.vue
Due: eslint --cache --fix, stylelint --cache --fix --allow-empty-input

修复 HTabList 组件文字不居中的问题
  src/layouts/ui-kit/HTabList.vue
Due: eslint --cache --fix, stylelint --cache --fix --allow-empty-input

fix: 修复 HTabList 组件文字不居中的问题
  src/layouts/ui-kit/HTabList.vue
Due: eslint --cache --fix, stylelint --cache --fix --allow-empty-input

修复导航跳转时如果被中断，高亮位置不正确
  src/layouts/components/Menu/index.vue
Due: eslint --cache --fix, stylelint --cache --fix --allow-empty-input

fix: 修复导航跳转时如果被中断，高亮位置不正确
  src/layouts/components/Menu/index.vue
Due: eslint --cache --fix, stylelint --cache --fix --allow-empty-input

chore: 更新commitlintrc配置
  .commitlintrc.js
Due: none

修复 plop 无法使用
  plop-templates/component/prompt.js
  plop-templates/mock/prompt.js
  plop-templates/page/prompt.js
  plop-templates/store/prompt.js
  plopfile.js
Due: none

fix: 修复 plop 无法使用
  plop-templates/component/prompt.js
  plop-templates/mock/prompt.js
  plop-templates/page/prompt.js
  plop-templates/store/prompt.js
  plopfile.js
Due: none

chore: release v4.0.1
  package.json
Due: none

移除 Copyright 组件无效样式
  src/layouts/components/Copyright/index.vue
Due: eslint --cache --fix, stylelint --cache --fix --allow-empty-input

refactor: 移除 Copyright 组件无效样式
  src/layouts/components/Copyright/index.vue
Due: eslint --cache --fix, stylelint --cache --fix --allow-empty-input

调整 HDialog / HSlideover 组件 overlay 属性默认为 false
  src/layouts/ui-kit/HDialog.vue
  src/layouts/ui-kit/HSlideover.vue
Due: eslint --cache --fix, stylelint --cache --fix --allow-empty-input

Path conditions:
  eslint --cache --fix: (any of: src/**/*.{js,jsx,ts,tsx}) or (any of: src/**/*.vue)
  stylelint --cache --fix --allow-empty-input: (any of: src/**/*.{css,scss}) or (any of: src/**/*.vue)
