Repository fantastic-admin/basic: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --cache --fix, stylelint --cache --fix --allow-empty-input

refactor: 优化搜索界面布局样式
  src/layouts/components/Search/index.vue
Due: eslint --cache --fix, stylelint --cache --fix --allow-empty-input

更新依赖
  package.json
  pnpm-lock.yaml
Due: none

chore: 更新依赖
  package.json
  pnpm-lock.yaml
Due: none

chore: release v2.5.0
  package.json
Due: none

pinia store 改为 setup 写法
  src/App.vue
  src/components/Copyright/index.vue
  src/components/Editor/index.vue
  src/layouts/components/AppSetting/index.vue
  src/layouts/components/Header/index.vue
  src/layouts/components/HotkeysIntro/index.vue
  src/layouts/components/Logo/index.vue
  src/layouts/components/MainSidebar/index.vue
  src/layouts/components/Search/index.vue
  src/layouts/components/SidebarItem/index.vue
  src/layouts/components/SubSidebar/index.vue
  src/layouts/components/Tools/index.vue
  src/layouts/components/Topbar/index.vue
  src/layouts/index.vue
  src/main.ts
  src/router/index.ts
  src/router/routes.ts
  src/store/modules/keepAlive.ts
  src/store/modules/menu.ts
  src/store/modules/route.ts
  src/store/modules/settings.ts
  src/store/modules/user.ts
  src/utils/composables/useAuth.ts
  src/utils/composables/useMenu.ts
  src/views/permission_example/index.vue
Due: eslint --cache --fix, stylelint --cache --fix --allow-empty-input

refactor!: pinia store 改为 setup 写法
  src/App.vue
  src/components/Copyright/index.vue
  src/components/Editor/index.vue
  src/layouts/components/AppSetting/index.vue
  src/layouts/components/Header/index.vue
  src/layouts/components/HotkeysIntro/index.vue
  src/layouts/components/Logo/index.vue
  src/layouts/components/MainSidebar/index.vue
  src/layouts/components/Search/index.vue
  src/layouts/components/SidebarItem/index.vue
  src/layouts/components/SubSidebar/index.vue
  src/layouts/components/Tools/index.vue
  src/layouts/components/Topbar/index.vue
  src/layouts/index.vue
  src/main.ts
  src/router/index.ts
  src/router/routes.ts
  src/store/modules/keepAlive.ts
  src/store/modules/menu.ts
  src/store/modules/route.ts
  src/store/modules/settings.ts
  src/store/modules/user.ts
  src/utils/composables/useAuth.ts
  src/utils/composables/useMenu.ts
Due: eslint --cache --fix, stylelint --cache --fix --allow-empty-input

修改 vite 构建配置，兼容 github pages
  vite.config.ts
Due: none

修改 vite 构建配置
  public/.nojekyll
  vite.config.ts
Due: none

移除环境配置文件里无效配置
  .env.example
Due: none

chore: 移除环境配置文件里无效配置
  .env.production
  .env.test
Due: none

修复应用配置中复制配置按钮，复制内容过多的问题
  src/layouts/components/AppSetting/index.vue
Due: eslint --cache --fix, stylelint --cache --fix --allow-empty-input

fix: 修复应用配置中复制配置按钮，复制内容过多的问题
  src/layouts/components/AppSetting/index.vue
Due: eslint --cache --fix, stylelint --cache --fix --allow-empty-input

引入 vite-plugin-vue-inspector 插件
  package.json
  pnpm-lock.yaml
  vite/plugins/index.ts
  vite/plugins/inspector.ts
Due: none

feat: 引入 vite-plugin-vue-inspector 插件
  package.json
  pnpm-lock.yaml
  vite/plugins/index.ts
  vite/plugins/inspector.ts
Due: none

fix: 修复预览图片无法完整覆盖 el-table 固定列
  src/components/ImagePreview/index.vue
  src/components/ImageUpload/index.vue
  src/components/ImagesUpload/index.vue
Due: eslint --cache --fix, stylelint --cache --fix --allow-empty-input

修复预览图片无法完整覆盖 el-table 固定列
  src/components/ImagePreview/index.vue
  src/components/ImageUpload/index.vue
  src/components/ImagesUpload/index.vue
  src/views/component_extend_example/image.preview.demo.vue
  src/views/component_extend_example/upload.demo.vue
Due: eslint --cache --fix, stylelint --cache --fix --allow-empty-input

修复次导航收起时图标不居中
  src/layouts/components/SidebarItem/index.vue
Due: eslint --cache --fix, stylelint --cache --fix --allow-empty-input

fix: 修复次导航收起时图标不居中
  src/layouts/components/SidebarItem/index.vue
Due: eslint --cache --fix, stylelint --cache --fix --allow-empty-input

chore: release v2.6.0
  package.json
Due: none

更新默认 copyright 信息
  src/settings.default.ts
Due: eslint --cache --fix

chore: 更新默认 copyright 信息
  src/settings.default.ts
Due: eslint --cache --fix

部署测试
  public/.github/workflows/deploy.yml
Due: none

chore: release v2.6.1
  package.json
Due: none

更新优惠活动
  src/layouts/components/BuyIt/index.vue
Due: eslint --cache --fix, stylelint --cache --fix --allow-empty-input

修复面包屑导航显示bug
  src/store/modules/route.ts
Due: eslint --cache --fix

fix: 修复面包屑导航显示bug
  src/store/modules/route.ts
Due: eslint --cache --fix

chore: release v2.6.2
  package.json
Due: none

Path conditions:
  eslint --cache --fix: (any of: src/**/*.{js,jsx,ts,tsx}) or (any of: src/**/*.vue)
  stylelint --cache --fix --allow-empty-input: (any of: src/**/*.{css,scss}) or (any of: src/**/*.vue)
