Repository fantastic-admin/basic: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint . --cache --fix, stylelint src/**/*.{css,scss,vue} --cache --fix --allow-empty-input

.lintstagedrc:

{
  "*.{ts,tsx,vue}": "eslint . --cache --fix",
  "*.{css,scss,vue}": "stylelint src/**/*.{css,scss,vue} --cache --fix --allow-empty-input"
}

feat!: 新增 `FaImagePreview` 组件，并移除 `ImagePreview` 组件
  src/components/ImagePreview/index.vue
  src/types/components.d.ts
  src/ui/components/FaImagePreview/dialog/Dialog.vue
  src/ui/components/FaImagePreview/dialog/DialogClose.vue
  src/ui/components/FaImagePreview/dialog/DialogContent.vue
  src/ui/components/FaImagePreview/dialog/DialogDescription.vue
  src/ui/components/FaImagePreview/dialog/DialogFooter.vue
  src/ui/components/FaImagePreview/dialog/DialogHeader.vue
  src/ui/components/FaImagePreview/dialog/DialogScrollContent.vue
  src/ui/components/FaImagePreview/dialog/DialogTitle.vue
  src/ui/components/FaImagePreview/dialog/DialogTrigger.vue
  src/ui/components/FaImagePreview/dialog/index.ts
  src/ui/components/FaImagePreview/index.vue
Due: eslint . --cache --fix, stylelint src/**/*.{css,scss,vue} --cache --fix --allow-empty-input

移除 `useViewTransition` 函数封装
  src/assets/styles/globals.css
  src/layouts/components/Topbar/Toolbar/ColorScheme/index.vue
  src/types/auto-imports.d.ts
  src/utils/composables/useViewTransition.ts
Due: eslint . --cache --fix, stylelint src/**/*.{css,scss,vue} --cache --fix --allow-empty-input

refactor!: 移除 `useViewTransition` 函数封装
  src/assets/styles/globals.css
  src/layouts/components/Topbar/Toolbar/ColorScheme/index.vue
  src/types/auto-imports.d.ts
  src/utils/composables/useViewTransition.ts
Due: eslint . --cache --fix, stylelint src/**/*.{css,scss,vue} --cache --fix --allow-empty-input

refactor!: 扩展路由 `close` 函数，并移除 useTabbar 中 `close` 函数
  src/router/extensions.ts
  src/utils/composables/useTabbar.ts
Due: eslint . --cache --fix

扩展路由 `close` 函数，并移除 useTabbar 中 `close` 函数
  src/router/extensions.ts
  src/utils/composables/useTabbar.ts
  src/views/tab_example/index.vue
Due: eslint . --cache --fix, stylelint src/**/*.{css,scss,vue} --cache --fix --allow-empty-input

个人设置弹窗适配移动端
  src/components/AccountButton/index.vue
  src/components/AccountButton/profile.vue
Due: eslint . --cache --fix, stylelint src/**/*.{css,scss,vue} --cache --fix --allow-empty-input

feat: 个人设置弹窗适配移动端
  src/components/AccountButton/index.vue
  src/components/AccountButton/profile.vue
Due: eslint . --cache --fix, stylelint src/**/*.{css,scss,vue} --cache --fix --allow-empty-input

标签页右键菜单补充图标
  src/layouts/components/Topbar/Tabbar/index.vue
  src/main.ts
Due: eslint . --cache --fix, stylelint src/**/*.{css,scss,vue} --cache --fix --allow-empty-input

feat: 标签页右键菜单补充图标
  src/layouts/components/Topbar/Tabbar/index.vue
  src/main.ts
Due: eslint . --cache --fix, stylelint src/**/*.{css,scss,vue} --cache --fix --allow-empty-input

vite 升级到 7.0
  package.json
  pnpm-lock.yaml
  vite.config.ts
Due: eslint . --cache --fix

feat: vite 升级到 7.0
  package.json
  pnpm-lock.yaml
  vite.config.ts
Due: eslint . --cache --fix

更新依赖
  package.json
  pnpm-lock.yaml
  src/assets/icons/403.svg
  src/assets/icons/404.svg
  src/assets/icons/example-crown.svg
  src/assets/icons/example-emotion-laugh-line.svg
  src/assets/icons/example-emotion-line.svg
  src/assets/icons/example-emotion-unhappy-line.svg
  src/assets/icons/example-star.svg
  src/assets/icons/example-vip.svg
  src/assets/icons/toolbar-collapse.svg
  src/ui/components/FaImagePreview/dialog/Dialog.vue
  src/ui/components/FaImagePreview/dialog/DialogClose.vue
  src/ui/components/FaImagePreview/dialog/DialogContent.vue
  src/ui/components/FaImagePreview/dialog/DialogDescription.vue
  src/ui/components/FaImagePreview/dialog/DialogScrollContent.vue
  src/ui/components/FaImagePreview/dialog/DialogTitle.vue
  src/ui/components/FaImagePreview/dialog/DialogTrigger.vue
  src/ui/components/FaModal/dialog/DialogScrollContent.vue
  src/views/plugin_example/components/command.vue
Due: eslint . --cache --fix, stylelint src/**/*.{css,scss,vue} --cache --fix --allow-empty-input

chore: 更新依赖
  package.json
  pnpm-lock.yaml
  src/assets/icons/403.svg
  src/assets/icons/404.svg
  src/assets/icons/toolbar-collapse.svg
  src/ui/components/FaImagePreview/dialog/Dialog.vue
  src/ui/components/FaImagePreview/dialog/DialogClose.vue
  src/ui/components/FaImagePreview/dialog/DialogContent.vue
  src/ui/components/FaImagePreview/dialog/DialogDescription.vue
  src/ui/components/FaImagePreview/dialog/DialogScrollContent.vue
  src/ui/components/FaImagePreview/dialog/DialogTitle.vue
  src/ui/components/FaImagePreview/dialog/DialogTrigger.vue
  src/ui/components/FaModal/dialog/DialogScrollContent.vue
Due: eslint . --cache --fix, stylelint src/**/*.{css,scss,vue} --cache --fix --allow-empty-input

chore: release v5.5.0
  package.json
Due: none

修复自动生成 store 文件目录错误
  plop-templates/store/prompt.js
Due: none

fix: 修复自动生成 store 文件目录错误
  plop-templates/store/prompt.js
Due: none

`FaImagePreview` 组件增加函数式调用
  src/ui/components/FaImagePreview/index.ts
  src/ui/components/FaImagePreview/index.vue
  src/ui/components/FaImagePreview/preview.vue
  src/views/component_built_in_example/imagepreview.vue
Due: eslint . --cache --fix, stylelint src/**/*.{css,scss,vue} --cache --fix --allow-empty-input

feat: `FaImagePreview` 组件增加函数式调用
  src/ui/components/FaImagePreview/index.ts
  src/ui/components/FaImagePreview/index.vue
  src/ui/components/FaImagePreview/preview.vue
Due: eslint . --cache --fix, stylelint src/**/*.{css,scss,vue} --cache --fix --allow-empty-input

`FaImagePreview` 组件函数式调用增加多图支持
  src/ui/components/FaImagePreview/index.ts
  src/ui/components/FaImagePreview/preview.vue
  src/views/component_built_in_example/imagepreview.vue
Due: eslint . --cache --fix, stylelint src/**/*.{css,scss,vue} --cache --fix --allow-empty-input

feat: `FaImagePreview` 组件函数式调用增加多图支持
  src/ui/components/FaImagePreview/index.ts
  src/ui/components/FaImagePreview/preview.vue
Due: eslint . --cache --fix, stylelint src/**/*.{css,scss,vue} --cache --fix --allow-empty-input

feat!: 新增 `FaImageUpload` 组件，移除 `ImageUpload` 和 `ImagesUpload` 组件
  package.json
  pnpm-lock.yaml
  src/components/ImageUpload/index.vue
  src/components/ImagesUpload/index.vue
  src/types/components.d.ts
  src/ui/components/FaImageUpload/index.vue
Due: eslint . --cache --fix, stylelint src/**/*.{css,scss,vue} --cache --fix --allow-empty-input

新增 `FaImageUpload` 组件，移除 `ImageUpload` 和 `ImagesUpload` 组件
  package.json
  pnpm-lock.yaml
  src/components/ImageUpload/index.vue
  src/components/ImagesUpload/index.vue
  src/mock/upload.ts
  src/router/modules/component.example.ts
  src/types/components.d.ts
  src/ui/components/FaImageUpload/index.vue
  src/views/component_built_in_example/imageupload.vue
  src/views/component_extend_example/upload.vue
Due: eslint . --cache --fix, stylelint src/**/*.{css,scss,vue} --cache --fix --allow-empty-input

新增 `FaFileUpload` 组件，移除 `FileUpload` 组件
  src/components/FileUpload/index.vue
  src/mock/upload.ts
  src/router/modules/component.example.ts
  src/types/components.d.ts
  src/ui/components/FaFileUpload/index.vue
  src/views/component_built_in_example/fileupload.vue
  src/views/component_built_in_example/imageupload.vue
Due: eslint . --cache --fix, stylelint src/**/*.{css,scss,vue} --cache --fix --allow-empty-input

feat!: 新增 `FaFileUpload` 组件，移除 `FileUpload` 组件
  src/components/FileUpload/index.vue
  src/types/components.d.ts
  src/ui/components/FaFileUpload/index.vue
Due: eslint . --cache --fix, stylelint src/**/*.{css,scss,vue} --cache --fix --allow-empty-input

修复 `FaButtonGroup` 组件的按钮边框样式，确保在非最后一个和非第一个按钮时正确应用圆角样式
  src/ui/components/FaButtonGroup/index.vue
Due: eslint . --cache --fix, stylelint src/**/*.{css,scss,vue} --cache --fix --allow-empty-input

fix: 修复 `FaButtonGroup` 组件的按钮边框样式，确保在非最后一个和非第一个按钮时正确应用圆角样式
  src/ui/components/FaButtonGroup/index.vue
Due: eslint . --cache --fix, stylelint src/**/*.{css,scss,vue} --cache --fix --allow-empty-input

移除无用演示页面
  src/router/modules/component.example.ts
  src/views/component_extend_example/image.preview.vue
  src/views/component_extend_example/pcas.vue
  src/views/component_extend_example/upload.vue
Due: eslint . --cache --fix, stylelint src/**/*.{css,scss,vue} --cache --fix --allow-empty-input

更新依赖
  package.json
  pnpm-lock.yaml
  src/ui/provider/index.vue
Due: eslint . --cache --fix, stylelint src/**/*.{css,scss,vue} --cache --fix --allow-empty-input

chore: 更新依赖
  package.json
  pnpm-lock.yaml
  src/ui/provider/index.vue
Due: eslint . --cache --fix, stylelint src/**/*.{css,scss,vue} --cache --fix --allow-empty-input

优化 tabId ，排除路由中的 query 参数
  src/store/modules/tabbar.ts
  src/utils/composables/useTabbar.ts
Due: eslint . --cache --fix

refactor: 优化 tabId ，排除路由中的 query 参数
  src/store/modules/tabbar.ts
  src/utils/composables/useTabbar.ts
Due: eslint . --cache --fix

feat: `FaModal` 和 `FaDrawer` 分别增加命令式调用API
  src/ui/components/FaDrawer/index.ts
  src/ui/components/FaDrawer/index.vue
  src/ui/components/FaDrawer/sheet/SheetContent.vue
  src/ui/components/FaModal/index.ts
  src/ui/components/FaModal/index.vue
Due: eslint . --cache --fix, stylelint src/**/*.{css,scss,vue} --cache --fix --allow-empty-input

`FaModal` 和 `FaDrawer` 分别增加命令式调用API
  src/ui/components/FaDrawer/index.ts
  src/ui/components/FaDrawer/index.vue
  src/ui/components/FaDrawer/sheet/SheetContent.vue
  src/ui/components/FaModal/index.ts
  src/ui/components/FaModal/index.vue
  src/views/component_built_in_example/drawer.vue
  src/views/component_built_in_example/modal.vue
Due: eslint . --cache --fix, stylelint src/**/*.{css,scss,vue} --cache --fix --allow-empty-input

优化页面缓存逻辑
  src/router/guards.ts
Due: eslint . --cache --fix

refactor: 优化页面缓存逻辑
  src/router/guards.ts
Due: eslint . --cache --fix

重构 `useFaModal` 和 `useFaDrawer`
  src/ui/components/FaDrawer/index.ts
  src/ui/components/FaModal/index.ts
  src/views/component_built_in_example/modal.vue
Due: eslint . --cache --fix, stylelint src/**/*.{css,scss,vue} --cache --fix --allow-empty-input
