Repository fantastic-admin/basic: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --cache --fix, stylelint --cache --fix --allow-empty-input

移除 `BatchActionBar` 组件
  src/components/BatchActionBar/index.vue
  src/router/modules/component.extend.example.ts
  src/views/component_extend_example/batchactionbar.demo.vue
Due: eslint --cache --fix, stylelint --cache --fix --allow-empty-input

chore!: 移除 `BatchActionBar` 组件
  src/components/BatchActionBar/index.vue
Due: eslint --cache --fix, stylelint --cache --fix --allow-empty-input

chore: 更新依赖
  package.json
  pnpm-lock.yaml
  src/api/index.ts
  src/main.ts
  src/router/index.ts
  src/types/components.d.ts
Due: eslint --cache --fix

更新依赖
  package.json
  pnpm-lock.yaml
  src/api/index.ts
  src/main.ts
  src/router/index.ts
  src/types/components.d.ts
  src/views/jsx_example/components/JsxComp/index.vue
  src/views/jsx_example/index.tsx
Due: eslint --cache --fix, stylelint --cache --fix --allow-empty-input

修复主页无法引入请求 api 并使用的问题
  src/api/index.ts
  src/layouts/components/Tools/index.vue
  src/store/modules/user.ts
  src/views/personal/edit.password.vue
Due: eslint --cache --fix, stylelint --cache --fix --allow-empty-input

fix: 修复主页无法引入请求 api 并使用的问题
  src/api/index.ts
  src/layouts/components/Tools/index.vue
  src/store/modules/user.ts
  src/views/personal/edit.password.vue
Due: eslint --cache --fix, stylelint --cache --fix --allow-empty-input

修改 hidden 类名，避免和 unocss 产生冲突
  src/layouts/components/Search/index.vue
Due: eslint --cache --fix, stylelint --cache --fix --allow-empty-input

refactor: 修改 hidden 类名，避免和 unocss 产生冲突
  src/layouts/components/Search/index.vue
Due: eslint --cache --fix, stylelint --cache --fix --allow-empty-input

更新依赖
  package.json
  pnpm-lock.yaml
  src/views/personal/edit.password.vue
Due: eslint --cache --fix, stylelint --cache --fix --allow-empty-input

chore: 更新依赖
  package.json
  pnpm-lock.yaml
  src/views/personal/edit.password.vue
Due: eslint --cache --fix, stylelint --cache --fix --allow-empty-input

入口 index.html 设置为不缓存
  index.html
Due: none

refactor: 入口 index.html 设置为不缓存
  index.html
Due: none

更新依赖
  package.json
  pnpm-lock.yaml
  src/layouts/components/SidebarItem/index.vue
Due: eslint --cache --fix, stylelint --cache --fix --allow-empty-input

chore: 更新依赖
  package.json
  pnpm-lock.yaml
  src/layouts/components/SidebarItem/index.vue
Due: eslint --cache --fix, stylelint --cache --fix --allow-empty-input

chore: release v3.0.0
  package.json
Due: none

优化 `PageHeader` 组件样式
  src/components/PageHeader/index.vue
Due: eslint --cache --fix, stylelint --cache --fix --allow-empty-input

refactor: 优化 `PageHeader` 组件样式
  src/components/PageHeader/index.vue
Due: eslint --cache --fix, stylelint --cache --fix --allow-empty-input

`SearchBar` 组件示例调整
  src/views/component_extend_example/searchbar.demo.vue
Due: eslint --cache --fix, stylelint --cache --fix --allow-empty-input

主页排版调整
  src/views/index.vue
Due: eslint --cache --fix, stylelint --cache --fix --allow-empty-input

修改mock请求地址
  src/api/modules/app.ts
Due: eslint --cache --fix

重构次导航默认展开效果
  src/layouts/components/SubSidebar/index.vue
  src/store/modules/menu.ts
Due: eslint --cache --fix, stylelint --cache --fix --allow-empty-input

chore: 修改mock请求地址
  src/api/modules/app.ts
Due: eslint --cache --fix

refactor: 重构次导航默认展开效果
  src/layouts/components/SubSidebar/index.vue
  src/store/modules/menu.ts
Due: eslint --cache --fix, stylelint --cache --fix --allow-empty-input

更新依赖
  package.json
  pnpm-lock.yaml
Due: none

chore: 更新依赖
  package.json
  pnpm-lock.yaml
Due: none

引入vite legacy插件
  package.json
  pnpm-lock.yaml
  vite/plugins/index.ts
Due: none

feat: 引入vite legacy插件
  package.json
  pnpm-lock.yaml
  vite/plugins/index.ts
Due: none

refactor!: 使用 `defineOptions` 设置组件 name
  package.json
  plop-templates/component/index.hbs
  plop-templates/page/index.hbs
  pnpm-lock.yaml
  src/components/Auth/index.vue
  src/components/AuthAll/index.vue
  src/components/Copyright/index.vue
  src/components/FileUpload/index.vue
  src/components/FixedActionBar/index.vue
  src/components/ImagePreview/index.vue
  src/components/ImageUpload/index.vue
  src/components/ImagesUpload/index.vue
  src/components/NotAllowed/index.vue
  src/components/PageHeader/index.vue
  src/components/PageMain/index.vue
  src/components/PcasCascader/index.vue
  src/components/PcasCascader/pcas-code.json
  src/components/SearchBar/index.vue
  src/components/SvgIcon/index.vue
  src/components/SystemInfo/index.vue
  src/components/Trend/index.vue
  src/layouts/components/AppSetting/index.vue
  src/layouts/components/Header/index.vue
  src/layouts/components/Logo/index.vue
  src/layouts/components/MainSidebar/index.vue
  src/layouts/components/Search/index.vue
  src/layouts/components/SidebarItem/index.vue
  src/layouts/components/SubSidebar/index.vue
  src/layouts/components/Tools/index.vue
  src/layouts/components/Topbar/index.vue
  src/layouts/components/views/link.vue
  src/layouts/index.vue
  src/views/index.vue
  src/views/login.vue
  src/views/personal/edit.password.vue
  src/views/personal/setting.vue
  vite/plugins/index.ts
  vite/plugins/setup-extend.ts
Due: eslint --cache --fix, stylelint --cache --fix --allow-empty-input

统一调整 `defineProps` 以及默认值的写法
  package.json
  pnpm-lock.yaml
  src/components/FileUpload/index.vue
  src/components/ImagePreview/index.vue
  src/components/ImageUpload/index.vue
  src/components/ImagesUpload/index.vue
  src/components/PageHeader/index.vue
  src/components/PageMain/index.vue
  src/components/PcasCascader/index.vue
  src/components/SearchBar/index.vue
  src/components/SvgIcon/index.vue
  src/components/Trend/index.vue
  src/layouts/components/Logo/index.vue
  src/layouts/components/SidebarItem/index.vue
Due: eslint --cache --fix, stylelint --cache --fix --allow-empty-input

refactor: 统一调整 `defineProps` 以及默认值的写法
  package.json
  pnpm-lock.yaml
  src/components/FileUpload/index.vue
  src/components/ImagePreview/index.vue
  src/components/ImageUpload/index.vue
  src/components/ImagesUpload/index.vue
  src/components/PageHeader/index.vue
  src/components/PageMain/index.vue
  src/components/PcasCascader/index.vue
  src/components/SearchBar/index.vue
  src/components/SvgIcon/index.vue
  src/components/Trend/index.vue
  src/layouts/components/Logo/index.vue
  src/layouts/components/SidebarItem/index.vue
Due: eslint --cache --fix, stylelint --cache --fix --allow-empty-input

refactor: 调整 `<script setup>` 属性顺序
  plop-templates/component/index.hbs
  plop-templates/page/index.hbs
  src/App.vue
  src/components/Auth/index.vue
  src/components/AuthAll/index.vue
  src/components/Copyright/index.vue
  src/components/FileUpload/index.vue
  src/components/FixedActionBar/index.vue
  src/components/ImagePreview/index.vue
  src/components/ImageUpload/index.vue
  src/components/ImagesUpload/index.vue
  src/components/NotAllowed/index.vue
  src/components/PageHeader/index.vue
  src/components/PageMain/index.vue
  src/components/PcasCascader/index.vue
  src/components/SearchBar/index.vue
  src/components/SvgIcon/index.vue
  src/components/Trend/index.vue
  src/layouts/components/AppSetting/index.vue
  src/layouts/components/Header/index.vue
  src/layouts/components/Logo/index.vue
  src/layouts/components/MainSidebar/index.vue
  src/layouts/components/Search/index.vue
  src/layouts/components/SidebarItem/index.vue
  src/layouts/components/SubSidebar/index.vue
  src/layouts/components/Tools/index.vue
  src/layouts/components/Topbar/index.vue
  src/layouts/components/views/link.vue
  src/layouts/index.vue
  src/views/[...all].vue
  src/views/index.vue
  src/views/login.vue
  src/views/personal/edit.password.vue
  src/views/personal/setting.vue
  src/views/reload.vue
Due: eslint --cache --fix, stylelint --cache --fix --allow-empty-input

移除模板代码中的 `$route`
  src/layouts/components/SubSidebar/index.vue
  src/layouts/index.vue
  src/views/keep_alive_example/detail.vue
Due: eslint --cache --fix, stylelint --cache --fix --allow-empty-input

fix: 移除模板代码中的 `$route`
  src/layouts/components/SubSidebar/index.vue
  src/layouts/index.vue
Due: eslint --cache --fix, stylelint --cache --fix --allow-empty-input

更新依赖
  package.json
  pnpm-lock.yaml
  src/layouts/components/Header/index.vue
  src/types/auto-imports.d.ts
Due: eslint --cache --fix, stylelint --cache --fix --allow-empty-input

chore: 更新依赖
  package.json
  pnpm-lock.yaml
  src/layouts/components/Header/index.vue
  src/types/auto-imports.d.ts
Due: eslint --cache --fix, stylelint --cache --fix --allow-empty-input

统一调整 `defineEmits` 写法
  src/components/FileUpload/index.vue
  src/components/ImageUpload/index.vue
  src/components/ImagesUpload/index.vue
  src/components/PcasCascader/index.vue
  src/components/SearchBar/index.vue
Due: eslint --cache --fix, stylelint --cache --fix --allow-empty-input

Path conditions:
  eslint --cache --fix: (any of: src/**/*.{js,jsx,ts,tsx}) or (any of: src/**/*.vue)
  stylelint --cache --fix --allow-empty-input: (any of: src/**/*.{css,scss}) or (any of: src/**/*.vue)
