Repository fantastic-admin/basic: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint . --cache --fix, stylelint src/**/*.{css,scss,vue} --cache --fix --allow-empty-input

chore: release v4.6.2
  package.json
Due: none

移除弃用扩展
  .vscode/extensions.json
Due: none

chore: 移除弃用扩展
  .vscode/extensions.json
Due: none

修改 workflow
  .github/workflows/deploy-example-site.yml
  public/.github/workflows/deploy.yml
Due: none

ci: 修改 workflow
  .github/workflows/release.yml
Due: none

调整 onsize 事件写法
  src/App.vue
Due: eslint . --cache --fix, stylelint src/**/*.{css,scss,vue} --cache --fix --allow-empty-input

refactor: 调整 onsize 事件写法
  src/App.vue
Due: eslint . --cache --fix, stylelint src/**/*.{css,scss,vue} --cache --fix --allow-empty-input

修复 mock 模板请求无响应数据
  plop-templates/mock/mock.hbs
Due: none

fix: 修复 mock 模板请求无响应数据
  plop-templates/mock/mock.hbs
Due: none

更新活动信息
  src/layouts/components/BuyIt/index.vue
Due: eslint . --cache --fix, stylelint src/**/*.{css,scss,vue} --cache --fix --allow-empty-input

修改 tinymce 安装说明
  src/views/plugin_example/tinymce.vue
Due: eslint . --cache --fix, stylelint src/**/*.{css,scss,vue} --cache --fix --allow-empty-input

更新依赖
  package.json
  pnpm-lock.yaml
  src/components/FileUpload/index.vue
  src/components/ImageUpload/index.vue
  src/components/ImagesUpload/index.vue
  src/components/SearchBar/index.vue
  src/layouts/ui-kit/HCheckList.vue
  src/layouts/ui-kit/HDialog.vue
  src/layouts/ui-kit/HSlideover.vue
  src/layouts/ui-kit/HTabList.vue
  src/views/component_basic_example/components/checkbox.vue
  src/views/component_basic_example/components/radio.vue
Due: eslint . --cache --fix, stylelint src/**/*.{css,scss,vue} --cache --fix --allow-empty-input

chore: 更新依赖
  package.json
  pnpm-lock.yaml
  src/components/FileUpload/index.vue
  src/components/ImageUpload/index.vue
  src/components/ImagesUpload/index.vue
  src/components/SearchBar/index.vue
  src/layouts/ui-kit/HCheckList.vue
  src/layouts/ui-kit/HDialog.vue
  src/layouts/ui-kit/HSlideover.vue
  src/layouts/ui-kit/HTabList.vue
Due: eslint . --cache --fix, stylelint src/**/*.{css,scss,vue} --cache --fix --allow-empty-input

路由增加 `meta.menu` 配置，同时 `meta.sidebar` 进入弃用过渡期
  src/layouts/components/Menu/sub.vue
  src/layouts/components/Search/index.vue
  src/mock/app.ts
  src/router/modules/breadcrumb.example.ts
  src/router/modules/jsx.example.ts
  src/router/modules/keep.alive.example.ts
  src/router/modules/mock.example.ts
  src/router/modules/permission.example.ts
  src/router/modules/tab.example.ts
  src/store/modules/menu.ts
  src/store/modules/route.ts
  src/types/global.d.ts
Due: eslint . --cache --fix, stylelint src/**/*.{css,scss,vue} --cache --fix --allow-empty-input

feat: 路由增加 `meta.menu` 配置，同时 `meta.sidebar` 进入弃用过渡期
  src/layouts/components/Menu/sub.vue
  src/layouts/components/Search/index.vue
  src/store/modules/menu.ts
  src/store/modules/route.ts
  src/types/global.d.ts
Due: eslint . --cache --fix, stylelint src/**/*.{css,scss,vue} --cache --fix --allow-empty-input

fix: 修复顶部导航鼠标滚动回弹
  src/layouts/components/Header/index.vue
Due: eslint . --cache --fix, stylelint src/**/*.{css,scss,vue} --cache --fix --allow-empty-input

修复顶部导航鼠标滚动回弹
  src/layouts/components/Header/index.vue
Due: eslint . --cache --fix, stylelint src/**/*.{css,scss,vue} --cache --fix --allow-empty-input

修复顶部导航数量过多，导致工具栏被遮挡
  src/layouts/components/Header/index.vue
Due: eslint . --cache --fix, stylelint src/**/*.{css,scss,vue} --cache --fix --allow-empty-input

fix: 修复顶部导航数量过多，导致工具栏被遮挡
  src/layouts/components/Header/index.vue
Due: eslint . --cache --fix, stylelint src/**/*.{css,scss,vue} --cache --fix --allow-empty-input

修改 github actions
  .github/workflows/deploy-example-site.yml
  public/.github/workflows/deploy.yml
  public/.nojekyll
Due: none

修复后端返回路由时，因为父级auth为空字符串或数组导致子级权限失效的问题
  src/store/modules/route.ts
Due: eslint . --cache --fix

fix: 修复后端返回路由时，因为父级auth为空字符串或数组导致子级权限失效的问题
  src/store/modules/route.ts
Due: eslint . --cache --fix

chore: 更新依赖
  package.json
  pnpm-lock.yaml
  src/layouts/components/Topbar/Tabbar/index.vue
  src/router/index.ts
  src/store/modules/route.ts
Due: eslint . --cache --fix, stylelint src/**/*.{css,scss,vue} --cache --fix --allow-empty-input

更新依赖
  package.json
  pnpm-lock.yaml
  src/layouts/components/Topbar/Tabbar/index.vue
  src/router/index.ts
  src/store/modules/route.ts
Due: eslint . --cache --fix, stylelint src/**/*.{css,scss,vue} --cache --fix --allow-empty-input

ci: 修改 github actions 自动同步时间
  .github/workflows/repo-sync.yml
Due: none

增加 vue hooks plus 插件示例
  package.json
  pnpm-lock.yaml
  src/router/modules/plugin.example.ts
  src/views/plugin_example/hooks.plus.vue
Due: eslint . --cache --fix, stylelint src/**/*.{css,scss,vue} --cache --fix --allow-empty-input

页面宽度判断移动端设备从992调整为1024
  src/layouts/components/BackTop/index.vue
  src/layouts/components/HotkeysIntro/index.vue
  src/layouts/components/Search/index.vue
  src/layouts/ui-kit/HDialog.vue
  src/store/modules/settings.ts
Due: eslint . --cache --fix, stylelint src/**/*.{css,scss,vue} --cache --fix --allow-empty-input

chore: 页面宽度判断移动端设备从992调整为1024
  src/layouts/components/BackTop/index.vue
  src/layouts/components/HotkeysIntro/index.vue
  src/layouts/components/Search/index.vue
  src/layouts/ui-kit/HDialog.vue
  src/store/modules/settings.ts
Due: eslint . --cache --fix, stylelint src/**/*.{css,scss,vue} --cache --fix --allow-empty-input

`menuStore.menus` 转为内部使用，外部统一使用 `menuStore.allMenus`
  src/layouts/components/Search/index.vue
  src/store/modules/menu.ts
Due: eslint . --cache --fix, stylelint src/**/*.{css,scss,vue} --cache --fix --allow-empty-input

refactor: `menuStore.menus` 转为内部使用，外部统一使用 `menuStore.allMenus`
  src/layouts/components/Search/index.vue
  src/store/modules/menu.ts
Due: eslint . --cache --fix, stylelint src/**/*.{css,scss,vue} --cache --fix --allow-empty-input

移除`routeStore.routes`
  src/store/modules/menu.ts
  src/store/modules/route.ts
Due: eslint . --cache --fix

refactor: 移除`routeStore.routes`
  src/store/modules/menu.ts
  src/store/modules/route.ts
Due: eslint . --cache --fix

fix: 文件路由系统下,用户权限变化后,菜单不更新
  src/layouts/components/Menu/index.vue
  src/router/index.ts
  src/store/modules/menu.ts
  src/store/modules/route.ts
  src/store/modules/user.ts
Due: eslint . --cache --fix, stylelint src/**/*.{css,scss,vue} --cache --fix --allow-empty-input

文件路由系统下,用户权限变化后,菜单不更新
  src/layouts/components/Menu/index.vue
  src/menu/index.ts
  src/menu/modules/permission.example.ts
  src/mock/app.ts
  src/router/index.ts
  src/store/modules/menu.ts
  src/store/modules/route.ts
  src/store/modules/user.ts
  src/views/mock_example/index.vue
  src/views/permission_example/index.vue
  src/views/permission_example/test.vue
Due: eslint . --cache --fix, stylelint src/**/*.{css,scss,vue} --cache --fix --allow-empty-input

移除活动信息
  src/layouts/components/BuyIt/index.vue
  src/views/index.vue
Due: eslint . --cache --fix, stylelint src/**/*.{css,scss,vue} --cache --fix --allow-empty-input

更新依赖
  package.json
  pnpm-lock.yaml
Due: none

chore: 更新依赖
  package.json
  pnpm-lock.yaml
Due: none

chore: release v4.7.0
  package.json
Due: none

fix: 修复一级路由设置 `meta.menu: false` 无效
  src/layouts/components/Menu/index.vue
Due: eslint . --cache --fix, stylelint src/**/*.{css,scss,vue} --cache --fix --allow-empty-input

修复一级路由设置 `meta.menu: false` 无效
  src/layouts/components/Menu/index.vue
Due: eslint . --cache --fix, stylelint src/**/*.{css,scss,vue} --cache --fix --allow-empty-input

Path conditions:
  eslint . --cache --fix: any of: *.{ts,tsx,vue}
  stylelint src/**/*.{css,scss,vue} --cache --fix --allow-empty-input: any of: *.{css,scss,vue}
