Repository fantastic-admin/basic: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --cache --fix, stylelint --cache --fix --allow-empty-input

refactor: 统一调整 `defineEmits` 写法
  src/components/FileUpload/index.vue
  src/components/ImageUpload/index.vue
  src/components/ImagesUpload/index.vue
  src/components/PcasCascader/index.vue
  src/components/SearchBar/index.vue
Due: eslint --cache --fix, stylelint --cache --fix --allow-empty-input

chore: release v3.1.0
  package.json
Due: none

使用 `defineOptions` 设置组件 name
  src/layouts/components/HotkeysIntro/index.vue
Due: eslint --cache --fix, stylelint --cache --fix --allow-empty-input

refactor: 使用 `defineOptions` 设置组件 name
  src/layouts/components/HotkeysIntro/index.vue
Due: eslint --cache --fix, stylelint --cache --fix --allow-empty-input

代码微调
  public/loading.css
  src/store/modules/menu.ts
Due: eslint --cache --fix

chore: 代码微调
  public/loading.css
  src/store/modules/menu.ts
Due: eslint --cache --fix

chore: 调整 copyright 默认设置
  src/settings.default.ts
  src/types/global.d.ts
Due: eslint --cache --fix

调整 copyright 默认设置
  src/settings.default.ts
  src/settings.ts
  src/types/global.d.ts
Due: eslint --cache --fix

更新活动信息
  src/layouts/components/BuyIt/index.vue
Due: eslint --cache --fix, stylelint --cache --fix --allow-empty-input

chore: release v3.1.1
  package.json
Due: none

chore: 修改网址
  .github/workflows/repo-sync.yml
  README.md
  src/utils/system.copyright.ts
  src/views/index.vue
  vite/plugins/banner.ts
Due: eslint --cache --fix, stylelint --cache --fix --allow-empty-input

修改网址
  .github/workflows/deploy-example-site.yml
  public/.github/workflows/deploy.yml
  src/layouts/components/BuyIt/index.vue
  src/layouts/components/Tools/index.vue
  src/router/modules/ecology.example.ts
  src/router/modules/external.link.example.ts
  src/settings.ts
  src/utils/system.copyright.ts
  src/views/component_extend_example/image.preview.demo.vue
  src/views/index.vue
  vite/plugins/banner.ts
Due: eslint --cache --fix, stylelint --cache --fix --allow-empty-input

代码微调
  plop-templates/component/prompt.js
  plop-templates/page/prompt.js
Due: none

chore: 代码微调
  plop-templates/component/prompt.js
  plop-templates/page/prompt.js
Due: none

优化 plop 启动脚本，自动读取模版目录
  plopfile.js
Due: none

chore: 优化 plop 启动脚本，自动读取模版目录
  plopfile.js
Due: none

copyright 组件移动到 layouts 目录下
  src/layouts/components/Copyright/index.vue
  src/layouts/index.vue
  src/types/components.d.ts
  src/views/login.vue
Due: eslint --cache --fix, stylelint --cache --fix --allow-empty-input

refactor!: copyright 组件移动到 layouts 目录下
  src/layouts/components/Copyright/index.vue
  src/layouts/index.vue
  src/types/components.d.ts
  src/views/login.vue
Due: eslint --cache --fix, stylelint --cache --fix --allow-empty-input

移除 el-icon 使用
  src/assets/icons/pro.svg
  src/components/FileUpload/index.vue
  src/components/ImagePreview/index.vue
  src/components/ImageUpload/index.vue
  src/components/ImagesUpload/index.vue
  src/components/PageMain/index.vue
  src/components/SearchBar/index.vue
  src/components/SvgIcon/index.vue
  src/components/Trend/index.vue
  src/layouts/components/AppSetting/index.vue
  src/layouts/components/BuyIt/index.vue
  src/layouts/components/Header/index.vue
  src/layouts/components/MainSidebar/index.vue
  src/layouts/components/Search/index.vue
  src/layouts/components/SidebarItem/index.vue
  src/layouts/components/Tools/index.vue
  src/layouts/components/Topbar/index.vue
  src/layouts/components/views/link.vue
  src/layouts/index.vue
  src/views/component_basic_example/components/button.vue
  src/views/component_basic_example/components/icon.vue
  src/views/component_basic_example/components/input.vue
  src/views/component_basic_example/components/link.vue
  src/views/component_basic_example/index.vue
  src/views/component_extend_example/pageheader.demo.vue
  src/views/component_extend_example/searchbar.demo.vue
  src/views/component_extend_example/svg.demo.vue
  src/views/index.vue
  src/views/jsx_example/index.tsx
  src/views/login.vue
  src/views/mock_example/index.vue
Due: eslint --cache --fix, stylelint --cache --fix --allow-empty-input

refactor!: 移除 el-icon 使用
  src/components/FileUpload/index.vue
  src/components/ImagePreview/index.vue
  src/components/ImageUpload/index.vue
  src/components/ImagesUpload/index.vue
  src/components/PageMain/index.vue
  src/components/SearchBar/index.vue
  src/components/SvgIcon/index.vue
  src/components/Trend/index.vue
  src/layouts/components/AppSetting/index.vue
  src/layouts/components/Header/index.vue
  src/layouts/components/MainSidebar/index.vue
  src/layouts/components/Search/index.vue
  src/layouts/components/SidebarItem/index.vue
  src/layouts/components/Tools/index.vue
  src/layouts/components/Topbar/index.vue
  src/layouts/components/views/link.vue
  src/layouts/index.vue
  src/views/index.vue
  src/views/login.vue
Due: eslint --cache --fix, stylelint --cache --fix --allow-empty-input

更新百度统计
  src/utils/baidu.ts
Due: eslint --cache --fix

更新 github actions
  .github/workflows/deploy-example-site.yml
Due: none

chore: eventBus类型完善
  src/utils/eventBus.ts
Due: eslint --cache --fix

chore: 调整为单行注释
  src/utils/eventBus.ts
Due: eslint --cache --fix

eventBus 类型完善
  src/utils/eventBus.ts
Due: eslint --cache --fix

更新依赖
  package.json
  pnpm-lock.yaml
  src/App.vue
  src/layouts/components/Topbar/index.vue
  src/store/modules/user.ts
  src/types/components.d.ts
Due: eslint --cache --fix, stylelint --cache --fix --allow-empty-input

chore: 更新依赖
  package.json
  pnpm-lock.yaml
  src/App.vue
  src/layouts/components/Topbar/index.vue
  src/store/modules/user.ts
  src/types/components.d.ts
Due: eslint --cache --fix, stylelint --cache --fix --allow-empty-input

更新任务流
  .github/workflows/deploy-example-site.yml
  public/.github/workflows/deploy.yml
Due: none

chore: 更新 readme
  README.md
Due: none

修复mock数据
  src/mock/app.ts
  src/mock/menu.ts
Due: eslint --cache --fix

更新依赖
  package.json
  pnpm-lock.yaml
Due: none

chore: 更新依赖
  package.json
  pnpm-lock.yaml
Due: none

chore: release v3.2.0
  package.json
Due: none

更新工作流
  .github/workflows/deploy-example-site.yml
Due: none

chore: 更新依赖
  package.json
  pnpm-lock.yaml
  src/components/Auth/index.vue
  src/components/AuthAll/index.vue
  src/components/FileUpload/index.vue
  src/components/FixedActionBar/index.vue
  src/components/ImagePreview/index.vue
  src/components/ImageUpload/index.vue
  src/components/ImagesUpload/index.vue
  src/components/NotAllowed/index.vue
  src/components/PageHeader/index.vue
  src/components/PageMain/index.vue
  src/components/PcasCascader/index.vue
  src/components/SearchBar/index.vue
  src/components/SvgIcon/index.vue
  src/components/Trend/index.vue
  src/layouts/components/Logo/index.vue
  src/layouts/components/SidebarItem/index.vue
  src/views/[...all].vue
  src/views/personal/setting.vue
Due: eslint --cache --fix, stylelint --cache --fix --allow-empty-input

更新依赖
  package.json
  pnpm-lock.yaml
  src/components/Auth/index.vue
  src/components/AuthAll/index.vue
  src/components/FileUpload/index.vue
  src/components/FixedActionBar/index.vue
  src/components/ImagePreview/index.vue
  src/components/ImageUpload/index.vue
  src/components/ImagesUpload/index.vue
  src/components/NotAllowed/index.vue
  src/components/PageHeader/index.vue
  src/components/PageMain/index.vue
  src/components/PcasCascader/index.vue
  src/components/SearchBar/index.vue
  src/components/SvgIcon/index.vue
  src/components/Trend/index.vue
  src/layouts/components/Logo/index.vue
  src/layouts/components/SidebarItem/index.vue
  src/views/[...all].vue
  src/views/component_extend_example/upload.demo.vue
  src/views/personal/setting.vue
Due: eslint --cache --fix, stylelint --cache --fix --allow-empty-input

更新依赖，修改 ts 警告
  .stylelintrc
  package.json
  pnpm-lock.yaml
  src/layouts/components/Search/index.vue
  src/router/index.ts
  src/store/modules/route.ts
  src/types/auto-imports.d.ts
  src/types/global.d.ts
  src/types/shims.d.ts
Due: eslint --cache --fix, stylelint --cache --fix --allow-empty-input

chore: 更新依赖，修改 ts 警告
  .stylelintrc
  package.json
  pnpm-lock.yaml
  src/layouts/components/Search/index.vue
  src/router/index.ts
  src/store/modules/route.ts
  src/types/auto-imports.d.ts
  src/types/global.d.ts
  src/types/shims.d.ts
Due: eslint --cache --fix, stylelint --cache --fix --allow-empty-input

fix: plop 模板读取增加校验
  plopfile.js
Due: none

plop 模板读取增加校验
  plopfile.js
Due: none

Path conditions:
  eslint --cache --fix: (any of: src/**/*.{js,jsx,ts,tsx}) or (any of: src/**/*.vue)
  stylelint --cache --fix --allow-empty-input: (any of: src/**/*.{css,scss}) or (any of: src/**/*.vue)
