Repository fantastic-admin/basic: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint . --cache --fix, stylelint src/**/*.{css,scss,vue} --cache --fix --allow-empty-input

.lintstagedrc:

{
  "*.{ts,tsx,vue}": "eslint . --cache --fix",
  "*.{css,scss,vue}": "stylelint src/**/*.{css,scss,vue} --cache --fix --allow-empty-input"
}

新增 `FaCollapsible` 组件
  src/router/modules/component.example.ts
  src/types/components.d.ts
  src/ui/components/FaCollapsible/collapsible/Collapsible.vue
  src/ui/components/FaCollapsible/collapsible/CollapsibleContent.vue
  src/ui/components/FaCollapsible/collapsible/CollapsibleTrigger.vue
  src/ui/components/FaCollapsible/collapsible/index.ts
  src/ui/components/FaCollapsible/index.vue
  src/views/component_built_in_example/collapsible.vue
Due: eslint . --cache --fix, stylelint src/**/*.{css,scss,vue} --cache --fix --allow-empty-input

feat: 新增 `FaCollapsible` 组件
  src/types/components.d.ts
  src/ui/components/FaCollapsible/collapsible/Collapsible.vue
  src/ui/components/FaCollapsible/collapsible/CollapsibleContent.vue
  src/ui/components/FaCollapsible/collapsible/CollapsibleTrigger.vue
  src/ui/components/FaCollapsible/collapsible/index.ts
  src/ui/components/FaCollapsible/index.vue
Due: eslint . --cache --fix, stylelint src/**/*.{css,scss,vue} --cache --fix --allow-empty-input

chore: 增加英文 readme
  README.EN.md
  README.md
Due: none

移除 `FaScrollArea` 组件中的垂直滚动逻辑
  src/ui/components/FaScrollArea/index.vue
Due: eslint . --cache --fix, stylelint src/**/*.{css,scss,vue} --cache --fix --allow-empty-input

refactor: 移除 `FaScrollArea` 组件中的垂直滚动逻辑
  src/ui/components/FaScrollArea/index.vue
Due: eslint . --cache --fix, stylelint src/**/*.{css,scss,vue} --cache --fix --allow-empty-input

chore: 更新依赖
  .github/workflows/release.yml
  package.json
  pnpm-lock.yaml
  scripts/generate.icons.ts
Due: eslint . --cache --fix

chore: release v5.7.0
  .github/workflows/release.yml
  package.json
Due: none

更新依赖
  .github/workflows/deploy-example-site.yml
  package.json
  pnpm-lock.yaml
  scripts/generate.icons.ts
  src/router/modules/ecology.example.ts
  src/slots/FreePosition/index.vue
Due: eslint . --cache --fix, stylelint src/**/*.{css,scss,vue} --cache --fix --allow-empty-input

fix: 修复 `FaImagePreview` 预览时警告
  src/ui/components/FaImagePreview/preview.vue
Due: eslint . --cache --fix, stylelint src/**/*.{css,scss,vue} --cache --fix --allow-empty-input

修复 `FaImagePreview` 预览时警告
  src/ui/components/FaImagePreview/preview.vue
Due: eslint . --cache --fix, stylelint src/**/*.{css,scss,vue} --cache --fix --allow-empty-input

修复 `FaSwitch` 图标不居中
  src/ui/components/FaSwitch/index.vue
  src/ui/components/FaSwitch/switch/Switch.vue
Due: eslint . --cache --fix, stylelint src/**/*.{css,scss,vue} --cache --fix --allow-empty-input

fix: 修复 `FaSwitch` 图标不居中
  src/ui/components/FaSwitch/index.vue
  src/ui/components/FaSwitch/switch/Switch.vue
Due: eslint . --cache --fix, stylelint src/**/*.{css,scss,vue} --cache --fix --allow-empty-input

主导航切换演示示例调整
  src/views/feature_example/menuswitch.vue
Due: eslint . --cache --fix, stylelint src/**/*.{css,scss,vue} --cache --fix --allow-empty-input

修复明暗主题切换动画闪烁
  src/layouts/components/Topbar/Toolbar/ColorScheme/index.vue
Due: eslint . --cache --fix, stylelint src/**/*.{css,scss,vue} --cache --fix --allow-empty-input

fix: 修复明暗主题切换动画闪烁
  src/layouts/components/Topbar/Toolbar/ColorScheme/index.vue
Due: eslint . --cache --fix, stylelint src/**/*.{css,scss,vue} --cache --fix --allow-empty-input

更新依赖
  package.json
  pnpm-lock.yaml
  src/ui/components/FaModal/dialog/DialogContent.vue
Due: eslint . --cache --fix, stylelint src/**/*.{css,scss,vue} --cache --fix --allow-empty-input

chore: 更新依赖
  package.json
  pnpm-lock.yaml
  src/ui/components/FaModal/dialog/DialogContent.vue
Due: eslint . --cache --fix, stylelint src/**/*.{css,scss,vue} --cache --fix --allow-empty-input

chore: release v5.8.0
  package.json
Due: none

修复自定义内容不生效
  src/ui/components/FaFileUpload/index.vue
Due: eslint . --cache --fix, stylelint src/**/*.{css,scss,vue} --cache --fix --allow-empty-input

fix: 修复自定义内容不生效
  src/ui/components/FaFileUpload/index.vue
Due: eslint . --cache --fix, stylelint src/**/*.{css,scss,vue} --cache --fix --allow-empty-input

chore: 更新 readme
  README.md
Due: none

chore: 更新依赖
  package.json
  pnpm-lock.yaml
  src/router/extensions.ts
  src/router/routes.ts
  src/types/components.d.ts
Due: eslint . --cache --fix

更新依赖
  package.json
  pnpm-lock.yaml
  src/router/extensions.ts
  src/router/routes.ts
  src/types/components.d.ts
Due: eslint . --cache --fix

`useFaModal` 示例扩充
  src/views/component_built_in_example/modal.vue
Due: eslint . --cache --fix, stylelint src/**/*.{css,scss,vue} --cache --fix --allow-empty-input

fix: 修复FaImagePreview组件更改src值后不重置加载状态问题
  src/ui/components/FaImagePreview/index.vue
Due: eslint . --cache --fix, stylelint src/**/*.{css,scss,vue} --cache --fix --allow-empty-input

修复FaImagePreview组件更改src值后不重置加载状态问题
  src/ui/components/FaImagePreview/index.vue
Due: eslint . --cache --fix, stylelint src/**/*.{css,scss,vue} --cache --fix --allow-empty-input

更新依赖
  package.json
  pnpm-lock.yaml
  src/ui/components/FaDrawer/index.ts
  src/ui/components/FaModal/index.ts
  src/views/component_built_in_example/collapsible.vue
Due: eslint . --cache --fix, stylelint src/**/*.{css,scss,vue} --cache --fix --allow-empty-input

chore: 更新依赖
  package.json
  pnpm-lock.yaml
  src/ui/components/FaDrawer/index.ts
  src/ui/components/FaModal/index.ts
Due: eslint . --cache --fix

移除 `FaDrawer` / `FaModal` 组件内置的 `FaScrollArea` 组件
  src/layouts/components/Topbar/Toolbar/NavSearch/search.vue
  src/ui/components/FaDrawer/index.ts
  src/ui/components/FaDrawer/index.vue
  src/ui/components/FaModal/index.ts
  src/ui/components/FaModal/index.vue
Due: eslint . --cache --fix, stylelint src/**/*.{css,scss,vue} --cache --fix --allow-empty-input

refactor: 移除 `FaDrawer` / `FaModal` 组件内置的 `FaScrollArea` 组件
  src/layouts/components/Topbar/Toolbar/NavSearch/search.vue
  src/ui/components/FaDrawer/index.ts
  src/ui/components/FaDrawer/index.vue
  src/ui/components/FaModal/index.ts
  src/ui/components/FaModal/index.vue
Due: eslint . --cache --fix, stylelint src/**/*.{css,scss,vue} --cache --fix --allow-empty-input

refactor: 移除注册表单中的验证码字段
  src/components/AccountForm/RegisterForm.vue
Due: eslint . --cache --fix, stylelint src/**/*.{css,scss,vue} --cache --fix --allow-empty-input

移除注册表单中的验证码字段
  src/components/AccountForm/RegisterForm.vue
Due: eslint . --cache --fix, stylelint src/**/*.{css,scss,vue} --cache --fix --allow-empty-input

docs: 更新readme
  README.EN.md
Due: none

docs: 更新readme
  README.EN.md
  README.md
Due: none

style: 优化明暗切换过渡效果
  src/assets/styles/globals.css
  src/layouts/components/Header/index.vue
  src/layouts/components/MainSidebar/index.vue
  src/layouts/components/Menu/index.vue
  src/layouts/components/Menu/item.vue
  src/layouts/components/Topbar/Toolbar/index.vue
  src/store/modules/settings.ts
  src/ui/components/FaCopyright/index.vue
Due: eslint . --cache --fix, stylelint src/**/*.{css,scss,vue} --cache --fix --allow-empty-input

优化明暗切换过渡效果
  src/assets/styles/globals.css
  src/layouts/components/Header/index.vue
  src/layouts/components/MainSidebar/index.vue
  src/layouts/components/Menu/index.vue
  src/layouts/components/Menu/item.vue
  src/layouts/components/Topbar/Toolbar/index.vue
  src/store/modules/settings.ts
  src/ui/components/FaCopyright/index.vue
Due: eslint . --cache --fix, stylelint src/**/*.{css,scss,vue} --cache --fix --allow-empty-input

chore: 更新依赖
  package.json
  pnpm-lock.yaml
  src/types/auto-imports.d.ts
Due: eslint . --cache --fix

chore: action
  .github/workflows/repo-sync.yml
Due: none

chore: 更新GitCode星标链接
  README.md
  src/views/index.vue
Due: eslint . --cache --fix, stylelint src/**/*.{css,scss,vue} --cache --fix --allow-empty-input
