Repository fantastic-admin/basic: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --cache --fix, stylelint --cache --fix --allow-empty-input

.lintstagedrc:

{
  "src/**/*.{js,jsx,ts,tsx}": "eslint --cache --fix",
  "src/**/*.{css,scss}": "stylelint --cache --fix --allow-empty-input",
  "src/**/*.vue": ["eslint --cache --fix", "stylelint --cache --fix --allow-empty-input"]
}

修复 axios baseURL 配置，解决构建后 baseURL 不生效的问题
  src/api/index.ts
Due: eslint --cache --fix

fix: 修复 axios baseURL 配置，解决构建后 baseURL 不生效的问题
  src/api/index.ts
Due: eslint --cache --fix

调整基础组件演示页面
  src/router/modules/component.basic.example.ts
  src/views/component_basic_example/button.vue
  src/views/component_basic_example/checkbox.vue
  src/views/component_basic_example/components/alert.vue
  src/views/component_basic_example/components/button.vue
  src/views/component_basic_example/components/checkbox.vue
  src/views/component_basic_example/components/icon.vue
  src/views/component_basic_example/components/input.vue
  src/views/component_basic_example/components/inputnumber.vue
  src/views/component_basic_example/components/link.vue
  src/views/component_basic_example/components/radio.vue
  src/views/component_basic_example/components/rate.vue
  src/views/component_basic_example/components/select.vue
  src/views/component_basic_example/components/slider.vue
  src/views/component_basic_example/components/switch.vue
  src/views/component_basic_example/datepicker.vue
  src/views/component_basic_example/datetimepicker.vue
  src/views/component_basic_example/index.vue
  src/views/component_basic_example/input.vue
  src/views/component_basic_example/inputnumber.vue
  src/views/component_basic_example/link.vue
  src/views/component_basic_example/radio.vue
  src/views/component_basic_example/rate.vue
  src/views/component_basic_example/select.vue
  src/views/component_basic_example/slider.vue
  src/views/component_basic_example/switch.vue
  src/views/component_basic_example/timepicker.vue
Due: eslint --cache --fix, stylelint --cache --fix --allow-empty-input

代码微调
  src/App.vue
Due: eslint --cache --fix, stylelint --cache --fix --allow-empty-input

refactor: 代码微调
  src/App.vue
Due: eslint --cache --fix, stylelint --cache --fix --allow-empty-input

更新依赖
  package.json
  pnpm-lock.yaml
Due: none

chore: 更新依赖
  package.json
  pnpm-lock.yaml
Due: none

chore: release v2.9.0
  package.json
Due: none

修改 hidden 类名
  src/assets/styles/globals.scss
  src/layouts/index.vue
Due: eslint --cache --fix, stylelint --cache --fix --allow-empty-input

refactor: 修改 hidden 类名
  src/assets/styles/globals.scss
  src/layouts/index.vue
Due: eslint --cache --fix, stylelint --cache --fix --allow-empty-input

使用 Vite 新特性将入口 html 页面里的 title 用环境变量替换
  index.html
Due: none

refactor: 使用 Vite 新特性将入口 html 页面里的 title 用环境变量替换
  index.html
Due: none

更新依赖，修改lint配置
  .eslintignore
  .eslintrc
  .lintstagedrc
  .stylelintignore
  package.json
  pnpm-lock.yaml
  src/types/global.d.ts
  src/views/login.vue
Due: eslint --cache --fix, stylelint --cache --fix --allow-empty-input

chore: 更新依赖，修改lint配置
  .eslintignore
  .eslintrc
  .lintstagedrc
  .stylelintignore
  package.json
  pnpm-lock.yaml
  src/types/global.d.ts
  src/views/login.vue
Due: eslint --cache --fix, stylelint --cache --fix --allow-empty-input

chore: release v2.10.0
  package.json
Due: none

style: 调整代码风格
  .lintstagedrc
  src/api/index.ts
  src/components/FileUpload/index.vue
  src/layouts/components/AppSetting/index.vue
  src/layouts/components/Search/index.vue
  src/router/modules/breadcrumb.example.ts
  src/router/modules/multilevel.menu.example.ts
  src/types/shims.d.ts
  src/views/personal/setting.vue
Due: eslint --cache --fix, stylelint --cache --fix --allow-empty-input

调整代码风格
  .lintstagedrc
  src/api/index.ts
  src/components/FileUpload/index.vue
  src/layouts/components/AppSetting/index.vue
  src/layouts/components/Search/index.vue
  src/router/modules/breadcrumb.example.ts
  src/router/modules/component.basic.example.ts
  src/router/modules/component.extend.example.ts
  src/router/modules/ecology.example.ts
  src/router/modules/external.link.example.ts
  src/router/modules/jsx.example.ts
  src/router/modules/keep.alive.example.ts
  src/router/modules/mock.example.ts
  src/router/modules/multilevel.menu.example.ts
  src/router/modules/permission.example.ts
  src/types/shims.d.ts
  src/views/keep_alive_example/nested/nested.vue
  src/views/keep_alive_example/nested/nested/nested.vue
  src/views/mock_example/index.vue
  src/views/personal/setting.vue
Due: eslint --cache --fix, stylelint --cache --fix --allow-empty-input

vite-plugin-vue-layouts 替换为 vite-plugin-vue-meta-layouts
  package.json
  pnpm-lock.yaml
  src/router/routes.ts
  tsconfig.json
  vite/plugins/layouts.ts
Due: eslint --cache --fix

chore: vite-plugin-vue-layouts 替换为 vite-plugin-vue-meta-layouts
  package.json
  pnpm-lock.yaml
  src/router/routes.ts
  tsconfig.json
  vite/plugins/layouts.ts
Due: eslint --cache --fix

引入 stylelint-stylistic 插件
  .stylelintrc
  package.json
  pnpm-lock.yaml
Due: none

feat: 引入 stylelint-stylistic 插件
  .stylelintrc
  package.json
  pnpm-lock.yaml
Due: none

refactor: 优化登录 mock ，通过请求头里的 token 信息判断用户
  .stylelintrc
  src/mock/member.ts
  src/store/modules/user.ts
Due: eslint --cache --fix

优化登录 mock ，通过请求头里的 token 信息判断用户
  .stylelintrc
  src/mock/member.ts
  src/store/modules/user.ts
Due: eslint --cache --fix

调整应用配置的配置项，并将应用配置按钮从工具栏删除
  src/layouts/components/AppSetting/index.vue
  src/layouts/components/Tools/index.vue
  src/layouts/index.vue
  src/settings.default.ts
  src/settings.ts
  src/types/global.d.ts
Due: eslint --cache --fix, stylelint --cache --fix --allow-empty-input

refactor!: 调整应用配置的配置项，并将应用配置按钮从工具栏删除
  src/layouts/components/AppSetting/index.vue
  src/layouts/components/Tools/index.vue
  src/layouts/index.vue
  src/settings.default.ts
  src/types/global.d.ts
Due: eslint --cache --fix, stylelint --cache --fix --allow-empty-input

vite-plugin-vue-setup-extend 替换为 unplugin-vue-setup-extend-plus
  package.json
  pnpm-lock.yaml
  vite/plugins/setup-extend.ts
Due: none

chore: vite-plugin-vue-setup-extend 替换为 unplugin-vue-setup-extend-plus
  package.json
  pnpm-lock.yaml
  vite/plugins/setup-extend.ts
Due: none

chore: release v2.11.0
  package.json
Due: none

重构 `SearchBar` 组件
  src/components/SearchBar/index.vue
  src/views/component_extend_example/searchbar.demo.vue
Due: eslint --cache --fix, stylelint --cache --fix --allow-empty-input

refactor!: 重构 `SearchBar` 组件
  src/components/SearchBar/index.vue
Due: eslint --cache --fix, stylelint --cache --fix --allow-empty-input

重构接口请求，统一管理接口请求模块
  src/api/modules/app.ts
  src/api/modules/user.ts
  src/mock/user.ts
  src/store/modules/menu.ts
  src/store/modules/route.ts
  src/store/modules/user.ts
Due: eslint --cache --fix

refactor!: 重构接口请求，统一管理接口请求模块
  src/api/modules/app.ts
  src/api/modules/user.ts
  src/mock/user.ts
  src/store/modules/menu.ts
  src/store/modules/route.ts
  src/store/modules/user.ts
Due: eslint --cache --fix
