Repository fantastic-admin/basic: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint . --cache --fix, stylelint src/**/*.{css,scss,vue} --cache --fix --allow-empty-input

.lintstagedrc:

{
  "*.{ts,tsx,vue}": "eslint . --cache --fix",
  "*.{css,scss,vue}": "stylelint src/**/*.{css,scss,vue} --cache --fix --allow-empty-input"
}

fix: 修复 FixedActionBar 组件阴影样式未生效
  src/components/FixedActionBar/index.vue
Due: eslint . --cache --fix, stylelint src/**/*.{css,scss,vue} --cache --fix --allow-empty-input

次导航展开收起按钮位置移动到次导航底部
  src/layouts/components/SubSidebar/index.vue
  src/layouts/components/Topbar/Toolbar/leftSide.vue
  src/store/modules/settings.ts
Due: eslint . --cache --fix, stylelint src/**/*.{css,scss,vue} --cache --fix --allow-empty-input

refactor: 次导航展开收起按钮位置移动到次导航底部
  src/layouts/components/SubSidebar/index.vue
  src/layouts/components/Topbar/Toolbar/leftSide.vue
  src/store/modules/settings.ts
Due: eslint . --cache --fix, stylelint src/**/*.{css,scss,vue} --cache --fix --allow-empty-input

fix: 修复次导航高度变化时，底部阴影不变化
  src/layouts/components/SubSidebar/index.vue
Due: eslint . --cache --fix, stylelint src/**/*.{css,scss,vue} --cache --fix --allow-empty-input

修复次导航高度变化时，底部阴影不变化
  src/layouts/components/SubSidebar/index.vue
Due: eslint . --cache --fix, stylelint src/**/*.{css,scss,vue} --cache --fix --allow-empty-input

vite-plugin-fake-server 替换 vite-plugin-mock
  package.json
  pnpm-lock.yaml
  src/mock/app.ts
  src/mock/user.ts
  src/mockProdServer.ts
  vite/plugins/mock.ts
Due: eslint . --cache --fix

refactor!: vite-plugin-fake-server 替换 vite-plugin-mock
  package.json
  pnpm-lock.yaml
  src/mock/app.ts
  src/mock/user.ts
  src/mockProdServer.ts
  vite/plugins/mock.ts
Due: eslint . --cache --fix

样式微调
  src/layouts/components/SubSidebar/index.vue
Due: eslint . --cache --fix, stylelint src/**/*.{css,scss,vue} --cache --fix --allow-empty-input

refactor: 样式微调
  src/layouts/components/SubSidebar/index.vue
Due: eslint . --cache --fix, stylelint src/**/*.{css,scss,vue} --cache --fix --allow-empty-input

修复工具栏显示/隐藏逻辑
  src/layouts/components/Topbar/index.vue
Due: eslint . --cache --fix, stylelint src/**/*.{css,scss,vue} --cache --fix --allow-empty-input

fix: 修复工具栏显示/隐藏逻辑
  src/layouts/components/Topbar/index.vue
Due: eslint . --cache --fix, stylelint src/**/*.{css,scss,vue} --cache --fix --allow-empty-input

移除无用样式
  src/layouts/components/Header/index.vue
Due: eslint . --cache --fix, stylelint src/**/*.{css,scss,vue} --cache --fix --allow-empty-input

chore: 移除无用样式
  src/layouts/components/Header/index.vue
Due: eslint . --cache --fix, stylelint src/**/*.{css,scss,vue} --cache --fix --allow-empty-input

chore: release v4.4.0
  package.json
Due: none

mock 数据修复
  src/mock/user.ts
Due: eslint . --cache --fix

fix: mock 数据修复
  src/mock/user.ts
Due: eslint . --cache --fix

优化 HDropdown / HDropdownMenu / HTooltip 组件触发隐藏逻辑
  src/layouts/components/AppSetting/index.vue
  src/layouts/ui-kit/HDropdown.vue
  src/layouts/ui-kit/HDropdownMenu.vue
  src/layouts/ui-kit/HTooltip.vue
Due: eslint . --cache --fix, stylelint src/**/*.{css,scss,vue} --cache --fix --allow-empty-input

refactor: 优化 HDropdown / HDropdownMenu / HTooltip 组件触发隐藏逻辑
  src/layouts/components/AppSetting/index.vue
  src/layouts/ui-kit/HDropdown.vue
  src/layouts/ui-kit/HDropdownMenu.vue
  src/layouts/ui-kit/HTooltip.vue
Due: eslint . --cache --fix, stylelint src/**/*.{css,scss,vue} --cache --fix --allow-empty-input

更新依赖
  package.json
  pnpm-lock.yaml
  src/mock/user.ts
Due: eslint . --cache --fix

chore: 更新依赖
  package.json
  pnpm-lock.yaml
  src/mock/user.ts
Due: eslint . --cache --fix

用 `defineModel` 重构部分组件
  src/components/ImageUpload/index.vue
  src/components/ImagesUpload/index.vue
  src/components/PcasCascader/index.vue
  src/components/SearchBar/index.vue
  src/layouts/ui-kit/HCheckList.vue
  src/layouts/ui-kit/HDialog.vue
  src/layouts/ui-kit/HInput.vue
  src/layouts/ui-kit/HSelect.vue
  src/layouts/ui-kit/HSlideover.vue
  src/layouts/ui-kit/HTabList.vue
  src/layouts/ui-kit/HToggle.vue
  src/views/component_extend_example/searchbar.demo.vue
  src/views/component_extend_example/upload.demo.vue
Due: eslint . --cache --fix, stylelint src/**/*.{css,scss,vue} --cache --fix --allow-empty-input

refactor: 用 `defineModel` 重构部分组件
  src/components/ImageUpload/index.vue
  src/components/ImagesUpload/index.vue
  src/components/PcasCascader/index.vue
  src/components/SearchBar/index.vue
  src/layouts/ui-kit/HCheckList.vue
  src/layouts/ui-kit/HDialog.vue
  src/layouts/ui-kit/HInput.vue
  src/layouts/ui-kit/HSelect.vue
  src/layouts/ui-kit/HSlideover.vue
  src/layouts/ui-kit/HTabList.vue
  src/layouts/ui-kit/HToggle.vue
Due: eslint . --cache --fix, stylelint src/**/*.{css,scss,vue} --cache --fix --allow-empty-input

修复导航模式切换到 single 时有几率报错
  src/store/modules/menu.ts
Due: eslint . --cache --fix

fix: 修复导航模式切换到 single 时有几率报错
  src/store/modules/menu.ts
Due: eslint . --cache --fix

更新依赖
  package.json
  pnpm-lock.yaml
Due: none

chore: 更新依赖
  package.json
  pnpm-lock.yaml
Due: none

引入 unplugin-turbo-console 优化开发体验
  package.json
  pnpm-lock.yaml
  vite/plugins/console.ts
  vite/plugins/index.ts
Due: eslint . --cache --fix

feat: 引入 unplugin-turbo-console 优化开发体验
  package.json
  pnpm-lock.yaml
  vite/plugins/console.ts
  vite/plugins/index.ts
Due: eslint . --cache --fix

增加运行时信息
  package.json
  pnpm-lock.yaml
  vite/plugins/app-info.ts
  vite/plugins/index.ts
Due: eslint . --cache --fix

chore: 增加运行时信息
  package.json
  pnpm-lock.yaml
  vite/plugins/app-info.ts
  vite/plugins/index.ts
Due: eslint . --cache --fix

vite-plugin-compression2 替换 vite-plugin-compression
  package.json
  pnpm-lock.yaml
  vite/plugins/compression.ts
  vite/plugins/index.ts
Due: eslint . --cache --fix

refactor: vite-plugin-compression2 替换 vite-plugin-compression
  package.json
  pnpm-lock.yaml
  vite/plugins/compression.ts
  vite/plugins/index.ts
Due: eslint . --cache --fix

增加打包后生成存档文件支持
  .env.example
  package.json
  pnpm-lock.yaml
  vite/plugins/archiver.ts
  vite/plugins/index.ts
Due: eslint . --cache --fix

feat: 增加打包后生成存档文件支持
  .env.production
  .env.test
  package.json
  pnpm-lock.yaml
  vite/plugins/archiver.ts
  vite/plugins/index.ts
Due: eslint . --cache --fix

chore: 移除百度统计相关代码
  src/main.ts
  src/utils/baidu.ts
Due: eslint . --cache --fix

feat: 增加图片支持，整站图标改用 unocss icon 方式使用，方便在内网环境使用
  scripts/generate.icons.ts
  src/components/FileUpload/index.vue
  src/components/ImageUpload/index.vue
  src/components/ImagesUpload/index.vue
  src/components/PageMain/index.vue
  src/components/SearchBar/index.vue
  src/components/SvgIcon/index.vue
  src/components/Trend/index.vue
  src/iconify/data.json
  src/layouts/components/AppSetting/index.vue
  src/layouts/components/BackTop/index.vue
  src/layouts/components/Copyright/index.vue
  src/layouts/components/Search/index.vue
  src/layouts/components/Topbar/Toolbar/ColorScheme/index.vue
  src/layouts/components/Topbar/Toolbar/Fullscreen/index.vue
  src/layouts/components/Topbar/Toolbar/NavSearch/index.vue
  src/layouts/components/Topbar/Toolbar/PageReload/index.vue
  src/layouts/components/Topbar/Toolbar/rightSide.vue
  src/layouts/components/views/link.vue
  src/layouts/index.vue
  src/layouts/ui-kit/HDialog.vue
  src/layouts/ui-kit/HSelect.vue
  src/layouts/ui-kit/HSlideover.vue
  src/router/modules/multilevel.menu.example.ts
  src/router/routes.ts
  src/views/index.vue
  src/views/login.vue
  uno.config.ts
Due: eslint . --cache --fix, stylelint src/**/*.{css,scss,vue} --cache --fix --allow-empty-input

feat: 增加标签页支持
  package.json
  pnpm-lock.yaml
  src/assets/styles/globals.scss
  src/layouts/components/AppSetting/index.vue
  src/layouts/components/HotkeysIntro/index.vue
  src/layouts/components/Topbar/Tabbar/index.vue
  src/layouts/components/Topbar/index.vue
  src/layouts/index.vue
  src/router/index.ts
  src/settings.default.ts
  src/store/modules/tabbar.ts
  src/types/auto-imports.d.ts
  src/types/global.d.ts
  src/utils/composables/useTabbar.ts
  themes/index.ts
Due: eslint . --cache --fix, stylelint src/**/*.{css,scss,vue} --cache --fix --allow-empty-input

增加标签页支持
  package.json
  pnpm-lock.yaml
  src/assets/styles/globals.scss
  src/layouts/components/AppSetting/index.vue
  src/layouts/components/HotkeysIntro/index.vue
  src/layouts/components/Topbar/Tabbar/index.vue
  src/layouts/components/Topbar/index.vue
  src/layouts/index.vue
  src/router/index.ts
  src/settings.default.ts
  src/settings.ts
  src/store/modules/tabbar.ts
  src/types/auto-imports.d.ts
  src/types/global.d.ts
  src/utils/composables/useTabbar.ts
  themes/index.ts
Due: eslint . --cache --fix, stylelint src/**/*.{css,scss,vue} --cache --fix --allow-empty-input
