Repository fantastic-admin/basic: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint . --cache --fix, stylelint src/**/*.{css,scss,vue} --cache --fix --allow-empty-input

.lintstagedrc:

{
  "*.{ts,tsx,vue}": "eslint . --cache --fix",
  "*.{css,scss,vue}": "stylelint src/**/*.{css,scss,vue} --cache --fix --allow-empty-input"
}

将账号信息按钮封装为 `AccountButton` 组件，并优化工具栏和导航栏的显示逻辑
  src/components/AccountButton/index.vue
  src/components/AccountButton/profile.vue
  src/layouts/components/Header/index.vue
  src/layouts/components/MainSidebar/index.vue
  src/layouts/components/SubSidebar/index.vue
  src/layouts/components/Topbar/Toolbar/index.vue
  src/layouts/components/Topbar/index.vue
  src/layouts/index.vue
  src/types/components.d.ts
Due: eslint . --cache --fix, stylelint src/**/*.{css,scss,vue} --cache --fix --allow-empty-input

feat: 将账号信息按钮封装为 `AccountButton` 组件，并优化工具栏和导航栏的显示逻辑
  src/components/AccountButton/index.vue
  src/components/AccountButton/profile.vue
  src/layouts/components/Header/index.vue
  src/layouts/components/MainSidebar/index.vue
  src/layouts/components/SubSidebar/index.vue
  src/layouts/components/Topbar/Toolbar/index.vue
  src/layouts/components/Topbar/index.vue
  src/layouts/index.vue
  src/types/components.d.ts
Due: eslint . --cache --fix, stylelint src/**/*.{css,scss,vue} --cache --fix --allow-empty-input

feat: 新增预设插槽 `header-after-menu`、`main-sidebar-after-menu` 和 `sub-sidebar-after-menu`
  src/layouts/components/Header/index.vue
  src/layouts/components/MainSidebar/index.vue
  src/layouts/components/SubSidebar/index.vue
  src/slots/index.ts
Due: eslint . --cache --fix, stylelint src/**/*.{css,scss,vue} --cache --fix --allow-empty-input

新增预设插槽 `header-after-menu`、`main-sidebar-after-menu` 和 `sub-sidebar-after-menu`
  src/layouts/components/Header/index.vue
  src/layouts/components/MainSidebar/index.vue
  src/layouts/components/SubSidebar/index.vue
  src/slots/MainSidebarAfterMenu/index.vue
  src/slots/index.ts
Due: eslint . --cache --fix, stylelint src/**/*.{css,scss,vue} --cache --fix --allow-empty-input

新增工具栏全局开关设置
  src/layouts/components/AppSetting/index.vue
  src/layouts/components/Topbar/index.vue
  src/layouts/index.vue
  src/settings.default.ts
  src/types/global.d.ts
Due: eslint . --cache --fix, stylelint src/**/*.{css,scss,vue} --cache --fix --allow-empty-input

feat: 新增工具栏全局开关设置
  src/layouts/components/AppSetting/index.vue
  src/layouts/components/Topbar/index.vue
  src/layouts/index.vue
  src/settings.default.ts
  src/types/global.d.ts
Due: eslint . --cache --fix, stylelint src/**/*.{css,scss,vue} --cache --fix --allow-empty-input

更新依赖
  package.json
  pnpm-lock.yaml
Due: none

chore: 更新依赖
  package.json
  pnpm-lock.yaml
Due: none

chore: release v5.3.0
  package.json
Due: none

toast 代替 ElMessage
  src/components/FileUpload/index.vue
  src/components/ImageUpload/index.vue
  src/components/ImagesUpload/index.vue
Due: eslint . --cache --fix, stylelint src/**/*.{css,scss,vue} --cache --fix --allow-empty-input

refacttor: toast 代替 ElMessage
  src/components/FileUpload/index.vue
  src/components/ImageUpload/index.vue
  src/components/ImagesUpload/index.vue
Due: eslint . --cache --fix, stylelint src/**/*.{css,scss,vue} --cache --fix --allow-empty-input

代码调整
  src/views/component_basic_example/index.vue
  src/views/plugin_example/animation.vue
Due: eslint . --cache --fix, stylelint src/**/*.{css,scss,vue} --cache --fix --allow-empty-input

移除 QuickAdmin
  src/router/modules/ecology.example.ts
Due: eslint . --cache --fix

`FaScrollArea` 组件新增 onScroll 事件
  src/ui/components/FaScrollArea/index.vue
  src/ui/components/FaScrollArea/scroll-area/ScrollArea.vue
Due: eslint . --cache --fix, stylelint src/**/*.{css,scss,vue} --cache --fix --allow-empty-input

feat: `FaScrollArea` 组件新增 onScroll 事件
  src/ui/components/FaScrollArea/index.vue
  src/ui/components/FaScrollArea/scroll-area/ScrollArea.vue
Due: eslint . --cache --fix, stylelint src/**/*.{css,scss,vue} --cache --fix --allow-empty-input

调整标签页关闭逻辑，优先跳转至前一个标签页
  src/utils/composables/useTabbar.ts
Due: eslint . --cache --fix

refactor: 调整标签页关闭逻辑，优先跳转至前一个标签页
  src/utils/composables/useTabbar.ts
Due: eslint . --cache --fix

优化 `FaScrollArea` 滚动体验
  src/ui/components/FaScrollArea/scroll-area/ScrollArea.vue
Due: eslint . --cache --fix, stylelint src/**/*.{css,scss,vue} --cache --fix --allow-empty-input

refactor: 优化 `FaScrollArea` 滚动体验
  src/ui/components/FaScrollArea/scroll-area/ScrollArea.vue
Due: eslint . --cache --fix, stylelint src/**/*.{css,scss,vue} --cache --fix --allow-empty-input

调整 ElLink 组件示例
  src/views/component_basic_example/components/link.vue
Due: eslint . --cache --fix, stylelint src/**/*.{css,scss,vue} --cache --fix --allow-empty-input

对未设置 `redirect` 的父路由，访问时将自动重定向到允许访问的子路由
  package.json
  pnpm-lock.yaml
  src/layouts/components/Topbar/Toolbar/NavSearch/search.vue
  src/mock/app.ts
  src/router/guards.ts
  src/router/modules/breadcrumb.example.ts
  src/router/modules/component.example.ts
  src/router/modules/ecology.example.ts
  src/router/modules/external.link.example.ts
  src/router/modules/feature.example.ts
  src/router/modules/icon.example.ts
  src/router/modules/jsx.example.ts
  src/router/modules/keep.alive.example.ts
  src/router/modules/mock.example.ts
  src/router/modules/multilevel.menu.example.ts
  src/router/modules/permission.example.ts
  src/router/modules/plugin.example.ts
  src/router/modules/tab.example.ts
  src/views/component_basic_example/index.vue
  src/views/feature_example/rules.vue
  src/views/feature_example/vueuse.vue
Due: eslint . --cache --fix, stylelint src/**/*.{css,scss,vue} --cache --fix --allow-empty-input

feat: 对未设置 `redirect` 的父路由，访问时将自动重定向到允许访问的子路由
  package.json
  pnpm-lock.yaml
  src/layouts/components/Topbar/Toolbar/NavSearch/search.vue
  src/mock/app.ts
  src/router/guards.ts
  src/router/modules/multilevel.menu.example.ts
Due: eslint . --cache --fix, stylelint src/**/*.{css,scss,vue} --cache --fix --allow-empty-input

新增 `FaHoverCard` 组件
  src/router/modules/component.example.ts
  src/types/components.d.ts
  src/ui/components/FaHoverCard/hover-card/HoverCard.vue
  src/ui/components/FaHoverCard/hover-card/HoverCardContent.vue
  src/ui/components/FaHoverCard/hover-card/HoverCardTrigger.vue
  src/ui/components/FaHoverCard/hover-card/index.ts
  src/ui/components/FaHoverCard/index.vue
  src/views/component_built_in_example/hovercard.vue
Due: eslint . --cache --fix, stylelint src/**/*.{css,scss,vue} --cache --fix --allow-empty-input

feat: 新增 `FaHoverCard` 组件
  src/types/components.d.ts
  src/ui/components/FaHoverCard/hover-card/HoverCard.vue
  src/ui/components/FaHoverCard/hover-card/HoverCardContent.vue
  src/ui/components/FaHoverCard/hover-card/HoverCardTrigger.vue
  src/ui/components/FaHoverCard/hover-card/index.ts
  src/ui/components/FaHoverCard/index.vue
Due: eslint . --cache --fix, stylelint src/**/*.{css,scss,vue} --cache --fix --allow-empty-input

typo
  src/router/guards.ts
Due: eslint . --cache --fix

chore: typo
  src/router/guards.ts
Due: eslint . --cache --fix

新增 `FaProgress` 组件
  src/router/modules/component.example.ts
  src/types/components.d.ts
  src/ui/components/FaProgress/index.vue
  src/ui/components/FaProgress/progress/Progress.vue
  src/ui/components/FaProgress/progress/index.ts
  src/views/component_built_in_example/progress.vue
Due: eslint . --cache --fix, stylelint src/**/*.{css,scss,vue} --cache --fix --allow-empty-input

feat: 新增 `FaProgress` 组件
  src/types/components.d.ts
  src/ui/components/FaProgress/index.vue
  src/ui/components/FaProgress/progress/Progress.vue
  src/ui/components/FaProgress/progress/index.ts
Due: eslint . --cache --fix, stylelint src/**/*.{css,scss,vue} --cache --fix --allow-empty-input

优化菜单点击处理逻辑，增加对链接的判断
  src/layouts/components/Menu/sub.vue
Due: eslint . --cache --fix, stylelint src/**/*.{css,scss,vue} --cache --fix --allow-empty-input

fix: 优化菜单点击处理逻辑，增加对链接的判断
  src/layouts/components/Menu/sub.vue
Due: eslint . --cache --fix, stylelint src/**/*.{css,scss,vue} --cache --fix --allow-empty-input

增加请求重试机制
  src/api/index.ts
Due: eslint . --cache --fix

feat: 增加请求重试机制
  src/api/index.ts
Due: eslint . --cache --fix

更新依赖
  package.json
  pnpm-lock.yaml
  src/ui/components/FaModal/dialog/DialogContent.vue
  src/ui/components/FaPageMain/index.vue
  src/ui/components/FaToast/sonner/Sonner.vue
Due: eslint . --cache --fix, stylelint src/**/*.{css,scss,vue} --cache --fix --allow-empty-input

chore: 更新依赖
  package.json
  pnpm-lock.yaml
  src/ui/components/FaModal/dialog/DialogContent.vue
  src/ui/components/FaPageMain/index.vue
  src/ui/components/FaToast/sonner/Sonner.vue
Due: eslint . --cache --fix, stylelint src/**/*.{css,scss,vue} --cache --fix --allow-empty-input

refactor: 优化布局相关 CSS 变量处理逻辑
  src/layouts/components/Topbar/index.vue
  src/layouts/index.vue
Due: eslint . --cache --fix, stylelint src/**/*.{css,scss,vue} --cache --fix --allow-empty-input

优化布局相关 CSS 变量处理逻辑
  src/layouts/components/Topbar/index.vue
  src/layouts/index.vue
Due: eslint . --cache --fix, stylelint src/**/*.{css,scss,vue} --cache --fix --allow-empty-input

将 `FaDropdown` 组件插槽名从 `label` 修改为 `header`，并新增 `footer` 插槽
  src/components/AccountButton/index.vue
  src/ui/components/FaDropdown/index.vue
Due: eslint . --cache --fix, stylelint src/**/*.{css,scss,vue} --cache --fix --allow-empty-input

feat: 将 `FaDropdown` 组件插槽名从 `label` 修改为 `header`，并新增 `footer` 插槽
  src/components/AccountButton/index.vue
  src/ui/components/FaDropdown/index.vue
Due: eslint . --cache --fix, stylelint src/**/*.{css,scss,vue} --cache --fix --allow-empty-input

修复次导航收起时页面展示错误
  src/layouts/index.vue
  src/types/auto-imports.d.ts
Due: eslint . --cache --fix, stylelint src/**/*.{css,scss,vue} --cache --fix --allow-empty-input

fix: 修复次导航收起时页面展示错误
  src/layouts/index.vue
  src/types/auto-imports.d.ts
Due: eslint . --cache --fix, stylelint src/**/*.{css,scss,vue} --cache --fix --allow-empty-input
