Repository fantastic-admin/basic: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint . --cache --fix, stylelint src/**/*.{css,scss,vue} --cache --fix --allow-empty-input

.lintstagedrc:

{
  "*.{ts,tsx,vue}": "eslint . --cache --fix",
  "*.{css,scss,vue}": "stylelint src/**/*.{css,scss,vue} --cache --fix --allow-empty-input"
}

修复激活标签页定位可能不居中的问题
  src/layouts/components/Topbar/Tabbar/index.vue
  src/store/modules/tabbar.ts
Due: eslint . --cache --fix, stylelint src/**/*.{css,scss,vue} --cache --fix --allow-empty-input

fix: 修复激活标签页定位可能不居中的问题
  src/layouts/components/Topbar/Tabbar/index.vue
  src/store/modules/tabbar.ts
Due: eslint . --cache --fix, stylelint src/**/*.{css,scss,vue} --cache --fix --allow-empty-input

chore: release v5.4.0
  package.json
Due: none

更新 Node.js 版本要求
  package.json
Due: none

chore: 更新 Node.js 版本要求
  package.json
Due: none

更新依赖
  package.json
  pnpm-lock.yaml
Due: none

chore: 更新依赖
  package.json
  pnpm-lock.yaml
Due: none

优化生成icon脚本
  package.json
  pnpm-lock.yaml
  scripts/generate.icons.ts
  src/iconify/data.json
Due: eslint . --cache --fix

refactor: 优化生成icon脚本
  package.json
  pnpm-lock.yaml
  scripts/generate.icons.ts
  src/iconify/data.json
Due: eslint . --cache --fix

增加 Vue Data UI 示例
  package.json
  pnpm-lock.yaml
  src/router/modules/plugin.example.ts
  src/views/plugin_example/vue-data-ui.vue
Due: eslint . --cache --fix, stylelint src/**/*.{css,scss,vue} --cache --fix --allow-empty-input

首屏loading适配暗黑模式
  loading.html
Due: none

refactor: 首屏loading适配暗黑模式
  loading.html
Due: none

更新viewport设置以改善移动设备上的显示效果
  index.html
Due: none

fix: 更新viewport设置以改善移动设备上的显示效果
  index.html
Due: none

使用 `useId` 优化菜单逻辑
  src/layouts/components/Menu/index.vue
  src/layouts/components/Menu/sub.vue
  src/layouts/components/Menu/types.ts
Due: eslint . --cache --fix, stylelint src/**/*.{css,scss,vue} --cache --fix --allow-empty-input

refactor: 使用 `useId` 优化菜单逻辑
  src/layouts/components/Menu/index.vue
  src/layouts/components/Menu/sub.vue
  src/layouts/components/Menu/types.ts
Due: eslint . --cache --fix, stylelint src/**/*.{css,scss,vue} --cache --fix --allow-empty-input

新增 `FaButtonGroup` 组件
  src/layouts/components/MainSidebar/index.vue
  src/types/components.d.ts
  src/ui/components/FaButtonGroup/index.vue
  src/views/component_built_in_example/button.vue
Due: eslint . --cache --fix, stylelint src/**/*.{css,scss,vue} --cache --fix --allow-empty-input

feat: 新增 `FaButtonGroup` 组件
  src/layouts/components/MainSidebar/index.vue
  src/types/components.d.ts
  src/ui/components/FaButtonGroup/index.vue
Due: eslint . --cache --fix, stylelint src/**/*.{css,scss,vue} --cache --fix --allow-empty-input

更新依赖
  package.json
  pnpm-lock.yaml
  src/slots/index.ts
  src/store/modules/route.ts
  src/ui/components/FaNotification/toast/use-toast.ts
  src/ui/components/FaPageMain/index.vue
  vite/plugins.ts
Due: eslint . --cache --fix, stylelint src/**/*.{css,scss,vue} --cache --fix --allow-empty-input

chore: 更新依赖
  package.json
  pnpm-lock.yaml
  src/slots/index.ts
  src/store/modules/route.ts
  src/ui/components/FaNotification/toast/use-toast.ts
  src/ui/components/FaPageMain/index.vue
  vite/plugins.ts
Due: eslint . --cache --fix, stylelint src/**/*.{css,scss,vue} --cache --fix --allow-empty-input

`FaModal` 组件 provide/inject 改为组件传参方式
  src/ui/components/FaModal/dialog/DialogContent.vue
  src/ui/components/FaModal/index.ts
  src/ui/components/FaModal/index.vue
Due: eslint . --cache --fix, stylelint src/**/*.{css,scss,vue} --cache --fix --allow-empty-input

refactor: `FaModal` 组件 provide/inject 改为组件传参方式
  src/ui/components/FaModal/dialog/DialogContent.vue
  src/ui/components/FaModal/index.ts
  src/ui/components/FaModal/index.vue
Due: eslint . --cache --fix, stylelint src/**/*.{css,scss,vue} --cache --fix --allow-empty-input

演示路由调整
  src/router/modules/jsx.example.ts
  src/router/modules/mock.example.ts
  src/router/modules/permission.example.ts
  src/router/modules/tab.example.ts
Due: eslint . --cache --fix

修复权限未开启时菜单未过滤的问题，并简化菜单过滤逻辑
  src/store/modules/menu.ts
Due: eslint . --cache --fix

fix: 修复权限未开启时菜单未过滤的问题，并简化菜单过滤逻辑
  src/store/modules/menu.ts
Due: eslint . --cache --fix

feat: `FaModal` 组件增加 `beforeClose` 回调函数，优化关闭逻辑并支持异步处理
  src/ui/components/FaModal/index.ts
  src/ui/components/FaModal/index.vue
Due: eslint . --cache --fix, stylelint src/**/*.{css,scss,vue} --cache --fix --allow-empty-input

`FaModal` 组件增加 `beforeClose` 回调函数，优化关闭逻辑并支持异步处理
  src/ui/components/FaModal/index.ts
  src/ui/components/FaModal/index.vue
  src/views/component_built_in_example/modal.vue
Due: eslint . --cache --fix, stylelint src/**/*.{css,scss,vue} --cache --fix --allow-empty-input

为 `FaTabs` 组件添加 `listClass` 和 `contentClass` 属性，以支持自定义样式
  src/ui/components/FaTabs/index.vue
Due: eslint . --cache --fix, stylelint src/**/*.{css,scss,vue} --cache --fix --allow-empty-input

feat: 为 `FaTabs` 组件添加 `listClass` 和 `contentClass` 属性，以支持自定义样式
  src/ui/components/FaTabs/index.vue
Due: eslint . --cache --fix, stylelint src/**/*.{css,scss,vue} --cache --fix --allow-empty-input

优化导航菜单动效执行性能
  src/layouts/components/Menu/sub.vue
Due: eslint . --cache --fix, stylelint src/**/*.{css,scss,vue} --cache --fix --allow-empty-input

perf: 优化导航菜单动效执行性能
  src/layouts/components/Menu/sub.vue
Due: eslint . --cache --fix, stylelint src/**/*.{css,scss,vue} --cache --fix --allow-empty-input

优化主题样式和全局样式引入
  src/assets/styles/globals.css
  src/main.ts
  uno.config.ts
Due: eslint . --cache --fix, stylelint src/**/*.{css,scss,vue} --cache --fix --allow-empty-input

refactor: 优化主题样式和全局样式引入
  src/assets/styles/globals.css
  src/main.ts
  uno.config.ts
Due: eslint . --cache --fix, stylelint src/**/*.{css,scss,vue} --cache --fix --allow-empty-input

修复账户按钮移动端次导航下不实现用户名
  src/components/AccountButton/index.vue
Due: eslint . --cache --fix, stylelint src/**/*.{css,scss,vue} --cache --fix --allow-empty-input

fix: 修复账户按钮移动端次导航下不实现用户名
  src/components/AccountButton/index.vue
Due: eslint . --cache --fix, stylelint src/**/*.{css,scss,vue} --cache --fix --allow-empty-input

`FaDrawer` 和 `FaModal` 组件新增 `destroyOnClose` 属性
  src/layouts/components/AppSetting/index.vue
  src/ui/components/FaDrawer/index.vue
  src/ui/components/FaModal/index.ts
  src/ui/components/FaModal/index.vue
Due: eslint . --cache --fix, stylelint src/**/*.{css,scss,vue} --cache --fix --allow-empty-input

feat: `FaDrawer` 和 `FaModal` 组件新增 `destroyOnClose` 属性
  src/layouts/components/AppSetting/index.vue
  src/ui/components/FaDrawer/index.vue
  src/ui/components/FaModal/index.ts
  src/ui/components/FaModal/index.vue
Due: eslint . --cache --fix, stylelint src/**/*.{css,scss,vue} --cache --fix --allow-empty-input

新增 `FaImagePreview` 组件，并移除 `ImagePreview` 组件
  src/components/ImagePreview/index.vue
  src/router/modules/component.example.ts
  src/types/components.d.ts
  src/ui/components/FaImagePreview/dialog/Dialog.vue
  src/ui/components/FaImagePreview/dialog/DialogClose.vue
  src/ui/components/FaImagePreview/dialog/DialogContent.vue
  src/ui/components/FaImagePreview/dialog/DialogDescription.vue
  src/ui/components/FaImagePreview/dialog/DialogFooter.vue
  src/ui/components/FaImagePreview/dialog/DialogHeader.vue
  src/ui/components/FaImagePreview/dialog/DialogScrollContent.vue
  src/ui/components/FaImagePreview/dialog/DialogTitle.vue
  src/ui/components/FaImagePreview/dialog/DialogTrigger.vue
  src/ui/components/FaImagePreview/dialog/index.ts
  src/ui/components/FaImagePreview/index.vue
  src/views/component_built_in_example/imagepreview.vue
Due: eslint . --cache --fix, stylelint src/**/*.{css,scss,vue} --cache --fix --allow-empty-input
