Repository fantastic-admin/basic: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint . --cache --fix, stylelint src/**/*.{css,scss,vue} --cache --fix --allow-empty-input

增加友情推荐
  src/router/modules/ecology.example.ts
Due: eslint . --cache --fix

fix: 修复启用权限后"主导航选中状态"失效问题
  src/store/modules/menu.ts
Due: eslint . --cache --fix

fix: 修复退出登录后Tab页不清除的问题
  src/store/modules/user.ts
Due: eslint . --cache --fix

写法调整
  src/store/modules/user.ts
Due: eslint . --cache --fix

fix: 修复退出登录后Tab页不清除的问题 (#46)
  src/store/modules/user.ts
Due: eslint . --cache --fix

修复退出登录后Tab页不清除的问题
  src/store/modules/user.ts
Due: eslint . --cache --fix

更新依赖
  .github/workflows/deploy-example-site.yml
  .node-version
  package.json
  pnpm-lock.yaml
  src/types/auto-imports.d.ts
Due: eslint . --cache --fix

chore: 更新依赖
  .github/workflows/release.yml
  .node-version
  package.json
  pnpm-lock.yaml
  src/types/auto-imports.d.ts
Due: eslint . --cache --fix

chore: release v4.12.1
  package.json
Due: none

更新依赖
  package.json
  pnpm-lock.yaml
Due: none

chore: 更新依赖
  package.json
  pnpm-lock.yaml
Due: none

chore: release v5.0.0-beta.1
  package.json
Due: none

chore: release v5.0.0-beta.2
  package.json
Due: none

chore: release v5.0.0
  package.json
Due: none

优化`FaDrawer`/`FaModal`遮罩层
  src/ui/components/FaDrawer/index.vue
  src/ui/components/FaDrawer/sheet/SheetContent.vue
  src/ui/components/FaModal/dialog/DialogContent.vue
  src/ui/components/FaModal/index.vue
Due: eslint . --cache --fix, stylelint src/**/*.{css,scss,vue} --cache --fix --allow-empty-input

refactor: 优化`FaDrawer`/`FaModal`遮罩层
  src/ui/components/FaDrawer/index.vue
  src/ui/components/FaDrawer/sheet/SheetContent.vue
  src/ui/components/FaModal/dialog/DialogContent.vue
  src/ui/components/FaModal/index.vue
Due: eslint . --cache --fix, stylelint src/**/*.{css,scss,vue} --cache --fix --allow-empty-input

`FaDrawer`/`FaModal`开启遮罩层时禁用全局滚动
  src/ui/components/FaDrawer/sheet/SheetContent.vue
  src/ui/components/FaDrawer/sheet/index.ts
  src/ui/components/FaModal/dialog/DialogContent.vue
Due: eslint . --cache --fix, stylelint src/**/*.{css,scss,vue} --cache --fix --allow-empty-input

refactor: `FaDrawer`/`FaModal`开启遮罩层时禁用全局滚动
  src/ui/components/FaDrawer/sheet/SheetContent.vue
  src/ui/components/FaDrawer/sheet/index.ts
  src/ui/components/FaModal/dialog/DialogContent.vue
Due: eslint . --cache --fix, stylelint src/**/*.{css,scss,vue} --cache --fix --allow-empty-input

`FaSelect` 组件增加 class props
  src/ui/components/FaModal/dialog/DialogContent.vue
  src/ui/components/FaPageMain/index.vue
  src/ui/components/FaSelect/index.vue
  src/views/component_built_in_example/divider.vue
  uno.config.ts
Due: eslint . --cache --fix, stylelint src/**/*.{css,scss,vue} --cache --fix --allow-empty-input

feat: `FaSelect` 组件增加 class props
  src/ui/components/FaModal/dialog/DialogContent.vue
  src/ui/components/FaPageMain/index.vue
  src/ui/components/FaSelect/index.vue
  uno.config.ts
Due: eslint . --cache --fix, stylelint src/**/*.{css,scss,vue} --cache --fix --allow-empty-input

refactor!: 重构注册路由数据结构
  src/layouts/components/Topbar/Toolbar/Breadcrumb/index.vue
  src/layouts/components/Topbar/Toolbar/NavSearch/search.vue
  src/router/guards.ts
  src/store/modules/route.ts
  src/store/modules/tabbar.ts
  src/types/global.d.ts
Due: eslint . --cache --fix, stylelint src/**/*.{css,scss,vue} --cache --fix --allow-empty-input

重构注册路由数据结构
  src/layouts/components/Topbar/Toolbar/Breadcrumb/index.vue
  src/layouts/components/Topbar/Toolbar/NavSearch/search.vue
  src/router/guards.ts
  src/router/modules/breadcrumb.example.ts
  src/store/modules/route.ts
  src/store/modules/tabbar.ts
  src/types/global.d.ts
Due: eslint . --cache --fix, stylelint src/**/*.{css,scss,vue} --cache --fix --allow-empty-input

chore: 更新依赖
  package.json
  pnpm-lock.yaml
  src/types/env.d.ts
  src/types/vite-env.d.ts
  tsconfig.app.json
  tsconfig.node.json
Due: eslint . --cache --fix

更新依赖
  package.json
  pnpm-lock.yaml
  src/types/env.d.ts
  src/types/vite-env.d.ts
  tsconfig.app.json
  tsconfig.node.json
Due: eslint . --cache --fix

将 `BackTop` 组件移动到 `App.vue`
  src/App.vue
  src/layouts/index.vue
  src/types/components.d.ts
  src/ui/components/FaBackToTop/index.vue
Due: eslint . --cache --fix, stylelint src/**/*.{css,scss,vue} --cache --fix --allow-empty-input

refactor: 将 `BackTop` 组件移动到 `App.vue`
  src/App.vue
  src/layouts/index.vue
  src/types/components.d.ts
  src/ui/components/FaBackToTop/index.vue
Due: eslint . --cache --fix, stylelint src/**/*.{css,scss,vue} --cache --fix --allow-empty-input

抽离 `Copyright` 组件为内建组件
  src/layouts/index.vue
  src/types/components.d.ts
  src/ui/components/FaCopyright/index.vue
  src/views/login.vue
Due: eslint . --cache --fix, stylelint src/**/*.{css,scss,vue} --cache --fix --allow-empty-input

refactor: 抽离 `Copyright` 组件为内建组件
  src/layouts/index.vue
  src/types/components.d.ts
  src/ui/components/FaCopyright/index.vue
  src/views/login.vue
Due: eslint . --cache --fix, stylelint src/**/*.{css,scss,vue} --cache --fix --allow-empty-input

fix: 导航搜索面板唤起时输入框未聚焦
  src/layouts/components/Topbar/Toolbar/NavSearch/search.vue
Due: eslint . --cache --fix, stylelint src/**/*.{css,scss,vue} --cache --fix --allow-empty-input

导航搜索面板唤起时输入框未聚焦
  src/layouts/components/Topbar/Toolbar/NavSearch/search.vue
Due: eslint . --cache --fix, stylelint src/**/*.{css,scss,vue} --cache --fix --allow-empty-input

优化删除路由中间层级对应组件的边界场景
  src/store/modules/route.ts
Due: eslint . --cache --fix

refactor: 优化删除路由中间层级对应组件的边界场景
  src/store/modules/route.ts
Due: eslint . --cache --fix

Path conditions:
  eslint . --cache --fix: any of: *.{ts,tsx,vue}
  stylelint src/**/*.{css,scss,vue} --cache --fix --allow-empty-input: any of: *.{css,scss,vue}
