Repository fantastic-admin/basic: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --cache --fix, stylelint --cache --fix --allow-empty-input

解决eslint警告
  src/App.vue
  src/api/index.ts
  src/components/Editor/index.vue
  src/layouts/components/AppSetting/index.vue
  src/layouts/components/Search/index.vue
Due: eslint --cache --fix, stylelint --cache --fix --allow-empty-input

chore: 更新依赖
  package.json
  pnpm-lock.yaml
Due: none

style: 解决eslint警告
  src/App.vue
  src/api/index.ts
  src/components/Editor/index.vue
  src/layouts/components/AppSetting/index.vue
  src/layouts/components/Search/index.vue
  src/layouts/components/Tools/index.vue
Due: eslint --cache --fix, stylelint --cache --fix --allow-empty-input

更新依赖
  package.json
  pnpm-lock.yaml
  src/types/auto-imports.d.ts
Due: eslint --cache --fix

chore: 更新依赖
  package.json
  pnpm-lock.yaml
  src/types/auto-imports.d.ts
Due: eslint --cache --fix

chore: release v2.7.0
  package.json
Due: none

更新依赖，移除 stylelint 废弃规则
  .stylelintrc
  package.json
  pnpm-lock.yaml
Due: none

chore: 更新依赖，移除 stylelint 废弃规则
  .stylelintrc
  package.json
  pnpm-lock.yaml
Due: none

优化mac系统下快捷键键位展示
  src/layouts/components/HotkeysIntro/index.vue
  src/layouts/components/Search/index.vue
  src/store/modules/settings.ts
Due: eslint --cache --fix, stylelint --cache --fix --allow-empty-input

refactor: 优化mac系统下快捷键键位展示
  src/layouts/components/HotkeysIntro/index.vue
  src/layouts/components/Search/index.vue
  src/store/modules/settings.ts
Due: eslint --cache --fix, stylelint --cache --fix --allow-empty-input

更新依赖
  package.json
  pnpm-lock.yaml
  src/types/auto-imports.d.ts
  src/types/components.d.ts
Due: eslint --cache --fix

chore: 更新依赖
  package.json
  pnpm-lock.yaml
  src/types/auto-imports.d.ts
  src/types/components.d.ts
Due: eslint --cache --fix

移除 vite-plugin-html 插件
  .env.example
  index.html
  package.json
  pnpm-lock.yaml
  public/browser_upgrade/index.css
  public/loading.css
  src/App.vue
  src/main.ts
  src/utils/baidu.ts
  src/utils/system.copyright.ts
  vite/plugins/html.ts
  vite/plugins/index.ts
Due: eslint --cache --fix, stylelint --cache --fix --allow-empty-input

refactor!: 移除 vite-plugin-html 插件
  index.html
  package.json
  pnpm-lock.yaml
  public/browser_upgrade/index.css
  public/loading.css
  src/App.vue
  src/main.ts
  src/utils/system.copyright.ts
  vite/plugins/html.ts
  vite/plugins/index.ts
Due: eslint --cache --fix, stylelint --cache --fix --allow-empty-input

修复路由`meta.auth`设置为`''`/`[]`时，权限判断为无权限的问题
  src/store/modules/menu.ts
  src/store/modules/route.ts
Due: eslint --cache --fix

fix: 修复路由`meta.auth`设置为`''`/`[]`时，权限判断为无权限的问题
  src/store/modules/menu.ts
  src/store/modules/route.ts
Due: eslint --cache --fix

修复登录页标题未正常显示
  src/App.vue
  src/router/index.ts
Due: eslint --cache --fix, stylelint --cache --fix --allow-empty-input

fix: 修复登录页标题未正常显示
  src/App.vue
  src/router/index.ts
Due: eslint --cache --fix, stylelint --cache --fix --allow-empty-input

docs: 更新readme.md
  README.md
Due: none

增加403无权限页面
  src/assets/icons/403.svg
  src/router/index.ts
  src/store/modules/route.ts
  src/views/403.vue
Due: eslint --cache --fix, stylelint --cache --fix --allow-empty-input

feat: 增加403无权限页面
  src/assets/icons/403.svg
  src/router/index.ts
  src/store/modules/route.ts
  src/views/403.vue
Due: eslint --cache --fix, stylelint --cache --fix --allow-empty-input

chore: 压缩svg文件
  src/assets/icons/404.svg
  src/assets/icons/fullscreen-exit.svg
  src/assets/icons/fullscreen.svg
  src/assets/icons/image-load-fail.svg
  src/assets/icons/search-down.svg
  src/assets/icons/search-enter.svg
  src/assets/icons/search-up.svg
  src/assets/icons/sidebar-breadcrumb.svg
  src/assets/icons/sidebar-default.svg
  src/assets/icons/sidebar-menu.svg
  src/assets/icons/toolbar-collapse.svg
Due: none

压缩svg文件
  src/assets/icons/404.svg
  src/assets/icons/example-crown.svg
  src/assets/icons/example-emotion-laugh-line.svg
  src/assets/icons/example-emotion-line.svg
  src/assets/icons/example-emotion-unhappy-line.svg
  src/assets/icons/example-star.svg
  src/assets/icons/example-vip.svg
  src/assets/icons/fixed-right-buy.svg
  src/assets/icons/fixed-right-chat.svg
  src/assets/icons/fixed-right-code.svg
  src/assets/icons/fixed-right-doc.svg
  src/assets/icons/fullscreen-exit.svg
  src/assets/icons/fullscreen.svg
  src/assets/icons/image-load-fail.svg
  src/assets/icons/pro.svg
  src/assets/icons/search-down.svg
  src/assets/icons/search-enter.svg
  src/assets/icons/search-up.svg
  src/assets/icons/sidebar-breadcrumb.svg
  src/assets/icons/sidebar-component.svg
  src/assets/icons/sidebar-cooperation.svg
  src/assets/icons/sidebar-default.svg
  src/assets/icons/sidebar-ecology.svg
  src/assets/icons/sidebar-external-link.svg
  src/assets/icons/sidebar-jsx.svg
  src/assets/icons/sidebar-keep-alive.svg
  src/assets/icons/sidebar-menu.svg
  src/assets/icons/sidebar-mock.svg
  src/assets/icons/sidebar-videos.svg
  src/assets/icons/toolbar-collapse.svg
Due: none

调整eslint规则
  .eslintrc
Due: none

chore: 调整eslint规则
  .eslintrc
Due: none

自动生成页面模板增加基于文件系统路由的配置项
  plop-templates/page/index.hbs
  plop-templates/page/prompt.js
Due: none

feat: 自动生成页面模板增加基于文件系统路由的配置项
  plop-templates/page/index.hbs
  plop-templates/page/prompt.js
Due: none

优化无权限路由的过滤函数
  src/store/modules/route.ts
Due: eslint --cache --fix

refactor: 优化无权限路由的过滤函数
  src/store/modules/route.ts
Due: eslint --cache --fix

chore: release v2.8.0
  package.json
Due: none

调整优惠信息
  src/layouts/components/BuyIt/index.vue
Due: eslint --cache --fix, stylelint --cache --fix --allow-empty-input

调整权限演示页面
  src/views/permission_example/index.vue
Due: eslint --cache --fix, stylelint --cache --fix --allow-empty-input

更新依赖
  package.json
  pnpm-lock.yaml
Due: none

用户权限变更后，自动更新导航菜单和页面权限，无需刷新页面或者重新登录
  src/App.vue
  src/components/NotAllowed/index.vue
  src/mock/route.ts
  src/router/index.ts
  src/router/modules/permission.example.ts
  src/store/modules/route.ts
  src/types/components.d.ts
  src/utils/composables/useAuth.ts
  src/views/permission_example/index.vue
  src/views/permission_example/test.vue
Due: eslint --cache --fix, stylelint --cache --fix --allow-empty-input

feat: 用户权限变更后，自动更新导航菜单和页面权限，无需刷新页面或者重新登录
  src/App.vue
  src/components/NotAllowed/index.vue
  src/router/index.ts
  src/store/modules/route.ts
  src/types/components.d.ts
  src/utils/composables/useAuth.ts
Due: eslint --cache --fix, stylelint --cache --fix --allow-empty-input

移除响应性语法糖功能，该实验性功能已被废弃
  vite/plugins/index.ts
Due: none

chore: 移除响应性语法糖功能，该实验性功能已被废弃
  vite/plugins/index.ts
Due: none

Path conditions:
  eslint --cache --fix: (any of: src/**/*.{js,jsx,ts,tsx}) or (any of: src/**/*.vue)
  stylelint --cache --fix --allow-empty-input: (any of: src/**/*.{css,scss}) or (any of: src/**/*.vue)
