Repository fantastic-admin/basic: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint . --cache --fix, stylelint src/**/*.{css,scss,vue} --cache --fix --allow-empty-input

更新依赖
  package.json
  pnpm-lock.yaml
  src/types/auto-imports.d.ts
  src/views/index.vue
Due: eslint . --cache --fix, stylelint src/**/*.{css,scss,vue} --cache --fix --allow-empty-input

更新依赖
  package.json
  pnpm-lock.yaml
  src/layouts/components/Topbar/Toolbar/Breadcrumb/index.vue
  src/views/plugin_example/currency.input.vue
Due: eslint . --cache --fix, stylelint src/**/*.{css,scss,vue} --cache --fix --allow-empty-input

chore: 更新依赖
  package.json
  pnpm-lock.yaml
  src/layouts/components/Topbar/Toolbar/Breadcrumb/index.vue
Due: eslint . --cache --fix, stylelint src/**/*.{css,scss,vue} --cache --fix --allow-empty-input

chore: release v5.9.0
  package.json
Due: none

修复 overscroll-behavior 属性行为在 chrome 144 变更引起的 bug
  src/layouts/components/Header/index.vue
  src/layouts/components/MainSidebar/index.vue
  src/layouts/components/Menu/sub.vue
  src/layouts/components/SubSidebar/index.vue
  src/ui/components/FaScrollArea/scroll-area/ScrollArea.vue
Due: eslint . --cache --fix, stylelint src/**/*.{css,scss,vue} --cache --fix --allow-empty-input

fix: 修复 overscroll-behavior 属性行为在 chrome 144 变更引起的 bug
  src/layouts/components/Header/index.vue
  src/layouts/components/MainSidebar/index.vue
  src/layouts/components/Menu/sub.vue
  src/layouts/components/SubSidebar/index.vue
  src/ui/components/FaScrollArea/scroll-area/ScrollArea.vue
Due: eslint . --cache --fix, stylelint src/**/*.{css,scss,vue} --cache --fix --allow-empty-input

更新依赖
  eslint.config.js
  package.json
  pnpm-lock.yaml
  src/components/AccountForm/EditPasswordForm.vue
  src/components/AccountForm/LoginForm.vue
  src/components/AccountForm/RegisterForm.vue
  src/components/AccountForm/ResetPasswordForm.vue
  src/layouts/components/Topbar/Tabbar/index.vue
  src/layouts/components/Topbar/Toolbar/ColorScheme/index.vue
  src/ui/components/FaDrawer/index.ts
  src/ui/components/FaFileUpload/index.vue
  src/ui/components/FaImageUpload/index.vue
  src/ui/components/FaModal/index.ts
  src/ui/components/FaNotification/toast/use-toast.ts
  src/ui/provider/index.vue
  src/views/plugin_example/cropper.vue
  src/views/plugin_example/tinymce.vue
  vite/plugins.ts
Due: eslint . --cache --fix, stylelint src/**/*.{css,scss,vue} --cache --fix --allow-empty-input

chore: 更新依赖
  README.EN.md
  README.md
  eslint.config.js
  package.json
  pnpm-lock.yaml
  src/components/AccountForm/EditPasswordForm.vue
  src/components/AccountForm/LoginForm.vue
  src/components/AccountForm/RegisterForm.vue
  src/components/AccountForm/ResetPasswordForm.vue
  src/layouts/components/Topbar/Tabbar/index.vue
  src/layouts/components/Topbar/Toolbar/ColorScheme/index.vue
  src/ui/components/FaDrawer/index.ts
  src/ui/components/FaFileUpload/index.vue
  src/ui/components/FaImageUpload/index.vue
  src/ui/components/FaModal/index.ts
  src/ui/components/FaNotification/toast/use-toast.ts
  src/ui/provider/index.vue
  vite/plugins.ts
Due: eslint . --cache --fix, stylelint src/**/*.{css,scss,vue} --cache --fix --allow-empty-input

chore: release v5.10.0
  package.json
Due: none

优化路由守卫逻辑，简化条件判断和重定向处理
  src/router/guards.ts
Due: eslint . --cache --fix

fix: 优化路由守卫逻辑，简化条件判断和重定向处理
  src/router/guards.ts
Due: eslint . --cache --fix

更新依赖
  .vscode/settings.json
  package.json
  pnpm-lock.yaml
Due: none

chore: 更新依赖
  .vscode/settings.json
  package.json
  pnpm-lock.yaml
Due: none

更新依赖
  package.json
  pnpm-lock.yaml
  src/types/env.d.ts
Due: eslint . --cache --fix

chore: 更新依赖
  package.json
  pnpm-lock.yaml
  src/types/env.d.ts
Due: eslint . --cache --fix

修复 `FaSelect` options 数组为空报错
  src/ui/components/FaSelect/index.vue
Due: eslint . --cache --fix, stylelint src/**/*.{css,scss,vue} --cache --fix --allow-empty-input

fix: 修复 `FaSelect` options 数组为空报错
  src/ui/components/FaSelect/index.vue
Due: eslint . --cache --fix, stylelint src/**/*.{css,scss,vue} --cache --fix --allow-empty-input

types
  tsconfig.app.json
  tsconfig.json
Due: none

chore: types
  tsconfig.app.json
  tsconfig.json
Due: none

更新依赖
  package.json
  pnpm-lock.yaml
Due: none

chore: 更新依赖
  package.json
  pnpm-lock.yaml
  tsconfig.app.json
Due: none

chore: release v5.10.1
  package.json
Due: none

chore: v5存档
  .github/workflows/release.yml
  .github/workflows/repo-sync.yml
Due: none

v5存档
  .github/workflows/deploy-example-site.yml
Due: none

fix: 图标组件中SVG文件无法正常显示
  packages/components/src/icon/index.vue
Due: eslint . --cache --fix, stylelint src/**/*.{css,scss,vue} --cache --fix --allow-empty-input

chore: release v6.0.0-beta.1
  package.json
Due: none

fix: 修复dev/build/serve脚本无法在 Windows 平台正常执行
  scripts/build.ts
  scripts/dev.ts
  scripts/serve.ts
Due: eslint . --cache --fix

feat: 更新 postinstall 脚本以支持技能链接和文件链接
  package.json
  scripts/postinstall.ts
Due: eslint . --cache --fix

refactor: 重构脚本以统一 CLI 接口
  package.json
  scripts/build.ts
  scripts/cli.ts
  scripts/dev.ts
  scripts/serve.ts
Due: eslint . --cache --fix

refactor: 移除skill自动安装，并新增skill统一维护位置
  .github/workflows/release.yml
  package.json
  scripts/postinstall.ts
  skills/design-taste-frontend/SKILL.md
  skills/fa-feedback/SKILL.md
  skills/fa-form-builder/SKILL.md
  skills/fa-form-builder/references/templates.md
  skills/fa-framework-settings/SKILL.md
  skills/fa-framework-settings/references/app-settings.md
  skills/fa-framework-settings/references/menu-settings.md
  skills/fa-framework-settings/references/page-settings.md
  skills/fa-framework-settings/references/tabbar-settings.md
  skills/fa-framework-settings/references/theme-settings.md
  skills/fa-framework-settings/references/toolbar-settings.md
  skills/fa-framework-settings/references/topbar-settings.md
  skills/fa-page-optimizer/SKILL.md
  skills/fa-page-optimizer/references/components-catalog.md
  skills/fa-page-optimizer/references/optimization-patterns.md
  skills/fa-route-generator/SKILL.md
  skills/fa-route-generator/references/examples.md
  skills/fa-route-generator/references/route-meta.md
  skills/fa-slot-creator/SKILL.md
  skills/fa-slot-creator/references/slot-positions.md
  skills/fa-store-generator/SKILL.md
  skills/fa-store-generator/references/store-patterns.md
  skills/fa-theme-customizer/SKILL.md
  skills/fa-theme-customizer/references/design-styles.md
  skills/fa-theme-customizer/references/theme-structure.md
Due: eslint . --cache --fix

refactor: 给components和copyright子包增加unbuild
  package.json
  packages/components/build.config.ts
  packages/components/package.json
  packages/components/tsconfig.json
  packages/copyright/build.config.ts
  packages/copyright/package.json
  packages/copyright/tsconfig.json
  pnpm-lock.yaml
  pnpm-workspace.yaml
Due: eslint . --cache --fix

chore: release v6.0.0-beta.2
  package.json
Due: none

fix: 修复后端返回路由页面无法正常显示
  apps/core/src/api/modules/app.fake.ts
  apps/core/src/router/modules/multilevel.menu.example.ts
  apps/core/src/router/routes.ts
  apps/core/src/store/modules/app/route.ts
  apps/core/src/views/multilevel_menu_example/level2/level3/page1.vue
  apps/core/src/views/multilevel_menu_example/level2/level3/page2.vue
  apps/core/src/views/multilevel_menu_example/level2/page.vue
  apps/core/src/views/multilevel_menu_example/page.vue
  apps/example/src/api/modules/app.fake.ts
  apps/example/src/api/modules/standardModule.fake.ts
  apps/example/src/api/modules/standardModule.ts
  apps/example/src/store/modules/app/route.ts
  apps/example/src/views/auth_example/index.vue
Due: eslint . --cache --fix, stylelint src/**/*.{css,scss,vue} --cache --fix --allow-empty-input

fix: 次导航异常隐藏
  apps/core/src/layouts/index.vue
  apps/example/src/layouts/index.vue
Due: eslint . --cache --fix, stylelint src/**/*.{css,scss,vue} --cache --fix --allow-empty-input

chore: 添加多个组件在 FaModal 中使用的示例
  apps/example/src/views/component_example/dropdown/_demo3.vue
  apps/example/src/views/component_example/dropdown/index.vue
  apps/example/src/views/component_example/image_preview/_demo3.vue
  apps/example/src/views/component_example/image_preview/index.vue
  apps/example/src/views/component_example/select/_demo4.vue
  apps/example/src/views/component_example/select/index.vue
Due: eslint . --cache --fix, stylelint src/**/*.{css,scss,vue} --cache --fix --allow-empty-input

chore: 更新依赖
  pnpm-lock.yaml
  pnpm-workspace.yaml
Due: none

chore: 更新依赖
  apps/core/.env.production
  apps/core/.env.test
  apps/core/package.json
  apps/core/src/types/components.d.ts
  apps/core/vite/plugins.ts
  apps/example/.env.production
  apps/example/.env.test
  apps/example/package.json
  apps/example/vite/plugins.ts
  pnpm-lock.yaml
  pnpm-workspace.yaml
Due: eslint . --cache --fix

chore: README更新
  README.EN.md
  README.md
Due: none

feat: 增加 FaPagination 组件
  apps/example/src/router/modules/component.example.ts
  apps/example/src/views/component_example/pagination/_demo1.vue
  apps/example/src/views/component_example/pagination/_demo2.vue
  apps/example/src/views/component_example/pagination/index.vue
  packages/components/index.ts
  packages/components/resolver.ts
  packages/components/src/pagination/README.md
  packages/components/src/pagination/index.vue
  packages/components/src/pagination/pagination/Pagination.vue
  packages/components/src/pagination/pagination/PaginationContent.vue
  packages/components/src/pagination/pagination/PaginationEllipsis.vue
  packages/components/src/pagination/pagination/PaginationFirst.vue
  packages/components/src/pagination/pagination/PaginationItem.vue
  packages/components/src/pagination/pagination/PaginationLast.vue
  packages/components/src/pagination/pagination/PaginationNext.vue
  packages/components/src/pagination/pagination/PaginationPrevious.vue
  packages/components/src/pagination/pagination/index.ts
Due: eslint . --cache --fix, stylelint src/**/*.{css,scss,vue} --cache --fix --allow-empty-input

Path conditions:
  eslint . --cache --fix: any of: *.{ts,tsx,vue}
  stylelint src/**/*.{css,scss,vue} --cache --fix --allow-empty-input: any of: *.{css,scss,vue}
