Repository fantastic-admin/basic: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --cache --fix, stylelint --cache --fix --allow-empty-input

路由`meta.title`修改为非必须
  src/App.vue
  src/global.d.ts
  src/layouts/components/MainSidebar/index.vue
  src/layouts/components/Search/index.vue
  src/layouts/components/SidebarItem/index.vue
  src/layouts/components/Topbar/index.vue
  src/router/index.ts
  src/store/modules/settings.ts
Due: eslint --cache --fix, stylelint --cache --fix --allow-empty-input

feat: 路由`meta.title`修改为非必须
  src/App.vue
  src/global.d.ts
  src/layouts/components/MainSidebar/index.vue
  src/layouts/components/Search/index.vue
  src/layouts/components/SidebarItem/index.vue
  src/layouts/components/Topbar/index.vue
  src/router/index.ts
  src/store/modules/settings.ts
Due: eslint --cache --fix, stylelint --cache --fix --allow-empty-input

修复文件系统路由模式下，全局搜索列表 icon 显示不全
  src/layouts/components/Search/index.vue
Due: eslint --cache --fix, stylelint --cache --fix --allow-empty-input

fix: 修复文件系统路由模式下，全局搜索列表 icon 显示不全
  src/layouts/components/Search/index.vue
Due: eslint --cache --fix, stylelint --cache --fix --allow-empty-input

移除自定义 Route.recordRaw 类型，改用 RouteRecordRaw 类型
  src/global.d.ts
  src/layouts/components/Search/index.vue
  src/router/modules/breadcrumb.example.ts
  src/router/modules/component.basic.example.ts
  src/router/modules/component.extend.example.ts
  src/router/modules/ecology.example.ts
  src/router/modules/external.link.example.ts
  src/router/modules/jsx.example.ts
  src/router/modules/keep.alive.example.ts
  src/router/modules/mock.example.ts
  src/router/modules/multilevel.menu.example.ts
  src/router/modules/permission.example.ts
  src/router/routes.ts
  src/store/modules/route.ts
Due: eslint --cache --fix, stylelint --cache --fix --allow-empty-input

refactor!: 移除自定义 Route.recordRaw 类型，改用 RouteRecordRaw 类型
  src/global.d.ts
  src/layouts/components/Search/index.vue
  src/router/modules/breadcrumb.example.ts
  src/router/modules/multilevel.menu.example.ts
  src/router/routes.ts
  src/store/modules/route.ts
Due: eslint --cache --fix, stylelint --cache --fix --allow-empty-input

修复标题显示异常
  src/App.vue
Due: eslint --cache --fix, stylelint --cache --fix --allow-empty-input

fix: 修复标题显示异常
  src/App.vue
Due: eslint --cache --fix, stylelint --cache --fix --allow-empty-input

修改 Menu.recordRaw 和 Menu.recordMainRaw 类型里的 meta 为可选参数
  src/global.d.ts
  src/layouts/components/Header/index.vue
  src/layouts/components/MainSidebar/index.vue
  src/layouts/components/Search/index.vue
  src/layouts/components/SidebarItem/index.vue
  src/layouts/components/SubSidebar/index.vue
  src/store/modules/menu.ts
Due: eslint --cache --fix, stylelint --cache --fix --allow-empty-input

refactor: 修改 Menu.recordRaw 和 Menu.recordMainRaw 类型里的 meta 为可选参数
  src/global.d.ts
  src/layouts/components/Header/index.vue
  src/layouts/components/MainSidebar/index.vue
  src/layouts/components/Search/index.vue
  src/layouts/components/SidebarItem/index.vue
  src/layouts/components/SubSidebar/index.vue
  src/store/modules/menu.ts
Due: eslint --cache --fix, stylelint --cache --fix --allow-empty-input

chore: release v2.3.0
  package.json
Due: none

更新依赖
  package.json
  pnpm-lock.yaml
Due: none

chore: 更新依赖
  package.json
  pnpm-lock.yaml
Due: none

修复 eslint 警告
  src/api/index.ts
  src/main.ts
  src/store/modules/menu.ts
  src/store/modules/route.ts
  src/store/modules/user.ts
  src/utils/composables/useMainPage.ts
  src/utils/composables/useMenu.ts
  src/views/keep_alive_example/page.vue
Due: eslint --cache --fix, stylelint --cache --fix --allow-empty-input

fix: 修复 eslint 警告
  src/api/index.ts
  src/main.ts
  src/store/modules/menu.ts
  src/store/modules/route.ts
  src/store/modules/user.ts
  src/utils/composables/useMainPage.ts
  src/utils/composables/useMenu.ts
Due: eslint --cache --fix

代码微调
  src/main.ts
Due: eslint --cache --fix

chore: 代码微调
  src/main.ts
Due: eslint --cache --fix

增加外链路由跳转提示页面，重构外链路由的配置方式
  src/global.d.ts
  src/layouts/components/BuyIt/index.vue
  src/layouts/components/Search/index.vue
  src/layouts/components/SidebarItem/index.vue
  src/layouts/components/Tools/index.vue
  src/layouts/components/views/link.vue
  src/layouts/index.vue
  src/router/modules/ecology.example.ts
  src/router/modules/external.link.example.ts
  src/store/modules/menu.ts
  src/utils/composables/useMenu.ts
  src/utils/index.ts
  src/views/index.vue
  src/views/mock_example/index.vue
Due: eslint --cache --fix, stylelint --cache --fix --allow-empty-input

feat!: 增加外链路由跳转提示页面，重构外链路由的配置方式
  src/global.d.ts
  src/layouts/components/Search/index.vue
  src/layouts/components/SidebarItem/index.vue
  src/layouts/components/Tools/index.vue
  src/layouts/components/views/link.vue
  src/layouts/index.vue
  src/store/modules/menu.ts
  src/utils/composables/useMenu.ts
  src/utils/index.ts
  src/views/index.vue
Due: eslint --cache --fix, stylelint --cache --fix --allow-empty-input

chore: release v2.4.0
  package.json
Due: none

chore: 更新readme
  README.md
Due: none

chore: readme 增加部分 badge
  README.md
Due: none

更新依赖
  package.json
  pnpm-lock.yaml
  src/api/index.ts
  src/main.ts
  src/utils/composables/useMainPage.ts
  src/utils/composables/useMenu.ts
Due: eslint --cache --fix

chore: 修改 readme
  README.md
Due: none

chore: 更新依赖
  package.json
  pnpm-lock.yaml
  src/api/index.ts
  src/main.ts
  src/utils/composables/useMainPage.ts
  src/utils/composables/useMenu.ts
Due: eslint --cache --fix

改用 element plus 原生 api 实现密码输入框显示密码功能
  src/views/login.vue
  src/views/personal/edit.password.vue
Due: eslint --cache --fix, stylelint --cache --fix --allow-empty-input

refactor: 改用 element plus 原生 api 实现密码输入框显示密码功能
  src/views/login.vue
  src/views/personal/edit.password.vue
Due: eslint --cache --fix, stylelint --cache --fix --allow-empty-input

feat!: 顶栏增加粘性模式
  src/global.d.ts
  src/layouts/components/AppSetting/index.vue
  src/layouts/components/Topbar/index.vue
  src/settings.default.ts
Due: eslint --cache --fix, stylelint --cache --fix --allow-empty-input

顶栏增加粘性模式
  src/global.d.ts
  src/layouts/components/AppSetting/index.vue
  src/layouts/components/Topbar/index.vue
  src/settings.default.ts
  src/settings.ts
Due: eslint --cache --fix, stylelint --cache --fix --allow-empty-input

优化遮罩层样式
  src/layouts/components/Search/index.vue
  src/layouts/index.vue
Due: eslint --cache --fix, stylelint --cache --fix --allow-empty-input

refactor: 优化遮罩层样式
  src/layouts/components/Search/index.vue
  src/layouts/index.vue
Due: eslint --cache --fix, stylelint --cache --fix --allow-empty-input

chore: 调整全局搜索快捷键说明文字因背景导致显示不清晰
  src/layouts/components/Search/index.vue
Due: eslint --cache --fix, stylelint --cache --fix --allow-empty-input

调整全局搜索快捷键说明文字因背景导致显示不清晰
  src/layouts/components/Search/index.vue
Due: eslint --cache --fix, stylelint --cache --fix --allow-empty-input

修复导航栏a标签href异常
  src/layouts/components/SidebarItem/index.vue
Due: eslint --cache --fix, stylelint --cache --fix --allow-empty-input

fix: 修复导航栏a标签href异常
  src/layouts/components/SidebarItem/index.vue
Due: eslint --cache --fix, stylelint --cache --fix --allow-empty-input

将类型定义 d.ts 文件统一存放到 /src/types/ 目录下
  src/components.d.ts
  src/layouts/components/Search/index.vue
  src/layouts/components/SidebarItem/index.vue
  src/menu/index.ts
  src/menu/modules/multilevel.menu.example.ts
  src/router/routes.ts
  src/settings.default.ts
  src/settings.ts
  src/shims.d.ts
  src/store/modules/menu.ts
  src/store/modules/route.ts
  src/store/modules/settings.ts
  src/types/auto-imports.d.ts
  src/types/components.d.ts
  src/types/global.d.ts
  src/types/shims.d.ts
  vite/plugins/auto-import.ts
  vite/plugins/components.ts
Due: eslint --cache --fix, stylelint --cache --fix --allow-empty-input

refactor!: 将类型定义 d.ts 文件统一存放到 /src/types/ 目录下
  src/components.d.ts
  src/layouts/components/Search/index.vue
  src/layouts/components/SidebarItem/index.vue
  src/menu/index.ts
  src/menu/modules/multilevel.menu.example.ts
  src/router/routes.ts
  src/settings.default.ts
  src/settings.ts
  src/shims.d.ts
  src/store/modules/menu.ts
  src/store/modules/route.ts
  src/store/modules/settings.ts
  src/types/auto-imports.d.ts
  src/types/components.d.ts
  src/types/global.d.ts
  src/types/shims.d.ts
  vite/plugins/auto-import.ts
  vite/plugins/components.ts
Due: eslint --cache --fix, stylelint --cache --fix --allow-empty-input

给 /src/types/ 路径增加 `#` alias
  src/layouts/components/Search/index.vue
  src/layouts/components/SidebarItem/index.vue
  src/menu/index.ts
  src/menu/modules/multilevel.menu.example.ts
  src/router/routes.ts
  src/settings.default.ts
  src/settings.ts
  src/store/modules/menu.ts
  src/store/modules/route.ts
  src/store/modules/settings.ts
  tsconfig.json
  vite.config.ts
Due: eslint --cache --fix, stylelint --cache --fix --allow-empty-input

refactor: 给 /src/types/ 路径增加 `#` alias
  src/layouts/components/Search/index.vue
  src/layouts/components/SidebarItem/index.vue
  src/menu/index.ts
  src/menu/modules/multilevel.menu.example.ts
  src/router/routes.ts
  src/settings.default.ts
  src/settings.ts
  src/store/modules/menu.ts
  src/store/modules/route.ts
  src/store/modules/settings.ts
  tsconfig.json
  vite.config.ts
Due: eslint --cache --fix, stylelint --cache --fix --allow-empty-input

优化搜索界面布局样式
  src/layouts/components/Search/index.vue
Due: eslint --cache --fix, stylelint --cache --fix --allow-empty-input

Path conditions:
  eslint --cache --fix: (any of: src/**/*.{js,jsx,ts,tsx}) or (any of: src/**/*.vue)
  stylelint --cache --fix --allow-empty-input: (any of: src/**/*.{css,scss}) or (any of: src/**/*.vue)
