Repository fantastic-admin/basic: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint . --cache --fix, stylelint src/**/*.{css,scss,vue} --cache --fix --allow-empty-input

.lintstagedrc:

{
  "*.{ts,tsx,vue}": "eslint . --cache --fix",
  "*.{css,scss,vue}": "stylelint src/**/*.{css,scss,vue} --cache --fix --allow-empty-input"
}

chore: 更新readme
  README.md
Due: none

更新依赖
  package.json
  pnpm-lock.yaml
Due: none

chore: 更新依赖
  package.json
  pnpm-lock.yaml
Due: none

chore: release v4.8.2
  package.json
Due: none

样式微调
  src/layouts/components/Header/index.vue
  src/layouts/components/MainSidebar/index.vue
  src/layouts/components/Menu/index.vue
  src/layouts/components/Menu/item.vue
  src/layouts/components/Menu/sub.vue
Due: eslint . --cache --fix, stylelint src/**/*.{css,scss,vue} --cache --fix --allow-empty-input

chore: 样式微调
  src/layouts/components/Header/index.vue
  src/layouts/components/MainSidebar/index.vue
  src/layouts/components/Menu/index.vue
  src/layouts/components/Menu/item.vue
  src/layouts/components/Menu/sub.vue
Due: eslint . --cache --fix, stylelint src/**/*.{css,scss,vue} --cache --fix --allow-empty-input

更新依赖
  .github/workflows/deploy-example-site.yml
  package.json
  pnpm-lock.yaml
  src/main.ts
  src/views/plugin_example/vxe-table.vue
Due: eslint . --cache --fix, stylelint src/**/*.{css,scss,vue} --cache --fix --allow-empty-input

修复vscode失效配置
  .vscode/settings.json
Due: none

fix: 修复vscode失效配置
  .vscode/settings.json
Due: none

配置项 `menu.menuMode` 变更为 `menu.mode`
  src/App.vue
  src/layouts/components/AppSetting/index.vue
  src/layouts/components/Header/index.vue
  src/layouts/components/HotkeysIntro/index.vue
  src/layouts/components/MainSidebar/index.vue
  src/layouts/components/SubSidebar/index.vue
  src/layouts/components/Topbar/Toolbar/index.vue
  src/layouts/components/Topbar/index.vue
  src/router/index.ts
  src/settings.default.ts
  src/store/modules/menu.ts
  src/store/modules/settings.ts
  src/types/global.d.ts
  src/views/feature_example/menuswitch.vue
Due: eslint . --cache --fix, stylelint src/**/*.{css,scss,vue} --cache --fix --allow-empty-input

refactor!: 配置项 `menu.menuMode` 变更为 `menu.mode`
  src/App.vue
  src/layouts/components/AppSetting/index.vue
  src/layouts/components/Header/index.vue
  src/layouts/components/HotkeysIntro/index.vue
  src/layouts/components/MainSidebar/index.vue
  src/layouts/components/SubSidebar/index.vue
  src/layouts/components/Topbar/Toolbar/index.vue
  src/layouts/components/Topbar/index.vue
  src/router/index.ts
  src/settings.default.ts
  src/store/modules/menu.ts
  src/store/modules/settings.ts
  src/types/global.d.ts
Due: eslint . --cache --fix, stylelint src/**/*.{css,scss,vue} --cache --fix --allow-empty-input

修复主导航 children 为空时报错
  src/store/modules/menu.ts
Due: eslint . --cache --fix

fix: 修复主导航 children 为空时报错
  src/store/modules/menu.ts
Due: eslint . --cache --fix

增加禁用开发者工具环境变量
  .env.development
  .env.example
  package.json
  pnpm-lock.yaml
  src/App.vue
Due: eslint . --cache --fix, stylelint src/**/*.{css,scss,vue} --cache --fix --allow-empty-input

feat: 增加禁用开发者工具环境变量
  .env.development
  .env.production
  .env.test
  package.json
  pnpm-lock.yaml
  src/App.vue
Due: eslint . --cache --fix, stylelint src/**/*.{css,scss,vue} --cache --fix --allow-empty-input

新增哀悼模式和色弱模式
  src/layouts/components/AppSetting/index.vue
  src/settings.default.ts
  src/store/modules/settings.ts
  src/types/global.d.ts
Due: eslint . --cache --fix, stylelint src/**/*.{css,scss,vue} --cache --fix --allow-empty-input

feat: 新增哀悼模式和色弱模式
  src/layouts/components/AppSetting/index.vue
  src/settings.default.ts
  src/store/modules/settings.ts
  src/types/global.d.ts
Due: eslint . --cache --fix, stylelint src/**/*.{css,scss,vue} --cache --fix --allow-empty-input

HDropdownMenu 组件样式调整
  src/layouts/ui-kit/HDropdownMenu.vue
Due: eslint . --cache --fix, stylelint src/**/*.{css,scss,vue} --cache --fix --allow-empty-input

style: HDropdownMenu 组件样式调整
  src/layouts/ui-kit/HDropdownMenu.vue
Due: eslint . --cache --fix, stylelint src/**/*.{css,scss,vue} --cache --fix --allow-empty-input

chore: release v4.9.0
  package.json
Due: none

feat: 次导航支持隐藏
  src/App.vue
  src/layouts/components/SubSidebar/index.vue
Due: eslint . --cache --fix, stylelint src/**/*.{css,scss,vue} --cache --fix --allow-empty-input

次导航支持隐藏
  src/App.vue
  src/layouts/components/SubSidebar/index.vue
Due: eslint . --cache --fix, stylelint src/**/*.{css,scss,vue} --cache --fix --allow-empty-input

环境变量 `VITE_APP_DEBUG_TOOL` 改成用 vite 插件的方式注入代码中
  src/App.vue
  vite/plugins/debug-tool.ts
  vite/plugins/index.ts
Due: eslint . --cache --fix, stylelint src/**/*.{css,scss,vue} --cache --fix --allow-empty-input

refactor: 环境变量 `VITE_APP_DEBUG_TOOL` 改成用 vite 插件的方式注入代码中
  src/App.vue
  vite/plugins/debug-tool.ts
  vite/plugins/index.ts
Due: eslint . --cache --fix, stylelint src/**/*.{css,scss,vue} --cache --fix --allow-empty-input

环境变量 `VITE_APP_DISABLE_DEVTOOL` 改成用 vite 插件的方式注入代码中
  src/App.vue
  vite.config.ts
  vite/plugins/debug-tool.ts
  vite/plugins/disable-devtool.ts
  vite/plugins/index.ts
Due: eslint . --cache --fix, stylelint src/**/*.{css,scss,vue} --cache --fix --allow-empty-input

refactor: 环境变量 `VITE_APP_DISABLE_DEVTOOL` 改成用 vite 插件的方式注入代码中
  src/App.vue
  vite.config.ts
  vite/plugins/debug-tool.ts
  vite/plugins/disable-devtool.ts
  vite/plugins/index.ts
Due: eslint . --cache --fix, stylelint src/**/*.{css,scss,vue} --cache --fix --allow-empty-input

移除无用代码
  src/utils/injectionKeys.ts
Due: eslint . --cache --fix

chore: 移除无用代码
  src/utils/injectionKeys.ts
Due: eslint . --cache --fix

refactor!: 移除`createInjectionKey`函数
  src/layouts/components/Menu/types.ts
  src/utils/injectionKeys.ts
Due: eslint . --cache --fix

移除`createInjectionKey`函数
  src/layouts/components/Menu/types.ts
  src/utils/injectionKeys.ts
Due: eslint . --cache --fix

refactor: vite插件合并到单个文件中维护
  vite/plugins.ts
  vite/plugins/app-info.ts
  vite/plugins/archiver.ts
  vite/plugins/auto-import.ts
  vite/plugins/banner.ts
  vite/plugins/components.ts
  vite/plugins/compression.ts
  vite/plugins/console.ts
  vite/plugins/debug-tool.ts
  vite/plugins/devtools.ts
  vite/plugins/disable-devtool.ts
  vite/plugins/index.ts
  vite/plugins/layouts.ts
  vite/plugins/mock.ts
  vite/plugins/pages.ts
  vite/plugins/svg-icon.ts
  vite/plugins/unocss.ts
Due: eslint . --cache --fix

vite插件合并到单个文件中维护
  vite/plugins.ts
  vite/plugins/app-info.ts
  vite/plugins/archiver.ts
  vite/plugins/auto-import.ts
  vite/plugins/banner.ts
  vite/plugins/components.ts
  vite/plugins/compression.ts
  vite/plugins/console.ts
  vite/plugins/debug-tool.ts
  vite/plugins/devtools.ts
  vite/plugins/disable-devtool.ts
  vite/plugins/index.ts
  vite/plugins/layouts.ts
  vite/plugins/mock.ts
  vite/plugins/pages.ts
  vite/plugins/svg-icon.ts
  vite/plugins/unocss.ts
Due: eslint . --cache --fix

上传组件增加自定义上传
  src/components/FileUpload/index.vue
  src/components/ImageUpload/index.vue
  src/components/ImagesUpload/index.vue
Due: eslint . --cache --fix, stylelint src/**/*.{css,scss,vue} --cache --fix --allow-empty-input

feat: 上传组件增加自定义上传
  src/components/FileUpload/index.vue
  src/components/ImageUpload/index.vue
  src/components/ImagesUpload/index.vue
Due: eslint . --cache --fix, stylelint src/**/*.{css,scss,vue} --cache --fix --allow-empty-input

eslint 规则调整
  eslint.config.js
  src/views/feature_example/rules.vue
Due: eslint . --cache --fix, stylelint src/**/*.{css,scss,vue} --cache --fix --allow-empty-input

chore: eslint 规则调整
  eslint.config.js
Due: none
